body.palkkaus-web {
    .container-white {
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    .sxy-master-detail-detail-nav .scroll-content {

    }
}
