.palkkaus-menu {
  .item,
  .list-ios > .item-block:first-child {
    background-color: color($colors, dark);
    color: white;
  }
  .list .item-block .item-inner {
    border-bottom: 0px none;
    margin-right: 15px;
    padding-right: 0px;
  }
  .list .border-bottom.item-block .item-inner {
    border-bottom: 1px solid lighten(color($colors, dark), 1%);
  }
  // Remove extra borders from ios:
  .list-ios > .item-block:first-child {
    border-top: 0px none;
  }
  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px none;
  }
  .list .item-block .item-inner {
    margin-right: 0;
  }
}

body.palkkaus-web .palkkaus-menu {
  > div.menu-inner > ion-content {
    background-color: color($colors, dark);
    > .scroll-content {
      overflow-y: auto;
    }
  }
  .palkkaus-logo {
    padding: 30px 25px 0 20px;
  }
  h1.site-title {
    font-size: 1.5rem;
    padding: 0 14px 0 9px;
    margin-bottom: 0;
    text-align: center;
    color: color($colors, heading);
  }
  ion-item-group {
    width: 100%;
    padding: 0;
    border-top: 1px solid lighten(color($colors, dark), 10%);
    &:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
    ion-label {
      font-weight: 300;
      font-size: 16px;
    }
    .item {
      padding-left: 14px;
      padding-right: 4px;
      [item-right] {
        margin: 0;
      }
      &:not(.current):hover,
      &:not(.current):active {
        background-color: darken(color($colors, dark), 7%);
      }
    }
    ion-avatar {
      .text-img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }
    ion-label > ion-icon {
      opacity: 0.4;
      font-size: 1em;
      width: 12px;
      &[name="document"]::before {
        margin-left: 1.5px;
      }
    }
    &.palkkaus-profile {
      > button {
        padding-right: 0;
      }
      .item {
        &:not(.current):hover,
        &:not(.current):active {
          .input-wrapper,
          h2,
          h3 {
            color: white;
          }
        }
        .input-wrapper {
          padding-right: 22px;
          &,
          h2,
          h3 {
            transition: color;
            @include transition-property(color);
            @include transition-duration(0.3s);
            @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
            color: color($colors, muted);
          }
          ion-label {
            font-size: 13px;
            h2,
            h3,
            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        &.btn-signs {
          // margin: 13px 17px 5px 14px;
          // width: calc(100% - 31px);
          .input-wrapper ion-label {
            font-weight: 300;
            font-size: 16px;
          }
          &.btn-signin:hover,
          &.btn-signin:active {
            background-color: color($colors, secondary);
          }
          &.btn-signout:hover,
          &.btn-signout:active {
            background-color: color($colors, danger);
          }
        }
      }
    }
  }
}
