body.palkkaus-web {

  color: color($colors, body);

  .page-header,
  h2,
  h3 {
    font-weight: bold;
  }

  .lead {
    font-size: 1.2em;
  }

  .content {
    font-weight: 300;
    font-size: 15px;
    font-family: 'Work sans', sans-serif;
    color: color($colors, body);
    h3,
    h2,
    h3 {
      color: color($colors, subheading);
    }
  }


  .item-md {
    h1 {
      font-size: $h1-font-size
    }
    h2 {
      font-size: $h2-font-size
    }
    h3 {
      font-size: $h3-font-size
    }
    h4 {
      font-size: $h4-font-size
    }
    h5 {
      font-size: $h5-font-size
    }
  }

}
