:host > div {
  background-color: color($colors, muted);
  width: 100%;
  height: 100%;
  > div {
    max-width: 500px;
    max-height: 800px;
    height: 100%;
    margin: auto;
    position: relative;
  }
}
