<div>
  <ion-searchbar (ionInput)="setSearch($event)" placeholder="{{ 'SALAXY.UI_TERMS.search' | sxyTranslate }}"></ion-searchbar>
  <ion-list text-wrap *ngIf="searchResults.length > 0">
    <ion-item-group>
      <ion-item-divider no-lines>{{ 'SALAXY.ION.COMPONENTS.CalcAddRow.searchResults' | sxyTranslate }}</ion-item-divider>
      <button text-wrap ion-item *ngFor="let rowType of searchResults" (click)="setRow(rowType.name)">
        <ion-thumbnail item-left [ngStyle]="{'background-image': getCombinedBackgroundImage(rowType)}">
          <div style="height:56px;line-height:56px;text-align:center;font-weight:bold;">
            <span>{{ rowType.iconText }}</span>
          </div>
        </ion-thumbnail>
        <h2>{{ rowType.label }}</h2>
        <p text-wrap>{{ rowType.descr }}</p>
      </button>
    </ion-item-group>
  </ion-list>
  <ion-list text-wrap *ngIf="searchResults.length == 0">
    <ion-item-group>
      <ion-item-divider no-lines>{{ 'SALAXY.ION.COMPONENTS.CalcAddRow.mostCommon' | sxyTranslate }}</ion-item-divider>
      <button text-wrap ion-item no-lines *ngFor="let rowType of getRowTypes('favorites')" (click)="setRow(rowType.name)">
        <ion-thumbnail item-left [ngStyle]="{'background-image': getCombinedBackgroundImage(rowType)}">
          <div style="height:56px;line-height:56px;text-align:center;font-weight:bold;">
            <span>{{ rowType.iconText }}</span>
          </div>
        </ion-thumbnail>
        <h2>{{ rowType.label }}</h2>
        <p text-wrap>{{ rowType.descr }}</p>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider no-lines>{{ 'SALAXY.ION.COMPONENTS.CalcAddRow.salaryRows' | sxyTranslate }}</ion-item-divider>
      <button text-wrap ion-item *ngFor="let rowType of getRowTypes('salary')" (click)="setRow(rowType.name)">
        <ion-thumbnail item-left [ngStyle]="{'background-image': getCombinedBackgroundImage(rowType)}">
          <div style="height:56px;line-height:56px;text-align:center;font-weight:bold;">
            <span>{{ rowType.iconText }}</span>
          </div>
        </ion-thumbnail>
        <h2>{{ rowType.label }}</h2>
        <p text-wrap>{{ rowType.descr }}</p>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider no-lines>{{ 'SALAXY.ION.COMPONENTS.CalcAddRow.salaryAdditions' | sxyTranslate }}</ion-item-divider>
      <button text-wrap ion-item *ngFor="let rowType of getRowTypes('salaryAdditions')" (click)="setRow(rowType.name)">
        <ion-thumbnail item-left [ngStyle]="{'background-image': getCombinedBackgroundImage(rowType)}">
          <div style="height:56px;line-height:56px;text-align:center;font-weight:bold;">
            <span>{{ rowType.iconText }}</span>
          </div>
        </ion-thumbnail>
        <h2>{{ rowType.label }}</h2>
        <p text-wrap>{{ rowType.descr }}</p>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider no-lines>{{ 'SALAXY.ION.COMPONENTS.CalcAddRow.benefits' | sxyTranslate }}</ion-item-divider>
      <button text-wrap ion-item *ngFor="let rowType of getRowTypes('benefits')" (click)="setRow(rowType.name)">
        <ion-thumbnail item-left [ngStyle]="{'background-image': getCombinedBackgroundImage(rowType)}">
          <div style="height:56px;line-height:56px;text-align:center;font-weight:bold;">
            <span>{{ rowType.iconText }}</span>
          </div>
        </ion-thumbnail>
        <h2>{{ rowType.label }}</h2>
        <p text-wrap>{{ rowType.descr }}</p>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider no-lines>{{ 'SALAXY.ION.COMPONENTS.CalcAddRow.expenses' | sxyTranslate }}</ion-item-divider>
      <button text-wrap ion-item *ngFor="let rowType of getRowTypes('expenses')" (click)="setRow(rowType.name)">
        <ion-thumbnail item-left [ngStyle]="{'background-image': getCombinedBackgroundImage(rowType)}">
          <div style="height:56px;line-height:56px;text-align:center;font-weight:bold;">
            <span>{{ rowType.iconText }}</span>
          </div>
        </ion-thumbnail>
        <h2>{{ rowType.label }}</h2>
        <p text-wrap>{{ rowType.descr }}</p>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider no-lines>{{ 'SALAXY.ION.COMPONENTS.CalcAddRow.expenses' | sxyTranslate }}</ion-item-divider>
      <button text-wrap ion-item *ngFor="let rowType of getRowTypes('deductions')" (click)="setRow(rowType.name)">
        <ion-thumbnail item-left [ngStyle]="{'background-image': getCombinedBackgroundImage(rowType)}">
          <div style="height:56px;line-height:56px;text-align:center;font-weight:bold;">
            <span>{{ rowType.iconText }}</span>
          </div>
        </ion-thumbnail>
        <h2>{{ rowType.label }}</h2>
        <p text-wrap>{{ rowType.descr }}</p>
      </button>
    </ion-item-group>
  </ion-list>
</div>
