<div *ngIf="type && showUsecase">
  <sxy-calc-usecase (done)="usecaseComponentDone($event)"></sxy-calc-usecase>
</div>
<div *ngIf="type && !showUsecase">
  <sxy-card img="https://cdn.salaxy.com/ng/img/cards/boy-with-bubbles.jpg" [color]="rowConfig.color" [title]="rowConfig.label" [subTitle]="subTitle"
    [price]="((row.count || 1) * (row.price || 0) | salaxyPrice)" [avatar]="{ initials:rowConfig.iconText, color:rowConfig.color }"
    [showInfoText]="true" [hasLongInfoText]="rowConfig.moreInfo && rowConfig.moreInfo !== ''">
    <div shortInfoText>
      <p>{{ rowConfig.descr }}</p>
    </div>
    <div longInfoText>
      <p>{{ rowConfig.moreInfo }}</p>
    </div>
  </sxy-card>
  <form (ngSubmit)="commit()" #currentForm="ngForm">
    <sxy-input-number *ngIf="rowConfig.amount.input != 'hidden'" required class="emphases" [label]="rowConfig.amount.label" [disabled]="isReadOnly" [(ngModel)]="count" name="count"></sxy-input-number>
    <sxy-input-number *ngIf="rowConfig.price.input != 'hidden'" required class="emphases" [label]="rowConfig.price.label" [disabled]="isReadOnly" [(ngModel)]="row.price" name="price"></sxy-input-number>
    <p padding *ngIf="isReadOnly">
      {{ 'SALAXY.ION.COMPONENTS.CalcRow.automaticallyCreated' | sxyTranslate }}
      <br>
      <a (click)="goToUsecase()">{{ 'SALAXY.ION.COMPONENTS.CalcRow.editHere' | sxyTranslate }}</a>.
    </p>
    <div salaxy-form-buttons>
      <button *ngIf="isNew || isReadOnly" ion-button type="reset" clear navPop>{{ 'SALAXY.UI_TERMS.back' | sxyTranslate }}</button>
      <button *ngIf="isNew" [disabled]="!currentForm.form.valid" type="submit" ion-button>
        {{ 'SALAXY.UI_TERMS.add' | sxyTranslate }}
      </button>
      <div *ngIf="!isNew && !isReadOnly">
        <button type="button" ion-button color="danger" outline (click)="delete()">
          {{ 'SALAXY.ION.COMPONENTS.CalcRow.delete' | sxyTranslate }}
        </button>
        <button type="submit" [disabled]="!currentForm.form.valid" ion-button color="positive">
          {{ 'SALAXY.ION.COMPONENTS.CalcRow.updateCalc' | sxyTranslate }}
        </button>
      </div>
    </div>
  </form>
</div>
