<mat-list>
    <h3 md-subheader style="max-width: 350px">
        <button md-mini-fab style="float: right" (click)="createNew()"><mat-icon>add</mat-icon></button>
        Palkkalaskelmat
    </h3>
    <mat-list-item *ngFor="let calc of list" (click)="select(calc)" class="click">
        <salaxy-avatar [avatar]="getOtherParty(calc)"
                style="font-size: 48px;" md-list-avatar></salaxy-avatar>
            <h4 md-line>{{ calc.result.totals.totalGrossSalary | currency : 'EUR' : true }} at {{calc.paidAt | date}}</h4>
            <p md-line>{{ getOtherParty(calc).displayName }}</p>
            <p md-line>{{ calc.id }}</p>
    </mat-list-item>
</mat-list>
