<sxy-master-detail-view title="Select Usecase (Create Calculation)" asideTitle="Debugger">
  <content>
    <div class="container-fixed container-white">
      <sxy-select-usecase [setCurrent]="false" (done)="usecaseSelected($event)" (groupSelected)="groupSelected($event)"></sxy-select-usecase>
    </div>
  </content>
  <aside>
    <p class="lead">Selecting a usecase will create a new calculation and take the user to
      <a href="/#/examples/CalcCalculatorBasicExample">CalcCalculatorBasicExample</a>
    </p>
  </aside>
</sxy-master-detail-view>
