<sxy-master-detail-view title="Credit Transfer Example">
  <content>
    <div class="container-white" style="margin: 0 50px; padding: 30px;">
      <p>Examples for credit transfer forms used in euro payments in the SEPA (Single Euro Payments Area).</p>
      <sxy-credit-transfer-form lang="fi"></sxy-credit-transfer-form>
      <sxy-credit-transfer-form lang="en"></sxy-credit-transfer-form>
      <sxy-credit-transfer-form lang="sv"></sxy-credit-transfer-form>
    </div>
  </content>
</sxy-master-detail-view>
