<sxy-master-detail-view title="Worker List Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Worker List Example</h1>
      <sxy-worker-list></sxy-worker-list>
    </div>
  </content>
</sxy-master-detail-view>
