<sxy-master-detail-view title="Worker Editor Example">
  <content>
    <div class="container-fixed container-white">
      <sxy-worker-list [itemSxyDetailPush]="workerDetailsComponent"></sxy-worker-list>
    </div>
  </content>
</sxy-master-detail-view>
