<ion-list padding-vertical>
  <ng-container *ngIf="role === 'worker'">
    <h5 padding>
      <ion-icon name="warning" item-start></ion-icon>
      {{ 'SALAXY.ION.COMPONENTS.WorkerList.changeRoleToEmployerForViewing' | sxyTranslate }}
    </h5>
  </ng-container>
  <ng-container *ngIf="role !== 'worker'">
    <button ion-button *ngIf="!hideCreateButton" (click)="createNew()" block round outline icon-start text-left margin-horizontal
      margin-bottom>
      {{ 'SALAXY.ION.COMPONENTS.WorkerList.addNew' | sxyTranslate }}
    </button>
    <ion-searchbar *ngIf="itemsCount > 5" placeholder="{{ 'SALAXY.UI_TERMS.searchByName' | sxyTranslate }}" [(ngModel)]="filterByText"
      animated="true" margin-horizontal margin-bottom></ion-searchbar>
    <ion-item *ngIf="filterByText && filterByText.length > 0 && items.length < 1" text-center text-uppercase padding-vertical>
      <h3>{{ 'SALAXY.ION.COMPONENTS.WorkerList.noSearchResults' | sxyTranslate }}</h3>
    </ion-item>
    <ion-item *ngIf="itemsCount < 1" class="color-muted">
      <ion-icon name="people" item-start></ion-icon>
      <h3>{{ 'SALAXY.ION.COMPONENTS.WorkerList.tryWithExamples' | sxyTranslate }}</h3>
    </ion-item>
    <button text-wrap ion-item *ngFor="let worker of items" (click)="select(worker)">
      <sxy-avatar [avatar]="worker.avatar" item-start></sxy-avatar>
      <h3>{{ worker.avatar.displayName }}</h3>
      <p>{{ worker.avatar.description || worker.contact.email || worker.contact.city }}</p>
    </button>
  </ng-container>
</ion-list>
