<form #currentForm="ngForm" (ngSubmit)="save()" novalidate>
  <ion-list>
    <ion-item no-lines class="input-group-header">
      <h2>{{ 'SALAXY.ION.COMPONENTS.WorkerDetails.identityTitle' | sxyTranslate }}</h2>
    </ion-item>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.avatar.firstName" name="firstName" required label="SALAXY.ION.COMPONENTS.WorkerDetails.firstName"></sxy-input-text>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.avatar.lastName" name="lastName" required label="SALAXY.ION.COMPONENTS.WorkerDetails.lastName"></sxy-input-text>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.officialPersonId" name="officialPersonId" sxyPersonalIdFi label="SALAXY.ION.COMPONENTS.WorkerDetails.ssNumber"></sxy-input-text>
    <ion-item no-lines class="input-group-header">
      <h2>{{ 'SALAXY.ION.COMPONENTS.WorkerDetails.contactTitle' | sxyTranslate }}</h2>
    </ion-item>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.email" name="email" sxyEmail label="SALAXY.ION.COMPONENTS.WorkerDetails.email" margin-top></sxy-input-text>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.telephone" name="telephone" sxyMobilePhone label="SALAXY.ION.COMPONENTS.WorkerDetails.tel"></sxy-input-text>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.street" name="street" label="SALAXY.ION.COMPONENTS.WorkerDetails.address"></sxy-input-text>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.postalCode" name="postalCode" sxyPostalCodeFi label="SALAXY.ION.COMPONENTS.WorkerDetails.postalCode"></sxy-input-text>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.city" name="city" label="SALAXY.ION.COMPONENTS.WorkerDetails.postalArea"></sxy-input-text>
    <ion-item no-lines class="input-group-header">
      <h2>{{ 'SALAXY.ION.COMPONENTS.WorkerDetails.paymentTitle' | sxyTranslate }}</h2>
    </ion-item>
    <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.ibanNumber" name="ibanNumber" sxyIban label="SALAXY.ION.COMPONENTS.WorkerDetails.ibanNumber"></sxy-input-text>
    <ion-item *ngIf="editMode && isExample" no-lines>
      <ion-note item-end>{{ 'SALAXY.ION.COMPONENTS.ContactDetails.noteCannotDeleteExamples' | sxyTranslate }}</ion-note>
    </ion-item>
    <ion-item *ngIf="editMode" padding-top no-lines>
      <ion-note item-end>{{ 'SALAXY.UI_TERMS.noteRequiredField' | sxyTranslate }}</ion-note>
    </ion-item>
  </ion-list>
</form>
<div salaxy-form-buttons>
  <sxy-form-button *ngIf="editMode" type="submit" [form]="currentForm" label="SALAXY.UI_TERMS.save"></sxy-form-button>
  <sxy-form-button *ngIf="!editMode" type="button" label="SALAXY.UI_TERMS.edit" color="secondary" (click)="toggleEditMode()"></sxy-form-button>
  <sxy-form-button-secondary *ngIf="showDelete" type="button" label="SALAXY.ION.COMPONENTS.WorkerDetails.removeWorker" (click)="delete()"></sxy-form-button-secondary>
</div>
