<sxy-master-detail-view title="Salary Calculations Components">
  <content>
    <div style="max-width: 460px; margin: auto">
      <p>The item click-event is bound in the same way as <code>sxyDetailPush</code>.
        When <code>navParams</code> is non-null, the calculation is always added to <code>navParams.calc</code>
        so that information is passed to the receiving component. If <code>detailComponent</code> would
        handle the <code>navParams.get('calc')</code>, we could set <code>skipCurrentItemSet=true</code> in this setup.
      </p>
      <sxy-calc-cards [itemSxyDetailPush]="detailComponent" [navParams]="{}"></sxy-calc-cards>
    </div>
  </content>
</sxy-master-detail-view>
