<sxy-master-detail-view title="Grouped Calc List example">
  <content>
    <div class="container-fixed container-white">
      <ion-list>
        <ion-item>
          <ion-label stacked>Group by:</ion-label>
          <ion-select interface="popover" [(ngModel)]="groupBySelection">
            <ion-option value="status" selected="true">Status (default)</ion-option>
            <ion-option value="employer">employer</ion-option>
            <ion-option value="worker">worker</ion-option>
            <ion-option value="otherParty">otherParty</ion-option>
            <ion-option value="year">year</ion-option>
            <ion-option value="month">month</ion-option>
          </ion-select>
        </ion-item>
        <sxy-input-number [(ngModel)]="maxNumber" label="Limit number of items in list"></sxy-input-number>
      </ion-list>
      <p padding>
          In this example, we handle the <code>(itemSelect)</code> event directly.
          Here we are free to do anything we want with the selected calculation.
          If we set <code>skipCurrentItemSet=true</code>, the underlying component will do nothing.
      </p>
      <sxy-calc-grouped-list [groupBy]="groupBySelection" [limitTo]="maxNumber"
        (itemSelect)="selected($event)"></sxy-calc-grouped-list>
    </div>
  </content>
</sxy-master-detail-view>
