<sxy-master-detail-view title="Calc Payment List Example">
  <content>
    <div class="container-fixed container-white">
      <sxy-calc-payment-list></sxy-calc-payment-list>
    </div>
  </content>
</sxy-master-detail-view>
