<sxy-master-detail-view title="Calculation List Example">
  <content>
    <div class="container-fixed container-white">
      <ion-list>
        <ion-item>
          <ion-label stacked>Statuses shown in the list:</ion-label>
          <ion-select [(ngModel)]="statuses" multiple="true">
            <ion-option value="draft" selected="true">Draft</ion-option>
            <ion-option value="paymentSucceeded" selected="true">Payment Succeeded</ion-option>
            <ion-option value="paymentWorkerCopy" selected="true">Payment Worker Copy</ion-option>
            <ion-option value="paymentCanceled">Payment Canceled</ion-option>
            <ion-option value="paymentError">Payment Error</ion-option>
            <ion-option value="paymentRefunded">Payment Refunded</ion-option>
            <ion-option value="paymentStarted">Payment Started</ion-option>
          </ion-select>
        </ion-item>
        <sxy-input-number [(ngModel)]="maxNumber" label="Limit number of items in list"></sxy-input-number>
      </ion-list>
      <p padding>
        The item click-event is bound in the same way as <code>navPush</code> with custom <code>navParams</code>  params <code>{{ '{' }} foo: "faa" }</code>.
      </p>
      <sxy-calc-list [filterStatuses]="statuses" [limitTo]="maxNumber" itemNavPush="CalcCalculatorBasicExample" [navParams]="{ foo: 'faa'}"></sxy-calc-list>
    </div>
  </content>
</sxy-master-detail-view>
