<div [ngSwitch]="usecase.uri">
  <sxy-usecase-construction *ngSwitchCase="knownUsecases.construction" [calc]="calc" (done)="commit($event)"></sxy-usecase-construction>
  <sxy-usecase-child-care *ngSwitchCase="knownUsecases.childCare" [calc]="calc" (done)="commit($event)"></sxy-usecase-child-care>
  <sxy-usecase-cleaning *ngSwitchCase="knownUsecases.cleaning" [calc]="calc" (done)="commit($event)"></sxy-usecase-cleaning>
  <sxy-usecase-santa-claus *ngSwitchCase="knownUsecases.santaClaus" [calc]="calc" (done)="commit($event)"></sxy-usecase-santa-claus>
  <sxy-usecase-mll *ngSwitchCase="knownUsecases.mll" [calc]="calc" (done)="commit($event)"></sxy-usecase-mll>
  <sxy-usecase *ngSwitchDefault [calc]="calc" (done)="commit($event)"></sxy-usecase>
</div>
