<ion-list>
  <button text-wrap ion-item *ngFor="let item of currentList" (click)="selectNode(item)">
    <ion-thumbnail item-left *ngIf="item.icon">
      <sxy-icon-with-badge [icon]="item.icon" [badge]="item.badge">
      </sxy-icon-with-badge>
    </ion-thumbnail>
    <h2>{{ item.label }}</h2>
    <p *ngIf="item.descr">{{ item.descr }}</p>
  </button>
  <button *ngIf="showBackToRoot && selectedItem" ion-item detail-none (click)="goToParent()">
    <ion-thumbnail item-left class="sxy-back-icon">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-thumbnail>
    <h2>{{ 'SALAXY.ION.COMPONENTS.CalcSelectUsecase.back' | sxyTranslate }}</h2>
    <p>{{ 'SALAXY.ION.COMPONENTS.CalcSelectUsecase.prevMenu' | sxyTranslate }}</p>
  </button>
</ion-list>
