<sxy-card
  [title]="usecase.label"
  [subTitle]="'SALAXY.ION.COMPONENTS.CalcUsecaseSantaClaus.fixedPaymentAtChristmas' | sxyTranslate: { payment: getSum() }"
  [price]="getSum() | salaxyPrice"
  [icon]="usecase.icon"
  [badge]="usecase.badge"
  [showInfoText]="true">
  <div shortInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseSantaClaus.shortInfoText.html' | sxyTranslate"></div>
  <div longInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseSantaClaus.longInfoText.html' | sxyTranslate"></div>
</sxy-card>
<form (ngSubmit)="commit()" #currentForm="ngForm">
  <ion-list>
    <sxy-input-number label="SALAXY.ION.COMPONENTS.CalcUsecaseSantaClaus.agreedPayment" name="price" class="emphases" required [(ngModel)]="calc.salary.price"></sxy-input-number>
  </ion-list>
  <sxy-form-button label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button>
</form>
