<sxy-card [title]="usecaseChildCare.label" [subTitle]="getSubTitle()" [price]="getSum() | salaxyPrice" [icon]="usecaseChildCare.icon" [badge]="usecaseChildCare.badge"
  [showInfoText]="true">
  <div shortInfoText>
    <span [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseChildCare.shortInfoText.html' | sxyTranslate"></span>
  </div>
  <div longInfoText *ngIf="usecaseChildCare.isChildcareSubsidy"
    [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseChildCare.longInfoTextIfChildcareSubsidy.html' | sxyTranslate"></div>
  <div longInfoText *ngIf="!usecaseChildCare.isChildcareSubsidy"
    [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseChildCare.longInfoTextIfNotChildcareSubsidy.html' | sxyTranslate"></div>
</sxy-card>
<form (ngSubmit)="commit()" #currentForm="ngForm">
  <ion-list>
    <sxy-input-number label="SALAXY.ION.COMPONENTS.CalcUsecaseChildCare.childcareSubsidy" *ngIf="usecaseChildCare.isChildcareSubsidy" class="emphases" required [(ngModel)]="usecaseChildCare.subsidyAmount"
      name="subsidyAmount"></sxy-input-number>
    <ion-item no-lines>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.salaryKind' | sxyTranslate }}:</ion-label>
      <ion-select interface="popover" name="kind" [(ngModel)]="calc.salary.kind" (ionChange)="changeSalaryKind()">
        <ion-option value="hourlySalary">{{ 'SALAXY.ENUM.SalaryKind.hourlySalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="monthlySalary">{{ 'SALAXY.ENUM.SalaryKind.monthlySalary.label' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <sxy-input-number [label]="childCarePriceLabel" class="emphases" required [(ngModel)]="calc.salary.price" name="price"></sxy-input-number>
    <sxy-input-number *ngIf="calc.salary.kind == 'hourlySalary'" class="emphases" required [(ngModel)]="calc.salary.amount" name="amount"
      label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.hourCount"></sxy-input-number>
    <ion-item class="total" text-wrap *ngIf="usecaseChildCare.isChildcareSubsidy">
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseChildCare.workerTotalPayment' | sxyTranslate }}</ion-label>
      <!-- Multiply hack should be removed with this: https://trello.com/c/lcdIY6TB/334-numeric-input -->
      <ion-label fixed style="max-width: 80px" text-right>{{ (calc.salary.price * 1) * (calc.salary.amount * 1) + (usecaseChildCare.subsidyAmount * 1) | salaxyPrice }}</ion-label>
    </ion-item>
    <sxy-input-period label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.periodText" required [(ngModel)]="periodText" name="period"></sxy-input-period>
    <ion-item *ngIf="!usecase.isChildcareSubsidy">
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.householdDeduction' | sxyTranslate }}</ion-label>
      <ion-toggle name="isHouseholdDeductible" color="positive" [(ngModel)]="usecase.isHouseholdDeductible"></ion-toggle>
    </ion-item>
    <ion-item no-lines>
      <p *ngIf="usecaseChildCare.isChildcareSubsidy" text-wrap>
        {{ 'SALAXY.ION.COMPONENTS.CalcUsecaseChildCare.footnoteIsChildcareSubsidy' | sxyTranslate }}
      </p>
      <p *ngIf="!usecaseChildCare.isNotChildcareSubsidy" text-wrap>
        {{ 'SALAXY.ION.COMPONENTS.CalcUsecaseChildCare.footnoteIsNotChildcareSubsidy' | sxyTranslate }}
      </p>
    </ion-item>
  </ion-list>
  <sxy-form-button label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button>
</form>
