<sxy-card [title]="usecaseMll.label" [subTitle]="cardSubtitle" [price]="getSum() | salaxyPrice" [icon]="usecaseMll.icon" [badge]="usecaseMll.badge" [showInfoText]="true">
  <div shortInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseMll.shortInfoText.html' | sxyTranslate"></div>
  <div longInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseMll.longInfoText.html' | sxyTranslate"></div>
</sxy-card>
<form (ngSubmit)="commit()" #currentForm="ngForm">
  <ion-list>
    <sxy-input-number [(ngModel)]="calc.salary.amount" label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.periodText" name="amount" class="emphases" required min="2"></sxy-input-number>
    <ion-item no-lines>
      <ion-label color="muted">{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.isSunday' | sxyTranslate }}</ion-label>
      <ion-toggle name="isSunday" [(ngModel)]="usecaseMll.isSunday"></ion-toggle>
    </ion-item>
    <ion-item no-lines>
      <ion-label color="muted" text-wrap>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseMll.useCustomPrice' | sxyTranslate }}<</ion-label>
      <ion-toggle name="usecaseMll.useCustomPrice" [(ngModel)]="usecaseMll.useCustomPrice"></ion-toggle>
    </ion-item>
    <sxy-input-number *ngIf="usecaseMll.useCustomPrice" [(ngModel)]="calc.salary.price" label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.eurPerH" name="price" step="0.1" class="emphases"></sxy-input-number>
  </ion-list>
  <sxy-form-button label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button>
</form>
