<sxy-card [title]="usecase.label" [subTitle]="getSubTitle()" [price]="getSum() | salaxyPrice" [icon]="usecase.icon" [badge]="usecase.badge"
  [showInfoText]="true">
  <div shortInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseCleaning.shortInfoText.html' | sxyTranslate"></div>
  <div longInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseCleaning.longInfoText.html' | sxyTranslate"></div>
</sxy-card>
<form (ngSubmit)="commit()" #currentForm="ngForm">
  <ion-list>
    <sxy-input-text label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.workDescription" *ngIf="usecase.subType == 'other'" name="workTypeOtherMessage" [(ngModel)]="usecase.workTypeOtherMessage"></sxy-input-text>
    <ion-item no-lines>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.salaryKind' | sxyTranslate }}:</ion-label>
      <ion-select interface="popover" name="kind" [(ngModel)]="calc.salary.kind" (ionChange)="changeSalaryKind()">
        <ion-option value="fixedSalary">{{ 'SALAXY.ENUM.SalaryKind.fixedSalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="hourlySalary">{{ 'SALAXY.ENUM.SalaryKind.hourlySalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="monthlySalary">{{ 'SALAXY.ENUM.SalaryKind.monthlySalary.label' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <sxy-input-number [label]="('SALAXY.ION.COMPONENTS.CalcUsecaseBase.pleaseInput' | sxyTranslate) + ' ' + priceLabel" required class="emphases" [(ngModel)]="calc.salary.price" name="price"></sxy-input-number>
    <sxy-input-number *ngIf="calc.salary.kind == 'hourlySalary'" label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.hourCount" required class="emphases" name="amount" [(ngModel)]="calc.salary.amount"></sxy-input-number>
    <sxy-input-period label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.periodText" required [(ngModel)]="periodText" name="period"></sxy-input-period>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseCleaning.contractLastedLessThanYear' | sxyTranslate }}</ion-label>
      <ion-toggle name="isContractLessThanYear" color="positive" [(ngModel)]="usecase.isContractLessThanYear"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseCleaning.fullTime' | sxyTranslate }}</ion-label>
      <ion-toggle name="isFullTime" color="positive" [(ngModel)]="usecase.isFullTime"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.householdDeduction' | sxyTranslate }}</ion-label>
      <ion-toggle name="isHouseholdDeductible" color="positive" [(ngModel)]="usecase.isHouseholdDeductible"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="usecase.isFullTime" text-wrap>
      <ion-label color="danger" [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseCleaning.footnote.html' | sxyTranslate"></ion-label>
    </ion-item>
  </ion-list>
  <sxy-form-button label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button>
</form>
