<sxy-card [title]="usecase.label" [subTitle]="getSubTitle()" [price]="getSum() | salaxyPrice" [icon]="usecase.icon" [badge]="usecase.badge"
  [showInfoText]="true">
  <div shortInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseBase.shortInfoText.html' | sxyTranslate"></div>
  <div longInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseBase.longInfoText.html' | sxyTranslate"></div>
</sxy-card>
<form (ngSubmit)="commit()" #currentForm="ngForm">
  <ion-list>
    <sxy-input-text *ngIf="usecase.subType == 'other'" [(ngModel)]="usecase.workTypeOtherMessage" name="workTypeOtherMessage"
      label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.workDescription"></sxy-input-text>
    <ion-item no-lines>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.salaryKind' | sxyTranslate }}:</ion-label>
      <ion-select interface="popover" name="kind" [(ngModel)]="calc.salary.kind" (ionChange)="changeSalaryKind()">
        <ion-option value="fixedSalary">{{ 'SALAXY.ENUM.SalaryKind.fixedSalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="hourlySalary">{{ 'SALAXY.ENUM.SalaryKind.hourlySalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="monthlySalary">{{ 'SALAXY.ENUM.SalaryKind.monthlySalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="compensation">{{ 'SALAXY.ENUM.SalaryKind.compensation.label' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <sxy-input-number class="emphases" required [(ngModel)]="calc.salary.price" name="price"
      label="{{ ('SALAXY.ION.COMPONENTS.CalcUsecaseBase.pleaseInput' | sxyTranslate) + ' ' + priceLabel }}"></sxy-input-number>
    <sxy-input-number *ngIf="calc.salary.kind == 'hourlySalary'" class="emphases" required name="amount" [(ngModel)]="calc.salary.amount" label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.hourCount"></sxy-input-number>
    <sxy-input-period required name="period" [(ngModel)]="periodText" label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.periodText"></sxy-input-period>
    <sxy-input-text name="message" [(ngModel)]="calc.salary.message" label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.salaryMessage"></sxy-input-text>
    <ion-item *ngIf="showHouseholdDeductionSelection">
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.householdDeduction' | sxyTranslate }}</ion-label>
      <ion-toggle name="isHouseholdDeductible" color="positive" [(ngModel)]="usecase.isHouseholdDeductible"></ion-toggle>
    </ion-item>
  </ion-list>
</form>
