<sxy-card [title]="usecase.label" [subTitle]="'SALAXY.ION.COMPONENTS.CalcUsecaseConstruction.subtitlePlusExpenses' | sxyTranslate: { subtitle: getSubTitle() }"
  [price]="getSum() | salaxyPrice" [icon]="usecase.icon" [badge]="usecase.badge" [showInfoText]="true">
  <div shortInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseConstruction.shortInfoText.html' | sxyTranslate"></div>
  <div longInfoText [innerHtml]="'SALAXY.ION.COMPONENTS.CalcUsecaseConstruction.longInfoText.html' | sxyTranslate"></div>
</sxy-card>
<form (ngSubmit)="commit()" #currentForm="ngForm">
  <ion-list>
    <ion-item no-lines>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.salaryKind' | sxyTranslate }}:</ion-label>
      <ion-select interface="popover" name="kind" [(ngModel)]="calc.salary.kind" (ionChange)="changeSalaryKind()">
        <ion-option value="fixedSalary">{{ 'SALAXY.ENUM.SalaryKind.fixedSalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="hourlySalary">{{ 'SALAXY.ENUM.SalaryKind.hourlySalary.label' | sxyTranslate }}</ion-option>
        <ion-option value="monthlySalary">{{ 'SALAXY.ENUM.SalaryKind.monthlySalary.label' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <sxy-input-number label="{{ ('SALAXY.ION.COMPONENTS.CalcUsecaseBase.pleaseInput' | sxyTranslate) + ' ' + priceLabel }}" required class="emphases" [(ngModel)]="calc.salary.price" name="price"></sxy-input-number>
    <sxy-input-number *ngIf="calc.salary.kind == 'hourlySalary'" label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.periodText" required class="emphases" [(ngModel)]="calc.salary.amount" name="amount"></sxy-input-number>
    <sxy-input-period label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.periodText" required [(ngModel)]="periodText" name="period"></sxy-input-period>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.householdDeduction' | sxyTranslate }}</ion-label>
      <ion-toggle name="isHouseholdDeductible" color="positive" [(ngModel)]="usecase.isHouseholdDeductible"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.tesInclusions' | sxyTranslate }}</ion-label>
      <ion-select interface="popover" name="isTesIncludedInSalary" [(ngModel)]="usecase.isTesIncludedInSalary">
        <ion-option [value]="false">{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.noCalcAuto' | sxyTranslate }}</ion-option>
        <ion-option [value]="true">{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.yesAgreedTotalPayment' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.expensesCustom' | sxyTranslate }}</ion-label>
      <ion-select interface="popover" name="isExpensesCustom" [(ngModel)]="usecase.isExpensesCustom">
        <ion-option [value]="false">{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.noByTes' | sxyTranslate }}</ion-option>
        <ion-option [value]="true">{{ 'SALAXY.ION.COMPONENTS.CalcUsecaseBase.yesAgreedPerDay' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="!usecase.isExpensesCustom">
      <sxy-input-number label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.dailyTravelExpensesKm" required name="dailyTravelExpensesKm" [(ngModel)]="usecase.dailyTravelExpensesKm"></sxy-input-number>
    </div>
    <div *ngIf="usecase.isExpensesCustom">
      <sxy-input-number label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.dailyExpenses" required [(ngModel)]="usecase.dailyExpenses" name="dailyExpenses"></sxy-input-number>
      <sxy-input-number label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.dailyTravelExpenses" required [(ngModel)]="usecase.dailyTravelExpenses" name="dailyTravelExpenses"></sxy-input-number>
    </div>
    <sxy-input-text label="SALAXY.ION.COMPONENTS.CalcUsecaseBase.workDescription" *ngIf="calc.framework.subType == 'constructionOther'" name="workTypeOtherMessage" [(ngModel)]="usecase.workTypeOtherMessage"></sxy-input-text>
  </ion-list>
  <sxy-form-button label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button>
</form>
