sxy-calc-overview {
  .salaxy-calc-overiew-chart-card {
    padding-left: 50px;
    padding-right: 50px;
  }
  table {
    width: 100%;
    .right {
      text-align: right;
    }
    tr {
      td,
      th {
        text-align: left;
        vertical-align: top;
      }
      &.total {
        td,
        th {
          font-weight: bold;
          border-top: solid 1px black;
          border-bottom: double 3px black;
        }
      }
    }
  }

  // When showing all the details, we need a bit smaller font.
  .salaxy-calc-overview-table-details {
    .salaxy-calc-overview-table {
      font-size: 1rem;
      &.salaxy-calc-overview-table-payments {
        font-size: 0.6rem;
      }
    }
  }

  // Basic table hides some columns
  .salaxy-calc-overview-table-basic {
    .salaxy-calc-overview-table-employer {
      table:nth-child(3),
      table:nth-child(5) {
        th,
        td {
          display: none;
        }
        th,
        td {
          &:nth-child(1),
          &:nth-last-child(1) {
            display: table-cell;
          }
        }
      }
    }
    .salaxy-calc-overview-table-payments {
      table:nth-child(1) {
        th,
        td {
          display: none;
        }
        th,
        td {
          &:nth-child(1),
          &:nth-last-child(1) {
            display: table-cell;
          }
        }
      }
    }
    .salaxy-calc-overview-table-worker {
      table:nth-child(3),
      table:nth-child(5),
      table:nth-child(7) {
        th,
        td {
          display: none;
        }
        th,
        td {
          &:nth-child(1),
          &:nth-last-child(1) {
            display: table-cell;
          }
        }
      }
    }
  }
}
