<div padding [ngSwitch]="type">
  <div *ngSwitchCase="'short'">
    <div [innerHTML]="'SALAXY.ION.COMPONENTS.CalcSharing.shareLink.html' | sxyTranslate: { url: link }"></div>
    <button block round ion-button (click)="doSwitch=true">{{ 'SALAXY.ION.COMPONENTS.CalcSharing.recreateOrDelete' | sxyTranslate }}</button>
  </div>
  <div *ngSwitchCase="'shortWithPwd'">
    <div [innerHTML]="'SALAXY.ION.COMPONENTS.CalcSharing.shareLink.html' | sxyTranslate: { url: link }"></div>
    <p class="lead">{{ 'SALAXY.ION.COMPONENTS.CalcSharing.noteHaveSetPassword' | sxyTranslate }}</p>
    <button block round ion-button (click)="doSwitch=true">{{ 'SALAXY.ION.COMPONENTS.CalcSharing.changePasswordOrDelete' | sxyTranslate }}</button>
  </div>
  <div *ngSwitchCase="'unguessable'">
    <div [innerHTML]="'SALAXY.ION.COMPONENTS.CalcSharing.shareLink.html' | sxyTranslate: { url: link }"></div>
    <button block round ion-button (click)="doSwitch=true">{{ 'SALAXY.ION.COMPONENTS.CalcSharing.createAgainOrDelete' | sxyTranslate }}</button>
  </div>
  <div *ngSwitchDefault>{{ 'SALAXY.ION.COMPONENTS.CalcSharing.notSharedYet' | sxyTranslate }}</div>
</div>
<ion-list *ngIf="type == 'noSharing' || doSwitch">
  <button ion-item (click)="share('short')">
    <h2>{{ 'SALAXY.ION.COMPONENTS.CalcSharing.easyLinkTitle' | sxyTranslate }}</h2>
    <p text-wrap [innerHTML]="'SALAXY.ION.COMPONENTS.CalcSharing.easyLinkDescription.html' | sxyTranslate"></p>
  </button>
  <button ion-item (click)="share('shortWithPwd')">
    <h2>{{ 'SALAXY.ION.COMPONENTS.CalcSharing.easyLinkWithPasswordTitle' | sxyTranslate }}</h2>
    <p text-wrap >{{ 'SALAXY.ION.COMPONENTS.CalcSharing.easyLinkWithPasswordDescription' | sxyTranslate }}</p>
  </button>
  <button ion-item (click)="share('unguessable')">
    <h2>{{ 'SALAXY.ION.COMPONENTS.CalcSharing.safeLinkTitle' | sxyTranslate }}</h2>
    <p text-wrap [innerHTML]="'SALAXY.ION.COMPONENTS.CalcSharing.safeLinkDescription.html' | sxyTranslate"></p>
  </button>
  <button ion-item [disabled]="type == 'noSharing'" (click)="share('noSharing')">
    <h2>{{ 'SALAXY.ION.COMPONENTS.CalcSharing.deleteTitle' | sxyTranslate }}</h2>
    <p text-wrap>{{ 'SALAXY.ION.COMPONENTS.CalcSharing.deleteDescription' | sxyTranslate }}</p>
  </button>
</ion-list>
