<div style="background-color: gray; width: 100%; height: 100%">
  <div style="max-width: 500px; max-height: 800px; height: 100%; margin: auto; position: relative" [ngSwitch]="wizardStep"
    class="wizard">
    <sxy-onboarding-person *ngSwitchCase="0" (done)="next()"></sxy-onboarding-person>
    <sxy-onboarding-phone *ngSwitchCase="1" (done)="next()"></sxy-onboarding-phone>
    <sxy-onboarding-phone-verify *ngSwitchCase="2" (done)="next()"></sxy-onboarding-phone-verify>
    <sxy-onboarding-identifier *ngSwitchCase="3" (done)="next()"></sxy-onboarding-identifier>
    <sxy-onboarding-tupas *ngSwitchCase="4" (done)="next()"></sxy-onboarding-tupas>
  </div>
</div>
