<sxy-master-detail-view title="TaxCard Example">
  <content>
    <div class="container-fixed container-white">
      <sxy-tax-card #cardComponent></sxy-tax-card>
    </div>
  </content>
  <aside>
    <sxy-debugger [dump]="cardComponent.model" text="Verokortin tiedot:"></sxy-debugger>
  </aside>
</sxy-master-detail-view>
