<sxy-master-detail-view title="TaxCard List Example">
  <content>
    <div class="container-fixed container-white">
      <sxy-tax-card-list></sxy-tax-card-list>
    </div>
  </content>
</sxy-master-detail-view>
