sxy-master-detail-view {
  ion-split-pane.split-pane-visible
    > .split-pane-side.sxy-master-detail-detail-nav {
    min-width: 400px;
    max-width: 490px;
  }

  .card-md,
  .card-ios,
  .card-wp {
    margin: 0px;
    width: 100%;
  }

  .page-header {
    color: color($colors, heading);
    margin-top: 36px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
  }
}

/* Default detail container in master-detail views. Mix of padding and container fixed. */
.sxy-container-detail {
  padding: 4px;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding: 16px;
    padding-left: 42px;
    max-width: 600px;
    margin: auto;
  }
}

.sxy-master-detail-detail-template .page-header {
  color: color($colors, heading);
  margin-top: 36px;
  margin-left: 42px;
  margin-right: 16px;
}

.sxy-master-detail-main-content {
  @media (min-width: map-get($grid-breakpoints, sm)) {
    background-color: color($colors, light);
  }
}

// Enable if you need to add margin for toolbar (probably for Mobile only)
/*
.md sxy-master-detail-view .sxy-master-detail-main-content {
    margin-top: $navbar-md-height;
}
.wp sxy-master-detail-view .sxy-master-detail-main-content {
    margin-top: $navbar-wp-height;
}
.ios sxy-master-detail-view .sxy-master-detail-main-content {
    margin-top: $navbar-ios-height;
}
*/
