<ion-header class="hidden-desktop">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end *ngIf="showSettings">
      <button ion-button icon-only (click)="settings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="sxy-master-detail-detail-template">
  <button ion-button sxyDetailPop clear large icon-only float-right class="hidden-mobile">
    <ion-icon name="close"></ion-icon>
  </button>
  <h1 class="page-header">{{ title }}&nbsp;</h1>
  <div class="sxy-container-detail">
    <div #componentContainer></div>
  </div>
</ion-content>
