<ion-split-pane when="xl" (ionChange)="onSplitPaneChanged($event._visible)">
  <ion-tabs main>
    <ion-header class="palkkaus-mobile-header">
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          {{ title }}
        </ion-title>
      </ion-navbar>
    </ion-header>
    <ion-content class="sxy-master-detail-main-content">
      <h1 class="page-header">{{ title }}&nbsp;</h1>
      <div *ngIf="contentContainer; else bareContent" class="sxy-component-container {{ contentContainerClasses }}">
        <ng-container *ngTemplateOutlet="bareContent"></ng-container>
      </div>
      <ng-template #bareContent>
        <ng-content *ngIf="!masterComponent" select="content"></ng-content>
        <ng-container *ngComponentOutlet="masterComponent"></ng-container>
      </ng-template>
    </ion-content>
  </ion-tabs>
  <ion-tabs *ngIf="!showDetailComponent" side="right" class="sxy-master-detail-detail-nav">
    <ion-content class="sxy-master-detail-aside-content">
      <h1 class="page-header">{{ asideTitle }}&nbsp;</h1>
      <div class="sxy-container-detail">
        <ng-content select="aside"></ng-content>
      </div>
    </ion-content>
  </ion-tabs>
  <ion-nav #sxyMasterDetailNavCtrlDetail
    name="sxyMasterDetailNavCtrlDetail"
    [root]="asideTemplate"
    [rootParams]="{ ctrl: aside }"
    side="right"
    class="sxy-master-detail-detail-nav"
    [style.display]="showDetailComponent ? 'block' : 'none'"></ion-nav>
</ion-split-pane>
