<sxy-master-detail-view title="Avatar Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Avatar examples</h1>
      <h2>Avatar palkkaus</h2>
      <sxy-avatar avatar="palkkaus" item-start></sxy-avatar>
      <h2>Avatar anon</h2>
      <sxy-avatar avatar="anon" item-start></sxy-avatar>
      <h2>Custom avatar</h2>
      <sxy-avatar [avatar]="{ initials: 'OK', color: 'green', entityType: 'company' }" item-start></sxy-avatar>
    </div>
  </content>
</sxy-master-detail-view>
