<sxy-master-detail-view title="Avatar Editor Example">
    <content>
      <div class="container-fixed container-white">
        <h1>Avatar Editor example</h1>
        <sxy-avatar-editor></sxy-avatar-editor>
      </div>
    </content>
</sxy-master-detail-view>
