<sxy-master-detail-view title="Card Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Card example</h1>
      <sxy-card img="https://cdn.salaxy.com/ng/img/cards/boy-with-bubbles.jpg" title="Tilapäinen lastenhoito" subTitle="Lastenhoito MLL:n suositusten mukaan"
        price="22 €/h" avatar="palkkaus" [showInfoText]="true">
        <div shortInfoText>
          <p>Lastenhoitajan palkka Mannerheimin Lastensuojeluliiton suositusten mukaan. Palkka ilmoitetaan kotitalousvähennykseen.</p>
        </div>
        <div longInfoText>
          <p>Perhe maksaa käteisellä lasten hoitajalle palkkana 8,20 €/tunti (sunnuntaina 16,40). Tämä on kokonaiskorvaus, joka
            sisältää lomakorvauksen. Tunnit ilmoitetaan puolen tunnin tarkkuudella, minimi 2 tuntia.</p>
        </div>
      </sxy-card>
    </div>
  </content>
</sxy-master-detail-view>
