<sxy-master-detail-view title="sxy-debugger example" #masterDetail>
  <content>
    <sxy-debugger [dump]="{ literal: 'foo', time: tester }" text="Here some text xxx">
      <content>
        This is a debugger
        <br> with HTML content.
      </content>
    </sxy-debugger>
    <div>
      <button ion-button [navPush]="debuggerComponent" [navParams]="pushParams">NavPush to debugger (primary color)</button>
    </div>
    <div>
      <button ion-button (click)="goToDebugger()">Go to debugger (code behind / secondary color)</button>
    </div>
    <sxy-debugger color="primary" text="Primary color"></sxy-debugger>
    <sxy-debugger color="secondary" text="Secondary color"></sxy-debugger>
    <sxy-debugger color="dark" text="Dark color"></sxy-debugger>
    <sxy-debugger color="danger" text="Danger color"></sxy-debugger>
  </content>
</sxy-master-detail-view>
