<sxy-master-detail-view title="Icon with Badge Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Icon with Badge example</h1>
      <p>Childcare icon with MLL badge</p>
      <sxy-icon-with-badge icon="https://cdn.salaxy.com/ng/img/framework/icon/childcare.svg" badge="https://cdn.salaxy.com/ng/img/framework/badge/mll.png"></sxy-icon-with-badge>
      <p>Large Carpeter icon with Rakennusliitto badge</p>
      <sxy-icon-with-badge size="large" icon="https://cdn.salaxy.com/ng/img/framework/icon/construction-carpenter.svg" badge="https://cdn.salaxy.com/ng/img/framework/badge/raksa.png"></sxy-icon-with-badge>
    </div>
  </content>
</sxy-master-detail-view>
