<sxy-master-detail-view title="Info Text Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Info Text example</h1>
      <sxy-info-text [hasLongText]="true" padding>
        <div shortText>We have some info for you...</div>
        <div longText>
          <p>This is the information</p>
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        </div>
      </sxy-info-text>
    </div>
  </content>
</sxy-master-detail-view>
