<sxy-master-detail-view title="Popunder Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Popunder example</h1>
      <div>
        <button ion-button (click)="openModalSimple()">Open modal (simple example)</button>
      </div>
      <div>
        <button ion-button (click)="openModalAdvanced()">Open modal (advanced example)</button>
      </div>
    </div>
  </content>
</sxy-master-detail-view>
