<sxy-master-detail-view title="Progress Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Progress example</h1>
      <h2>30%</h2>
      <sxy-progress value="0.3"></sxy-progress>
      <h2>90%</h2>
      <sxy-progress value="0.9"></sxy-progress>
    </div>
  </content>
</sxy-master-detail-view>
