<sxy-master-detail-view title="Rounded Ion Item Example">
  <content>
    <div class="container-fixed container-white" style="position: relative;">
      <h1>Rounded Ion Item Icon example</h1>
      <sxy-rounded-ion-item-icon></sxy-rounded-ion-item-icon>
    </div>
  </content>
</sxy-master-detail-view>
