<sxy-master-detail-view title="Spinner Secondary Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Spinner Secondary example</h1>
      <sxy-spinner-secondary></sxy-spinner-secondary>
    </div>
  </content>
</sxy-master-detail-view>
