<sxy-master-detail-view title="Spinner Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Spinner example</h1>
      <sxy-spinner></sxy-spinner>
    </div>
  </content>
</sxy-master-detail-view>
