<div class="salaxy-row">
    <div class="scol-4">
        <mat-list>
            <h3 md-subheader>Articles (click to show on the right)</h3>
            <mat-list-item *ngFor="let item of articles" (click)="setCurrent(item.id)" class="click">
                <mat-icon md-list-avatar>insert_drive_file</mat-icon>
                <h4 md-line>{{item.title}}</h4>
                <p md-line> {{item.date | date}} </p>
                <p md-line><code>{{ item.id}}</code></p>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="scol-8">
        <h1>{{ article.title }}</h1>
        <p>{{ article.id }}</p>
        <div [innerHTML]="article.html"></div>
    </div>
</div>
