<sxy-master-detail-view
  title="{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.title' | sxyTranslate }}"
  asideTitle="{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.asideTitle' | sxyTranslate }}">
  <content>
    <div padding-md *ngIf="view == 'overview'">
      <div style="position: relative">
        <button ion-button (click)="view = 'editor'" clear icon-only style="z-index: 1000; position: absolute; right: -2px; top: -4px">
          <ion-icon name="close"></ion-icon>
        </button>
        <sxy-calc-overview hideChart="true"></sxy-calc-overview>
        <div padding>
          <button block round ion-button (click)="view = 'editor'">{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.continueEditing' | sxyTranslate }}</button>
          <button block round ion-button [sxyDetailPush]="CalcSharingComponent" [navParams]="null" title="{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.sharingCalc' | sxyTranslate }}">
            {{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.sharingCalc' | sxyTranslate }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="view == 'editor'" class="container-fixed container-white">
      <ion-list>
        <button ion-item [sxyDetailPush]="CalcUsecaseComponent" [navParams]="{ done: closeDetail }" title="{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.basicDetails' | sxyTranslate }}" detail-none>
          <ion-thumbnail class="large" item-right>
            <sxy-icon-with-badge [icon]="usecase.icon" [badge]="usecase.badge" size="large">
            </sxy-icon-with-badge>
          </ion-thumbnail>
          <h2>{{ current.usecase.label }}</h2>
          <p text-wrap>{{ current.usecase.description }}</p>
        </button>
        <button ion-item [sxyDetailPush]="CalcPeriodComponent" [navParams]="{ done: recalculateAndCloseDetail }" title="{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.workFromPeriod' | sxyTranslate }}">
          <h3>{{ getDatesSummary() }}</h3>
        </button>
        <button *ngIf="!current.worker.isSelf" ion-item [sxyDetailPush]="CalcWorkerComponent" title="{{ 'SALAXY.NG.ROLES.worker' | sxyTranslate }}">
          <sxy-avatar [avatar]="current.worker?.avatar" item-right></sxy-avatar>
          <h3>{{ current.worker.avatar.displayName || 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.chooseWorker' | sxyTranslate }}</h3>
          <p>{{ current.worker.paymentData?.telephone || 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.noTel' | sxyTranslate }}</p>
        </button>
        <button *ngIf="current.worker.isSelf" ion-item [sxyDetailPush]="CalcWorkerComponent" title="{{ 'SALAXY.NG.ROLES.worker' | sxyTranslate }}">
            <sxy-avatar [avatar]="current.worker?.avatar" item-right></sxy-avatar>
            <h3>{{ current.worker.avatar.displayName || 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.chooseWorker' | sxyTranslate }}</h3>
            <p>{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.youMarkedAsWorker' | sxyTranslate }}</p>
        </button>
        <ion-item-group class="spacing">
          <button ion-item *ngFor="let row of allRows; let idx = index" [sxyDetailPush]="CalcRowComponent" [navParams]="{row: row, done: recalculateAndCloseDetail }" title="{{ current.worker.avatar.displayName || 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.rowDetails' | sxyTranslate }}">
            <ion-icon name="square" item-start [ngStyle]="{'color': getColor(row)}"></ion-icon>
            <ion-label>{{ row.message || getEnumLabel("CalculationRowType", row.rowType) }}</ion-label>
            <div item-content>
              + {{ row.count * row.price | salaxyPrice }}
            </div>
          </button>
          <button ion-item no-lines [sxyDetailPush]="CalcAddRowComponent" [navParams]="{ done: addRow }" title="{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.addRowTitle' | sxyTranslate }}">
            <ion-icon name="add" item-start color="primary"></ion-icon>
            <span ion-text color="muted">{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.addRow' | sxyTranslate }}</span>
          </button>
        </ion-item-group>

        <ion-item-group>
          <ion-item no-lines>
            <h2>{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.totalGrossSalary' | sxyTranslate }}</h2>
            <div item-content>
              <h2>{{ (current.result ? current.result.totals.totalGrossSalary : 0) | salaxyPrice }}</h2>
            </div>
          </ion-item>
          <ion-item no-lines>
            <ion-label ion-text color="muted">
              {{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.costToEmployer' | sxyTranslate }}
              <br>{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.paidToWorker' | sxyTranslate }}
              <span *ngIf="shouldShowTotals()">
                <br>
                <button ion-button clear style="padding:0;" (click)="view = 'overview'">{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.seeMoreDetails' | sxyTranslate }} &raquo;</button>
              </span>
            </ion-label>
            <div item-content text-right>
              <span ion-text color="muted">
                {{ (current.result ? current.result.employerCalc.totalPayment : 0) | salaxyPrice }}
                <br>
                <span ion-text color="muted">{{ (current.result ? current.result.workerCalc.totalWorkerPayment : 0) | salaxyPrice }}</span>
                <span *ngIf="shouldShowTotals()">
                  <br>
                  <button ion-button clear style="padding:0;" (click)="view = 'overview'">&nbsp;</button>
                </span>
              </span>
            </div>
          </ion-item>
        </ion-item-group>
      </ion-list>
      <div padding>
        <button block round ion-button [sxyDetailPush]="CalcSharingComponent" [navParams]="null" title="{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.sharingCalc' | sxyTranslate }}">{{ 'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.sharingCalc' | sxyTranslate }}</button>
      </div>
    </div>
  </content>
  <aside>
    <div *ngIf="view == 'overview'">
      <sxy-calc-overview hideTables="true"></sxy-calc-overview>
    </div>
    <div *ngIf="view == 'editor'" [innerHtml]="'SALAXY.ION.COMPONENTS.CalcCalculatorBasic.editorFootnote.html' | sxyTranslate"></div>
  </aside>
</sxy-master-detail-view>
