<sxy-master-detail-view title="Kontaktit">
  <content>
    <div class="container-fixed container-white">
      <sxy-contact-list [itemSxyDetailPush]="ContactDetailsComponent"></sxy-contact-list>
    </div>
  </content>
  <aside></aside>
</sxy-master-detail-view>
