<h1>Calculation list - repository</h1>
<p>
This implementation uses the repository pattern: The way you would typically implement calculation list.
List of calculations as well as the current calculation is maintained by the CalculationRepository service.
The CalculationRepository service is accessed from SalaxyContext which makes is a singleton:
All the different components will access the same instances of list and current calculation.
</p>
<div class="salaxy-row">
    <div class="scol-4">
        <salaxy-calc-list></salaxy-calc-list>
    </div>
    <div class="scol-8">
        <salaxy-calc-detail></salaxy-calc-detail>
    </div>
</div>
