<sxy-master-detail-view title="{{ 'SALAXY.ION.PAGES.SwitchProfile.title' | sxyTranslate }}" [asideTitle]="getCurrentRoleText()">
  <content>
    <div id="page-switch-profile" class="container-fixed container-white" padding>
      <h3 padding-top padding-horizontal>{{ getCurrentRoleText() }}</h3>
      <p padding-horizontal>{{ 'SALAXY.ION.PAGES.SwitchProfile.changeRoleOrLogout' | sxyTranslate }}</p>
      <ion-list>
        <button ion-item (click)="signIn()" *sxyIfRole="'anon'">
          <ion-thumbnail item-start>
            <ion-icon name="lock" color="secondary"></ion-icon>
          </ion-thumbnail>
          <h2>{{ 'SALAXY.UI_TERMS.login' | sxyTranslate }} ({{ 'SALAXY.UI_TERMS.demo' | sxyTranslate }})</h2>
          <p text-wrap>{{ 'SALAXY.ION.PAGES.SwitchProfile.usingAsAnon' | sxyTranslate }}</p>
        </button>
        <button  ion-item (click)="signOut()" *sxyIfRole="'auth'">
          <ion-thumbnail item-start>
            <ion-icon name="unlock" color="danger"></ion-icon>
          </ion-thumbnail>
          <h2>{{ 'SALAXY.UI_TERMS.logout' | sxyTranslate }}</h2>
          <p>{{ 'SALAXY.UI_TERMS.logoutAlt' | sxyTranslate }}</p>
        </button>
        <button ion-item [ngClass]="{ 'current': role == 'worker' }" [disabled]="role == 'worker' || !canSwitchToWorker" (click)="switchRole('worker')">
          <ion-thumbnail item-start>
            <img src="https://cdn.salaxy.com/ng/img/screenshots/worker-new.png">
          </ion-thumbnail>
          <h2>{{ 'SALAXY.NG.ROLES.worker' | sxyTranslate }}</h2>
          <p>{{ 'SALAXY.ION.PAGES.SwitchProfile.workerSubtitle' | sxyTranslate }}</p>
        </button>
        <button ion-item [disabled]="role == 'worker' || !canSwitchToWorker">
          <ion-thumbnail item-start>
            <img src="https://cdn.salaxy.com/ng/img/screenshots/worker.jpg">
          </ion-thumbnail>
          <h2>{{ 'SALAXY.NG.ROLES.worker' | sxyTranslate }} ({{ 'SALAXY.UI_TERMS.oldVersion' | sxyTranslate }})</h2>
          <p>{{ 'SALAXY.ION.PAGES.SwitchProfile.workerOldSubtitle' | sxyTranslate }}</p>
        </button>
        <button ion-item [ngClass]="{ 'current': role == 'household' }" [disabled]="role == 'household' || !canSwitchToHousehold" (click)="switchRole('household')">
          <ion-thumbnail item-start>
            <img src="https://cdn.salaxy.com/ng/img/screenshots/household.jpg">
          </ion-thumbnail>
          <h2>{{ 'SALAXY.NG.ROLES.household' | sxyTranslate }}</h2>
          <p>{{ 'SALAXY.ION.PAGES.SwitchProfile.householdSubtitle' | sxyTranslate }}</p>
        </button>
        <button ion-item [ngClass]="{ 'current': role == 'company' }" [disabled]="role == 'company' || !canSwitchToCompany" (click)="switchRole('company')">
          <ion-thumbnail item-start>
            <img src="https://cdn.salaxy.com/ng/img/screenshots/company.jpg">
          </ion-thumbnail>
          <h2>{{ 'SALAXY.NG.ROLES.companyOrAssociation' | sxyTranslate }}</h2>
          <p>{{ 'SALAXY.ION.PAGES.SwitchProfile.companyOrAssocSubtitle' | sxyTranslate }}</p>
        </button>
      </ion-list>
      <h3 padding-top padding-horizontal>{{ 'SALAXY.ION.PAGES.SwitchProfile.titleAccountDetails' | sxyTranslate }}</h3>
      <p padding-horizontal>TODO:</p>
      <ul>
        <li>Avatar</li>
        <li>Nimet</li>
        <li>Puhelin</li>
        <li>Sähköposti</li>
      </ul>
    </div>
  </content>
  <aside>
    <div padding [innerHtml]="'SALAXY.ION.PAGES.SwitchProfile.asideBody.html' | sxyTranslate"></div>
  </aside>
</sxy-master-detail-view>
