ion-thumbnail > img {
  border: color($colors, primary) 2px solid;
  border-radius: 8px;
}

ion-thumbnail > ion-icon {
  font-size: 2.6em;
  margin-top: 3px;
  text-align: center;
  width: 100%;
}

.item.current {
  opacity: 1;
  background-color: color($colors, primary);
  &, h2 {
    color: color($colors, dark) !important;
  }
  h3, p {
    color: color($colors, muted) !important;
  }
}

.item.current .item-inner {
  border-color: color($colors, primary);
  background-image: none !important;
}

#page-switch-profile {
  .item {
    &:hover,
    &:active {
      background-color: darken(color($colors, light), 1%);
    }
    .item-inner {
      border-bottom: none;
    }
  }
}
