<ion-list text-wrap>
  <button ion-item [sxyDetailPush]="SettingsGeneralComponent" title="SALAXY.ION.COMPONENTS.SettingsEditButtons.generalSettingsTitle">
    <ion-avatar item-start class="no-rounding">
      <img src="https://cdn.salaxy.com/img/elems/product-logos/palkkaus.png">
    </ion-avatar>
    <h2>{{ 'SALAXY.ION.COMPONENTS.SettingsEditButtons.generalSettingsTitle' | sxyTranslate }}</h2>
  </button>
  <button ion-item [sxyDetailPush]="SettingsPensionComponent" title="SALAXY.ION.COMPONENTS.SettingsEditButtons.pensionContractTitle">
    <ion-avatar item-start class="no-rounding">
      <img src="https://cdn.salaxy.com/img/elems/product-logos/varma-tyel.png">
    </ion-avatar>
    <h2>{{ 'SALAXY.ION.COMPONENTS.SettingsEditButtons.pensionContractTitle' | sxyTranslate }}</h2>
  </button>
  <button ion-item [sxyDetailPush]="SettingsTaxComponent" title="SALAXY.ION.COMPONENTS.SettingsEditButtons.taxTitle">
    <ion-avatar item-start class="no-rounding">
      <img src="https://cdn.salaxy.com/img/elems/product-logos/tax.png">
    </ion-avatar>
    <h2>{{ 'SALAXY.ION.COMPONENTS.SettingsEditButtons.taxTitle' | sxyTranslate }}</h2>
  </button>
  <button ion-item [sxyDetailPush]="SettingsInsuranceComponent" title="SALAXY.ION.COMPONENTS.SettingsEditButtons.insuranceTitle">
    <ion-avatar item-start class="no-rounding">
      <img src="https://cdn.salaxy.com/img/elems/product-logos/if.png">
    </ion-avatar>
    <h2>{{ 'SALAXY.ION.COMPONENTS.SettingsEditButtons.insuranceTitle' | sxyTranslate }}</h2>
  </button>
  <button ion-item [sxyDetailPush]="SettingsHouseholdSubsidyComponent" title="SALAXY.ION.COMPONENTS.SettingsEditButtons.householdSubsidyTitle">
    <ion-avatar item-start class="no-rounding">
      <img src="https://cdn.salaxy.com/img/elems/product-logos/tax.png">
    </ion-avatar>
    <h2>{{ 'SALAXY.ION.COMPONENTS.SettingsEditButtons.householdSubsidyTitle' | sxyTranslate }}</h2>
  </button>
  <button ion-item [sxyDetailPush]="SettingsUnemploymentComponent" title="SALAXY.ION.COMPONENTS.SettingsEditButtons.unemploymentTitle">
    <ion-avatar item-start class="no-rounding">
      <img src="https://cdn.salaxy.com/img/elems/product-logos/tvr.png">
    </ion-avatar>
    <h2>{{ 'SALAXY.ION.COMPONENTS.SettingsEditButtons.unemploymentTitle' | sxyTranslate }}</h2>
  </button>
  <button ion-item [sxyDetailPush]="SettingsTaxComponent" title="SALAXY.ION.COMPONENTS.SettingsEditButtons.taxCardAndEmailTitle">
    <ion-avatar item-start class="no-rounding">
      <img src="https://cdn.salaxy.com/img/elems/product-logos/palkkaus.png">
    </ion-avatar>
    <h2>{{ 'SALAXY.ION.COMPONENTS.SettingsEditButtons.taxCardAndEmailTitle' | sxyTranslate }}</h2>
  </button>
</ion-list>
