<ion-list>
  <ion-item>
    <ion-label>{{ 'SALAXY.ION.COMPONENTS.SettingsGeneral.isSalariesPaidThisYearQuestionLabel' | sxyTranslate}}</ion-label>
    <ion-toggle [(ngModel)]="tax.isSalariesPaidThisYear"></ion-toggle>
  </ion-item>
  <sxy-input-number [(ngModel)]="otherSalariesAmount" *ngIf="tax.isSalariesPaidThisYear" label="SALAXY.ION.COMPONENTS.SettingsGeneral.otherSalariesAmountLabel"></sxy-input-number>
  <ion-item>
    <ion-label>{{ 'SALAXY.ION.COMPONENTS.SettingsGeneral.employerIsResponsibleForTaxCardInputLabel' | sxyTranslate}}</ion-label>
    <ion-toggle [(ngModel)]="employerIsResponsibleForTaxCardInput"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SALAXY.ION.COMPONENTS.SettingsGeneral.serviceSendsCalculationEmailsToWorkersLabel' | sxyTranslate}}</ion-label>
    <ion-toggle [(ngModel)]="serviceSendsCalculationEmailsToWorkers"></ion-toggle>
  </ion-item>
</ion-list>
