<ion-list>
  <ion-item text-wrap>
    <ion-label>{{ 'SALAXY.ION.COMPONENTS.SettingsHouseholdSubsidy.isHouseholdReportingLabel' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="tax.isHouseholdReportingEnabled"></ion-toggle>
  </ion-item>
</ion-list>
