<ion-list>
  <ion-item text-wrap>
    <ion-label>{{'SALAXY.ION.COMPONENTS.SettingsInsurance.insuranceContractQuestionLabel' | sxyTranslate}}</ion-label>
    <ion-toggle [(ngModel)]="insurance.isInsuranceContractDone"></ion-toggle>
  </ion-item>
  <sxy-select label="SALAXY.ION.COMPONENTS.SettingsInsurance.insuranceCompanyLabel" *ngIf="insurance.isInsuranceContractDone" [(ngModel)]="insurance.insuranceCompany" enum="InsuranceCompany" hiddenOptions="none"></sxy-select>
  <sxy-input-text [(ngModel)]="insurance.insuranceContractNumber" *ngIf="insurance.isInsuranceContractDone && insurance.insuranceCompany != 'other'" label="SALAXY.ION.COMPONENTS.SettingsInsurance.insuranceContractNumberLabel"></sxy-input-text>
  <ion-item text-wrap>
    <ion-label *ngIf="insurance.isInsuranceContractDone">{{ 'SALAXY.ION.COMPONENTS.SettingsInsurance.changeToPartnerInsurance' | sxyTranslate }}</ion-label>
    <ion-label *ngIf="!insurance.isInsuranceContractDone">{{ 'SALAXY.ION.COMPONENTS.SettingsInsurance.orderNewPartnerInsurance' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="insurance.isPartnerInsurance"></ion-toggle>
  </ion-item>
  <ion-item text-wrap *ngIf="insurance.isPartnerInsurance">
    <div>
      <h2>Tulossa pian</h2>
      <p>
        Jos tarvitset vakuutuksen heti, hanki se <a href="https://wconetapp.radix.if.fi/web/#/home" target="_blank">IFin mobiilipalvelusta täältä.</a>
      </p>
    </div>
  </ion-item>
  <ion-item text-wrap *ngIf="insurance.isPartnerInsuranceTodo">
    <h3>
      Introteksti tähän lyhyesti, please. Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.
    </h3>
    <p>
      Vakuutuksessa on seuraavat rajoitteet:
    </p>
    <ul>
      <li>vakuutusmaksu laskutetaan palkanmaksun yhteydessä.</li>
      <li>vakuutus on voimassa vain työhön, joka maksetaan Siirto-palvelun tai muiden Palkkaus.fi-kumppanipalveluiden kautta.</li>
      <li>vakuutus on toistaiseksi voimassa oleva</li>
      <li>vakuutus on vain työhön, joka tehdään yhdessä osoitteessa</li>
    </ul>
    <p>
      Jos haluat muun tyyppisen vakuutuksen <a href="#">ota yhteyttä asiakaspalveluumme</a>.
    </p>
  </ion-item>
  <ion-item text-wrap *ngIf="insurance.isPartnerInsuranceTodo">
    <ion-textarea placeholder="Syötä tähän osoite, jossa työ tehdään"></ion-textarea>
  </ion-item>
  <ion-item text-wrap *ngIf="insurance.isPartnerInsuranceTodo">
    <ion-label>Työn tekopaikka on koti?</ion-label>
    <ion-toggle checked=true></ion-toggle>
  </ion-item>
</ion-list>
<div salaxy-form-buttons *ngIf="insurance.isPartnerInsuranceTodo">
  <button ion-button block round (click)="next()">Otan vakuutuksen: 60€</button>
</div>
