<ion-list text-wrap>
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="https://cdn.salaxy.com/img/elems/product-logos/tax.png">
    </ion-thumbnail>
    <p>{{ 'SALAXY.ION.COMPONENTS.SettingsOverview.taxTitle' | sxyTranslate }}</p>
  </ion-item>
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="https://cdn.salaxy.com/ng/img/partners/varma-logo.png">
    </ion-thumbnail>
    <p>{{ 'SALAXY.ION.COMPONENTS.SettingsOverview.varmaTitle' | sxyTranslate }}</p>
  </ion-item>
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="https://cdn.salaxy.com/img/elems/product-logos/tvr.png">
    </ion-thumbnail>
    <p>{{ 'SALAXY.ION.COMPONENTS.SettingsOverview.tvr' | sxyTranslate }}</p>
  </ion-item>
  <!--
  <ion-item no-lines>
      <ion-thumbnail item-start>
          <img src="https://cdn.salaxy.com/img/elems/product-logos/if.png">
      </ion-thumbnail>
      <p>Lakisääteinen työtapa&shy;turmava&shy;kuutus maksut ja ilmoitukset, kun otat vakuutuksen täällä</p>
  </ion-item>
  -->
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="https://cdn.salaxy.com/img/elems/product-logos/palkkaus.png">
    </ion-thumbnail>
    <p>{{ 'SALAXY.ION.COMPONENTS.SettingsOverview.tvr' | sxyTranslate }}</p>
  </ion-item>
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="https://cdn.salaxy.com/img/elems/product-logos/if.png">
    </ion-thumbnail>
    <p>{{ 'SALAXY.ION.COMPONENTS.SettingsOverview.if.html' | sxyTranslate }}</p>
  </ion-item>
</ion-list>
