<ion-list>
  <ion-item text-wrap>
    <ion-label>{{'SALAXY.ION.COMPONENTS.SettingsPension.pensionContractQuestionLabel' | sxyTranslate}}</ion-label>
    <ion-toggle [(ngModel)]="pension.isPensionContractDone"></ion-toggle>
  </ion-item>
  <ng-container *ngIf="pension.isPensionContractDone">
    <sxy-select [(ngModel)]="pension.pensionCompany" enum="PensionCompany" label="SALAXY.ION.COMPONENTS.SettingsPension.pensionCompanyLabel" hiddenOptions="none"></sxy-select>
    <ion-item text-wrap>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.SettingsPension.pensionSelfHandlingQuestionLabel' | sxyTranslate}}</ion-label>
      <ion-toggle [(ngModel)]="isPensionSelfHandling" [disabled]="!isPartnerCompany"></ion-toggle>
    </ion-item>
    <ion-item text-wrap *ngIf="!isPartnerCompany && pension.pensionCompany != 'none'">
      <p>{{ 'SALAXY.ION.COMPONENTS.SettingsPension.noteAboutPartnerCompanies' | sxyTranslate }}</p>
    </ion-item>
    <sxy-input-text [(ngModel)]="pension.pensionContractNumber" label="SALAXY.ION.COMPONENTS.SettingsPension.pensionContractNumberLabel" *ngIf="isPartnerCompany"></sxy-input-text>
  </ng-container>
  <ion-item text-wrap>
    <ion-label *ngIf="pension.isPensionContractDone">{{ 'SALAXY.ION.COMPONENTS.SettingsPension.changeToPartnerPension' | sxyTranslate }}</ion-label>
    <ion-label *ngIf="!pension.isPensionContractDone">{{ 'SALAXY.ION.COMPONENTS.SettingsPension.orderNewPartnerPension' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="pension.isPendingContract"></ion-toggle>
  </ion-item>
</ion-list>
