<ion-list>
  <ion-item text-wrap>
    <ion-label>{{ 'SALAXY.ION.TAXCARD_EMAIL.employerIsResponsibleForTaxCardInputLabel' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="employerIsResponsibleForTaxCardInput"></ion-toggle>
  </ion-item>
  <ion-item text-wrap>
    <ion-label style="word-break: break-all;">{{ 'SALAXY.ION.TAXCARD_EMAIL.serviceSendsCalculationEmailsToWorkersLabel' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="serviceSendsCalculationEmailsToWorkers"></ion-toggle>
  </ion-item>
</ion-list>
