<ion-list>
  <sxy-input-text [(ngModel)]="tax.paymentReferenceNumber" label="SALAXY.ION.COMPONENTS.SettingsTax.paymentReferenceNumberLabel" ></sxy-input-text>
  <ion-item text-wrap>
    <ion-label>{{ 'SALAXY.ION.COMPONENTS.SettingsTax.isMonthlyReportingEnabledLabel' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="tax.isMonthlyReportingEnabled"></ion-toggle>
  </ion-item>
  <ion-item text-wrap>
    <ion-label>{{ 'SALAXY.ION.COMPONENTS.SettingsTax.isYearlyReportingEnabledLabel' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="tax.isYearlyReportingEnabled"></ion-toggle>
  </ion-item>
  <ion-item text-wrap>
    <ion-label>{{ 'SALAXY.ION.HOUSEHOLD.isHouseholdReportingLabel' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="tax.isHouseholdReportingEnabled"></ion-toggle>
  </ion-item>
</ion-list>
<div salaxy-form-buttons>
  Todo:
  <button ion-button block round (click)="save()" label="SALAXY.UI_TERMS.save"></button>
</div>
