<ion-list>
  <ion-item text-wrap>
    <ion-label for="isPrepayments">{{'SALAXY.ION.UNEMPLOYMENT.prepaymentsQuestionLabel' | sxyTranslate }}</ion-label>
    <ion-toggle id="isPrepayments" [(ngModel)]="unemployment.isPrepayments"></ion-toggle>
  </ion-item>
  <sxy-input-number label="SALAXY.ION.UNEMPLOYMENT.prepaymentAmountLabel" *ngIf="unemployment.isPrepayments" [(ngModel)]="unemployment.prepaymentAmount"></sxy-input-number>
  <ion-item text-wrap>
    <ion-label>{{'SALAXY.ION.UNEMPLOYMENT.selfHandlingQuestionLabel' | sxyTranslate }}</ion-label>
    <ion-toggle [(ngModel)]="unemployment.isNotificationsSelfHandling"></ion-toggle>
  </ion-item>
</ion-list>
