<sxy-master-detail-view title="This is the main title" asideTitle="This is the aside Title" #masterDetail>
  <content>
    <sxy-debugger color="primary" [dump]="masterDetailSrv.masterDetailDebugger" text="Main content here">
      <content>
        <button type="button" ion-button sxyDetailPush="MasterDetailExampleHelper" [navParams]="{ text: 'sxyDetailPush from embedded content' }">Detail Push &raquo;</button><br />
        <button type="button" ion-button sxyDetailPop color="danger">Detail Pop &raquo;</button><br />
        <button type="button" ion-button sxyMasterPush="MasterDetailExampleHelper" [navParams]="{ text: 'sxyMasterPush from embedded content' }">Master Push &raquo;</button><br />
        <button type="button" ion-button sxyRootPush="MasterDetailExampleHelper" [navParams]="{ text: 'sxyRootPush from embedded content' }">Root Push &raquo;</button><br />
      </content>
    </sxy-debugger>
  </content>
  <aside>
    <sxy-debugger color="secondary" [dump]="masterDetailSrv.masterDetailDebugger" text="Aside embedded content">
      <content>
        <button type="button" ion-button sxyDetailPush="MasterDetailExampleHelper" [navParams]="{ text: 'sxyDetailPush from embedded aside/detail' }">Detail Push &raquo;</button><br />
        <button type="button" ion-button sxyDetailPop color="danger">Detail Pop &raquo;</button><br />
        <button type="button" ion-button sxyMasterPush="MasterDetailExampleHelper" [navParams]="{ text: 'sxyMasterPush from embedded aside/detail' }">Master Push &raquo;</button><br />
        <button type="button" ion-button sxyRootPush="MasterDetailExampleHelper" [navParams]="{ text: 'sxyRootPush from embedded aside/detail' }">Root Push &raquo;</button><br />
      </content>
    </sxy-debugger>
  </aside>
</sxy-master-detail-view>
