<h1>Testikomponentti</h1>
<p>
  Tämä komponentti on väliaikaista testausta varten.
</p>
<form class="container-fixed container-white" (ngSubmit)="submit()" #testForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label>Standard select</ion-label>
      <ion-select placeholder="Valitse..." interface="popover" name="ionSelect" [(ngModel)]="model.gender">
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
      </ion-select>
    </ion-item>
    <sxy-select label="Select test" [(ngModel)]="model.gender" name="sxySelect1" [options]="{ f: 'Nainen', m: 'Mies'  }"></sxy-select>
    <sxy-select label="Enum select test" [(ngModel)]="model.section" name="sxySelect2" enum="AbcSection"></sxy-select>

    <sxy-input-text label="SALAXY.COMMON.TEST.testLabel" [(ngModel)]="model.tester1" one-line name="tester1" required></sxy-input-text>
  </ion-list>
  <sxy-form-button label="Submit" [form]="testForm"></sxy-form-button>
</form>
<hr />
<pre>{{ model | json }}</pre> Errors:
<pre>{{ testForm.errors | json }}</pre>
