<div style="float: right">
    Selected:

    <mat-select placeholder="List of workers" [(ngModel)]="currentId" name="workerList">
        <mat-option *ngFor="let worker of workers" [value]="worker.id">
            {{ worker.avatar.displayName }}
        </mat-option>
    </mat-select>
    &nbsp;
    <button md-raised-button (click)="createNew()">Add new</button>
</div>
<h1>Workers list</h1>
<p>
List of workers using the repository pattern
</p>
<div class="salaxy-row">
    <div class="scol-4">
        <salaxy-worker-list></salaxy-worker-list>
    </div>
    <div class="scol-8">
        <salaxy-worker-detail-edit></salaxy-worker-detail-edit>
    </div>
</div>
