<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SALAXY.ION.COMPONENTS.OnboardingPhone.title' | sxyTranslate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <sxy-progress [value]="2/5"></sxy-progress>
  <form (ngSubmit)="next()" #currentForm="ngForm">
    <ion-list>
      <ion-item text-wrap>
        {{ 'SALAXY.ION.COMPONENTS.OnboardingPhone.instruction' | sxyTranslate }}
      </ion-item>
      <sxy-input-text [(ngModel)]="current.person.contact.telephone" name="phoneNumber" required sxyMobilePhone label="SALAXY.ION.COMPONENTS.OnboardingPhone.tel"></sxy-input-text>
    </ion-list>
    <sxy-form-button label="SALAXY.UI_TERMS.confirm" [form]="currentForm"></sxy-form-button>
  </form>
</ion-content>
