<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SALAXY.ION.COMPONENTS.OnboardingPerson.title' | sxyTranslate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <sxy-progress [value]="1/5"></sxy-progress>
  <form (ngSubmit)="next()" #currentForm="ngForm">
    <ion-list>
      <sxy-input-text [(ngModel)]="current.person.firstName" name="firstName" required minlength="2" label="SALAXY.ION.COMPONENTS.OnboardingPerson.firstName"></sxy-input-text>
      <sxy-input-text [(ngModel)]="current.person.lastName" name="lastName" equired minlength="2" label="SALAXY.ION.COMPONENTS.OnboardingPerson.lastName"></sxy-input-text>
      <sxy-input-email [disabled]="!isEmailEditable()" [(ngModel)]="current.person.contact.email" name="email" required sxyEmail label="SALAXY.ION.COMPONENTS.OnboardingPerson.email"></sxy-input-email>
    </ion-list>
    <sxy-form-button label="SALAXY.UI_TERMS.next" [form]="currentForm"></sxy-form-button>
  </form>
</ion-content>
