<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SALAXY.ION.COMPONENTS.OnboardingTupas.title' | sxyTranslate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <sxy-progress [value]="5/5"></sxy-progress>
    <div padding>
      <p>{{ 'SALAXY.ION.COMPONENTS.OnboardingTupas.instruction' | sxyTranslate }}</p>
    </div>
    <div style="margin-left: 6px; margin-right: 6px;">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let method of signatureMethods">
            <div text-center class="sxy-tupas-button" (click)="select(method.id)">
              <img [src]="method.img" [alt]="method.title" />
              <div>{{ method.title }}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
