<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SALAXY.ION.COMPONENTS.OnboardingPhoneVerify.title' | sxyTranslate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <sxy-progress [value]="3/5"></sxy-progress>
  <form (ngSubmit)="next()" #currentForm="ngForm">
    <ion-list>
      <ion-item text-wrap>
        {{ 'SALAXY.ION.COMPONENTS.OnboardingPhoneVerify.instruction' | sxyTranslate }}
      </ion-item>
      <sxy-input-text
        [(ngModel)]="current.person.contactVerification.telephone.pin"
        required
        name="phoneVerificationPin"
        sxySmsVerificationCode
        label="SALAXY.ION.COMPONENTS.OnboardingPhoneVerify.phoneVerificationPin"></sxy-input-text>
      <ion-item text-wrap style="color:red" *ngIf="getErrorMsg()">
        {{ getErrorMsg() }}
      </ion-item>
    </ion-list>
    <sxy-form-button label="SALAXY.UI_TERMS.confirm" [form]="currentForm"></sxy-form-button>
  </form>
</ion-content>
