<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SALAXY.ION.COMPONENTS.OnboardingIdentifier.title' | sxyTranslate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <sxy-progress [value]="4/5"></sxy-progress>
  <form (ngSubmit)="next()" #currentForm="ngForm">
    <ion-item text-wrap>
      <p>{{ 'SALAXY.ION.COMPONENTS.OnboardingIdentifier.byContinuingAgreeTerms' | sxyTranslate }}</p>
    </ion-item>
    <ion-list>
      <sxy-input-text [(ngModel)]="current.person.personalId" name="officialId" required sxyPersonalIdFi label="SALAXY.ION.COMPONENTS.OnboardingIdentifier.ssNumber"></sxy-input-text>
      <ion-item>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.OnboardingIdentifier.areYouPEP' | sxyTranslate }}</ion-label>
        <ion-toggle [(ngModel)]="current.signature.isPep" name="isPep"></ion-toggle>
      </ion-item>
      <ion-item text-wrap *ngIf="getErrorHtml()" >
        <p style="color:red" [innerHtml]="getErrorHtml()"></p>
      </ion-item>
    </ion-list>
    <sxy-form-button label="SALAXY.UI_TERMS.next" [form]="currentForm"></sxy-form-button>
  </form>
</ion-content>
