sxy-onboarding-tupas {
  .sxy-tupas-button {
    border: 1px lightgray solid;
    color: lightgray;
    background-color: white;
    border-radius: 3px;
    height: 100px;
    padding: 16px;
    img {
      width: 120px;
      height: 60px
    }
  }
}
