<div *ngIf="!employer.id">
  <sxy-contact-list (itemSelect)="itemSelect($event)" (createNewClicked)="createNewClicked($event)"></sxy-contact-list>
</div>
<div *ngIf="employer.id">
  <ion-list>
    <ion-item no-lines>
      <sxy-avatar [avatar]="employer.avatar" item-start></sxy-avatar>
      <div>
        <h2 [ngClass]="{ 'color-muted': !employer.avatar?.displayName }">{{ employer.avatar?.displayName || 'SALAXY.ION.COMPONENTS.ContractEditEmployer.displayNameNotGiven' | sxyTranslate }}</h2>
        <div >
          <a *ngIf="employer.contact?.email" href="mailto:{{ employer.contact.email }}">{{ employer.contact.email }}</a>
          <span *ngIf="!employer.contact?.email" class="color-muted">{{ 'SALAXY.ION.COMPONENTS.ContractEditEmployer.emailNotGiven' | sxyTranslate }}</span>
        </div>
        <div [ngClass]="{ 'color-muted': !employer.contact?.telephone }">{{ employer.contact?.telephone || 'SALAXY.ION.COMPONENTS.ContractEditEmployer.telNotGiven' | sxyTranslate }}</div>
      </div>
    </ion-item>
    <ion-item no-lines>
      <sxy-avatar [avatar]="employer.avatar" item-start style="visibility: hidden;"></sxy-avatar>
      <!-- TODO: Add a card layout here (needs design) -->
      <div>
        <div [ngClass]="{ 'color-muted': !employer.officialId }">{{ employer.officialId || 'SALAXY.ION.COMPONENTS.ContractEditEmployer.ssNumberNotGiven' | sxyTranslate }}</div>
        <div *ngIf="address" [innerHTML]="address"></div>
        <div *ngIf="!address" class="color-muted">{{ 'SALAXY.ION.COMPONENTS.ContractEditEmployer.addressNotGiven' | sxyTranslate }}</div>
      </div>
    </ion-item>
  </ion-list>
  <div salaxy-form-buttons>
    <sxy-form-button *ngIf="!employer.isSelf" type="button" label="SALAXY.ION.COMPONENTS.ContractEditEmployer.editChosenContact"
      color="secondary" (click)="editContact()"></sxy-form-button>
    <sxy-form-button *ngIf="!employer.isSelf" type="button" label="SALAXY.ION.COMPONENTS.ContractEditEmployer.backToContactList"
      color="secondary" (click)="clearEmployerSelection()"></sxy-form-button>
    <sxy-form-button-secondary *ngIf="employer.isSelf" type="button" label="SALAXY.ION.COMPONENTS.ContractEditEmployer.editMyDetails"
      (click)="editCurrentAccount()"></sxy-form-button-secondary>
    <sxy-form-button-secondary *ngIf="employer.isSelf" type="button" label="SALAXY.ION.COMPONENTS.ContractEditEmployer.updateMyCurrentDetails"
      (click)="updateCurrentAccountToContract()"></sxy-form-button-secondary>
  </div>
</div>
