<form #currentForm="ngForm">
  <ion-list>
    <ion-item *ngIf="salary.workType === employmentType.FullTime">
      <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.ContractEditSalary.startDate' | sxyTranslate }}</ion-label>
      <ion-input [ngClass]="{ 'color-muted': !salary.startDate }" type="text" [(ngModel)]="salaryTermDateText" name="startDate" (ionFocus)="salaryStartDateCalendar()" class="ionCalendarInput"></ion-input>
    </ion-item>
    <ion-item *ngIf="salary.workType !== employmentType.FullTime">
      <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.ContractEditSalary.dateRange' | sxyTranslate }}</ion-label>
      <ion-input [ngClass]="{ 'color-muted': !salary.startDate }" type="text" [(ngModel)]="salaryTermDateText" name="dateRange" (ionFocus)="salaryDateRangeCalendar()" class="ionCalendarInput"></ion-input>
    </ion-item>
    <sxy-input-text label="SALAXY.ION.COMPONENTS.ContractEditSalary.workHours" [(ngModel)]="salary.workHours" name="workHours"></sxy-input-text>
    <ion-item [ngClass]="{ 'selected' : salary.worksHoursType === 'hoursPerDay' || salary.worksHoursType === 'hoursPerWeek' || salary.worksHoursType === 'hourPerTwoWeeks' || salary.worksHoursType === 'hourPerThreeWeeks' }">
      <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.ContractEditSalary.worksHoursType.label' | sxyTranslate }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="salary.worksHoursType" name="worksHoursType">
        <ion-option value="unknown">{{ 'SALAXY.UI_TERMS.choose' | sxyTranslate }}</ion-option>
        <ion-option value="hoursPerDay">{{ 'SALAXY.ENUM.EmploymentWorkHoursType.hoursPerDay.label' | sxyTranslate }}</ion-option>
        <ion-option value="hoursPerWeek">{{ 'SALAXY.ENUM.EmploymentWorkHoursType.hoursPerWeek.label' | sxyTranslate }}</ion-option>
        <ion-option value="hourPerTwoWeeks">{{ 'SALAXY.ENUM.EmploymentWorkHoursType.hourPerTwoWeeks.label' | sxyTranslate }}</ion-option>
        <ion-option value="hourPerThreeWeeks">{{ 'SALAXY.ENUM.EmploymentWorkHoursType.hourPerThreeWeeks.label' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <sxy-input-text label="SALAXY.ION.COMPONENTS.ContractEditSalary.payDay" [(ngModel)]="salary.payDay" name="payDay"></sxy-input-text>
    <ion-item *ngIf="salary.workType !== employmentType.Job" [ngClass]="{ 'selected': salary.salaryType === 'hourlyPay' || salary.salaryType === 'montlyPay' || salary.salaryType === 'otherPay' }">
      <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.ContractEditSalary.payDay' | sxyTranslate }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="salary.salaryType" name="salaryType">
        <ion-option value="unknown">{{ 'SALAXY.UI_TERMS.choose' | sxyTranslate }}</ion-option>
        <ion-option value="hourlyPay">{{ 'SALAXY.ENUM.EmploymentSalaryType.hourlyPay.label' | sxyTranslate }}</ion-option>
        <ion-option value="montlyPay">{{ 'SALAXY.ENUM.EmploymentSalaryType.montlyPay.label' | sxyTranslate }}</ion-option>
        <ion-option value="otherPay">{{ 'SALAXY.ENUM.EmploymentSalaryType.otherPay.label' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
    <sxy-input-text *ngIf="salary.workType === employmentType.Job" label="SALAXY.ION.COMPONENTS.ContractEditSalary.salaryCompension" [(ngModel)]="salary.salaryCompension" name="salaryCompension"></sxy-input-text>
    <sxy-input-text *ngIf="salary.workType !== employmentType.Job" label="{{ salaryAmountPerText }}" [(ngModel)]="salary.salaryAmount" name="salaryAmount"></sxy-input-text>
    <sxy-input-text *ngIf="salary.workType === employmentType.FullTime" label="SALAXY.ION.COMPONENTS.ContractEditSalary.testPeriod" [(ngModel)]="contract.testPeriod" name="testPeriod"></sxy-input-text>
    <sxy-input-text *ngIf="salary.workType === employmentType.FullTime" label="SALAXY.ION.COMPONENTS.ContractEditSalary.noticeException" [(ngModel)]="contract.noticeExeption" name="noticeException"></sxy-input-text>
  </ion-list>
</form>
<div salaxy-form-buttons>
  <sxy-form-button icon="checkmark" type="button" label="SALAXY.UI_TERMS.close" [form]="currentForm" (click)="editDone()" color="secondary"></sxy-form-button>
</div>
