sxy-contract-preview {

  .sxy-spinner-secondary {
    padding-top: 104px;
    position: absolute;
    width: 100%;
  }

  ion-fab {
    display: none;
    &.mobile {
      @media (max-width: 794px) {
        display: block;
      }
      right: 5px;
      top: 5px;
      button:first-child {
        margin-bottom: 15px;
      }
      button {
        margin-bottom: 4px;
        .icon {
          margin-right: 0;
        }
      }
    }
    &.desktop {
      @media (min-width: 795px) {
        display: block;
      }
      right: 20px;
      top: 20px;
    }
    .icon {
      margin-right: 0;
    }
  }

  &.ion-page.show-page.has-init #contract-scroll-container {
    /* After initial scale is set */
    opacity: 1;
  }

  #contract-scroll-container {

    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: none;
    overflow-y: scroll;

    opacity: 0;
    -webkit-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -o-transition: opacity .1s;
    transition: opacity .1s;

    .sxy-contract-preview-container {

      min-height: 300px;
      /* JS sets fixed height dynamically */
      width: 100%;
      position: relative;
      -ms-transform-origin: top left;
      -moz-transform-origin: top left;
      -o-transform-origin: top left;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      will-change: transform;
    }
  }

  .sxy-contract-preview-container {

    /** Normalize */
    /** normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css
        https://github.com/necolas/normalize.css/blob/master/normalize.css
    */

    /* Document
      ========================================================================== */

    /**
    * 1. Correct the line height in all browsers.
    * 2. Prevent adjustments of font size after orientation changes in iOS.
    */

    html {
      line-height: 1.15; /* 1 */
      -webkit-text-size-adjust: 100%; /* 2 */
    }

    /* Sections
      ========================================================================== */

    /**
    * Remove the margin in all browsers.
    */

    body {
      margin: 0;
    }

    /**
    * Correct the font size and margin on `h1` elements within `section` and
    * `article` contexts in Chrome, Firefox, and Safari.
    */

    h1 {
      font-size: 2em;
      margin: 0.67em 0;
    }

    /* Grouping content
      ========================================================================== */

    /**
    * 1. Add the correct box sizing in Firefox.
    * 2. Show the overflow in Edge and IE.
    */

    hr {
      box-sizing: content-box; /* 1 */
      height: 0; /* 1 */
      overflow: visible; /* 2 */
    }

    /**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */

    pre {
      font-family: monospace, monospace; /* 1 */
      font-size: 1em; /* 2 */
    }

    /* Text-level semantics
      ========================================================================== */

    /**
    * Remove the gray background on active links in IE 10.
    */

    a {
      background-color: transparent;
    }

    /**
    * 1. Remove the bottom border in Chrome 57-
    * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    */

    abbr[title] {
      border-bottom: none; /* 1 */
      text-decoration: underline; /* 2 */
      text-decoration: underline dotted; /* 2 */
    }

    /**
    * Add the correct font weight in Chrome, Edge, and Safari.
    */

    b,
    strong {
      font-weight: bolder;
    }

    /**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */

    code,
    kbd,
    samp {
      font-family: monospace, monospace; /* 1 */
      font-size: 1em; /* 2 */
    }

    /**
    * Add the correct font size in all browsers.
    */

    small {
      font-size: 80%;
    }

    /**
    * Prevent `sub` and `sup` elements from affecting the line height in
    * all browsers.
    */

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }

    sub {
      bottom: -0.25em;
    }

    sup {
      top: -0.5em;
    }

    /* Embedded content
      ========================================================================== */

    /**
    * Remove the border on images inside links in IE 10.
    */

    img {
      border-style: none;
    }

    /* Forms
      ========================================================================== */

    /**
    * 1. Change the font styles in all browsers.
    * 2. Remove the margin in Firefox and Safari.
    */

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit; /* 1 */
      font-size: 100%; /* 1 */
      line-height: 1.15; /* 1 */
      margin: 0; /* 2 */
    }

    /**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */

    button,
    input { /* 1 */
      overflow: visible;
    }

    /**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */

    button,
    select { /* 1 */
      text-transform: none;
    }

    /**
    * Correct the inability to style clickable types in iOS and Safari.
    */

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button;
    }

    /**
    * Remove the inner border and padding in Firefox.
    */

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    /**
    * Restore the focus styles unset by the previous rule.
    */

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
      outline: 1px dotted ButtonText;
    }

    /**
    * Correct the padding in Firefox.
    */

    fieldset {
      padding: 0.35em 0.75em 0.625em;
    }

    /**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */

    legend {
      box-sizing: border-box; /* 1 */
      color: inherit; /* 2 */
      display: table; /* 1 */
      max-width: 100%; /* 1 */
      padding: 0; /* 3 */
      white-space: normal; /* 1 */
    }

    /**
    * Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */

    progress {
      vertical-align: baseline;
    }

    /**
    * Remove the default vertical scrollbar in IE 10+.
    */

    textarea {
      overflow: auto;
    }

    /**
    * 1. Add the correct box sizing in IE 10.
    * 2. Remove the padding in IE 10.
    */

    [type="checkbox"],
    [type="radio"] {
      box-sizing: border-box; /* 1 */
      padding: 0; /* 2 */
    }

    /**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */

    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
      height: auto;
    }

    /**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */

    [type="search"] {
      -webkit-appearance: textfield; /* 1 */
      outline-offset: -2px; /* 2 */
    }

    /**
    * Remove the inner padding in Chrome and Safari on macOS.
    */

    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    /**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */

    ::-webkit-file-upload-button {
      -webkit-appearance: button; /* 1 */
      font: inherit; /* 2 */
    }

    /* Interactive
      ========================================================================== */

    /*
    * Add the correct display in Edge, IE 10+, and Firefox.
    */

    details {
      display: block;
    }

    /*
    * Add the correct display in all browsers.
    */

    summary {
      display: list-item;
    }

    /* Misc
      ========================================================================== */

    /**
    * Add the correct display in IE 10+.
    */

    template {
      display: none;
    }

    /**
    * Add the correct display in IE 10.
    */

    [hidden] {
      display: none;
    }

    /* -----
     * Stripped and ported from https://test-api.salaxy.com/Content/css/salaxy-lib-ng1/salaxy-rpt.css
     */

    a[ng-click] {
      cursor: pointer;
    }
    .uppercase {
      text-transform: uppercase;
    }
    .text-disabled {
      text-decoration: line-through;
      color: #777777;
    }
    .text-small,
    .text-small td,
    .text-small th {
      font-size: 0.9em;
    }
    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    table {
      width: 100%;
    }
    td,
    th {
      vertical-align: top;
      text-align: left;
      font-size: 14px;
      padding-left: 2px;
      padding-right: 2px;
    }
    td.text-right,
    th.text-right,
    td.right,
    th.right {
      text-align: right;
    }
    tr.total td,
    tr.total th {
      border-top: 1px solid black;
      border-bottom: 3px double black;
    }
    .valign-middle {
      vertical-align: middle !important;
    }


    salaxy-yearend-feedback-company input.ng-dirty.ng-invalid {
      border: 1px solid Red;
    }
    salaxy-yearend-feedback-company input[type=number]::-webkit-inner-spin-button,
    salaxy-yearend-feedback-company input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }


    /* Actual report specific stuff */
    .document {
      position: relative;
    }

    /* New code by JK 2018-04 converting mm to px */
    // As 'mm' is not recommended for screen use: https://www.w3.org/Style/Examples/007/units.en.html
    // We are scaling content by having the container preserve A4's aspect ratio
    // 210mm / 297mm = 0.7070707...
    // 297mm / 210mm = 1,4142857...
    // and using transform scale function on .modal-wrapper, triggered by window width change
    // and calculated using fixed px width 794px as the breakpoint (210mm converted via https://www.unitconverters.net/typography/millimeter-to-pixel-x.htm)
    // or to be more specific, 1mm = 3,7795275591px
    .document-preview {
      background-color: Gray;
      width: 100%;
      // padding: 10mm;
      // min-height: 303mm;
      position: relative;
    }
    .document-preview.document-preview-no-height {
      padding: 7.6px; // 2mm
    }
    .document-preview .document {
      margin-bottom: 7.6px; // 2mm
    }
    .document-preview .document #header {
      border-bottom: 1.9px solid #009fd8; // 0.5mm
      margin-bottom: 7.6px; // 2mm relative to nearest block parent width which is 190mm
      padding-bottom: 11.3px; // 3mm relative to nearest block parent width which is 190mm
      height: 75.6px; // 20mm
    }
    .document-preview .document #footer {
      width: 718.1px; // calc(100% - 20mm)
      position: absolute;
      bottom: 37.8px; // 10mm
      left: 37.8px; // 10mm
      height: 75.6px; // 20mm
      border-top: 1.9px solid #009fd8; // 0.5mm
      padding: 7.6px; // 2mm
    }
    .document-preview .document #footer p,
    .document-preview .document #footer td {
      font-size: 12px;
      line-height: 1.3;
    }
    .document-preview .a4portrait {
      min-height: 1122.5px; // 297mm
      height: auto;
      width: 794px; // 210mm
    }
    /* New rule */
    .document-preview .a4portrait > article {
      padding: 37.8px; // 10mm
      padding-bottom: 113.4px; // 30mm
    }
    /* ---- */
    .document-preview .a4portrait-no-height {
      height: auto;
      width: 794px; // 210mm
      padding: 37.8px; // 10mm
    }
    .document-preview .a4landscape {
      min-height: 794px; // 210mm
      height: auto;
      width: 1122.5px; // 297mm
      padding: 37.8px; // 10mm
      padding-bottom: 113.4px; // 30mm
    }
    .document-pdf .document {
      page-break-after: always;
    }
    .document-pdf .document #header,
    .document-pdf .document #footer {
      display: none;
    }
    .document-pdf .a4portrait {
      height: auto;
      overflow: hidden;
      width: 718.1px; // 190mm
    }
    .document-pdf .a4landscape {
      height: auto;
      overflow: hidden;
      width: 1046.9px; // 277mm
    }
    .document {
      background-color: White;
      margin: 0px auto;
      position: relative;
    }
    .document h1,
    .document h2,
    .document h3 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }
    .document h1 {
      font-size: 1.3em;
    }
    .document h2 {
      font-size: 1.2em;
    }
    .document h3 {
      font-size: 1.1em;
    }
    .document .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
    .document .table thead tr th,
    .document .table tbody tr th,
    .document .table tfoot tr th,
    .document .table thead tr td,
    .document .table tbody tr td,
    .document .table tfoot tr td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
    .document .table thead tr th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
      border-top: 0px none;
    }
    .document .table .table {
      background-color: #fff;
    }
    .document .table-condensed thead tr th,
    .document .table-condensed tbody tr th,
    .document .table-condensed tfoot tr th,
    .document .table-condensed thead tr td,
    .document .table-condensed tbody tr td,
    .document .table-condensed tfoot tr td {
      padding: 1px;
      font-size: 14px;
      line-height: normal;
    }
    .document .small thead tr th,
    .document .small tbody tr th,
    .document .small tfoot tr th,
    .document .small thead tr td,
    .document .small tbody tr td,
    .document .small tfoot tr td {
      font-size: 11px;
    }
    .document .table-bordered {
      border: 1px solid #ddd;
    }
    .document .table-bordered thead tr th,
    .document .table-bordered tbody tr th,
    .document .table-bordered tfoot tr th,
    .document .table-bordered thead tr td,
    .document .table-bordered tbody tr td,
    .document .table-bordered tfoot tr td {
      border: 1px solid #ddd;
    }
    .document .table-bordered thead tr th,
    .document .table-bordered thead tr td {
      border-bottom-width: 2px;
    }
    .document .table-striped tbody tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    .watermark {
      position: absolute;
      left: 0;
      top: 40%;
      font-weight: bold;
      font-size: 75.6px; //20mm;
      opacity: 0.3;
      color: #d55552;
      text-align: center;
      width: 100%;
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      /* IE 9 */
      -webkit-transform: rotate(-45deg);
      /* Opera, Chrome, and Safari */
    }
    /* .todo {*/
      /* Text formatting */
      /* Tables */
      /* TODO: Get rid of this => H1, H2 etc. */
    /* }*/
    .todo .document,
    .todo .document p,
    .todo .document td {
      font-size: 13px;
    }
    .todo .document h1,
    .todo .document h2,
    .todo .document h3 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }
    .todo .document h1 {
      font-size: 1.3em;
    }
    .todo .document h2 {
      font-size: 1.2em;
    }
    .todo .document h3 {
      font-size: 1.1em;
    }
    .todo .document .report-txt-note {
      font-size: 10px !important;
    }
    .todo .report-table {
      border-spacing: 0;
      margin-bottom: 0px;
      margin-top: 10px;
    }
    .todo .report-table-compact {
      border-spacing: 0;
      margin-bottom: 10px;
    }
    .todo .report-table td,
    .todo table td,
    .todo table th,
    .todo .report-table-compact td,
    .todo .document-preview p,
    .todo .document-preview time {
      padding: 0 5px;
      padding-left: 1px;
    }
    .todo .report-table thead th,
    .todo report-table-compact th {
      font-size: 13px;
      font-weight: bold;
      padding: 0 5px 5px 0;
    }
    .todo .report-table th,
    .todo report-table-compact th {
      font-size: 18px;
      font-weight: normal;
      padding: 0 5px 5px 0;
    }
    .todo .report-table-separator tr td:nth-child(2) {
      border-right: 1px solid black;
      padding-right: 5px;
    }
    .todo .report-signature-line {
      height: 25px;
      border-bottom: 1px solid black;
      margin-bottom: 8px;
    }
    .todo .report-header-txt {
      line-height: 1.3;
      margin: 0;
    }
    .todo .report-section {
      min-height: 200px;
    }

    /* NEW STYLES */


  }
}
