<ion-list padding-bottom>
  <button ion-item (click)="editEmployer()">
    <sxy-avatar [avatar]="employer.avatar" item-start></sxy-avatar>
    <ng-container *ngIf="isWorker && !isEmployerSet; else employerTemplate">
      <h4 class="color-muted">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.chooseEmployerFromContacts' | sxyTranslate }}</h4>
    </ng-container>
    <ng-template #employerTemplate>
      <h3>{{ (isEmployer ? 'SALAXY.ION.COMPONENTS.ContractEditSummary.employer' : 'SALAXY.ION.COMPONENTS.ContractEditSummary.employerAsSelf') | sxyTranslate }}</h3>
      <p>{{ employer.avatar?.displayName || 'SALAXY.ION.COMPONENTS.ContractEditSummary.displayNameNotGiven' | sxyTranslate }},
        <a *ngIf="employer.contact?.email" href="mailto:{{ employer.contact.email }}">{{ employer.contact.email }}</a>
        <span *ngIf="!employer.contact?.email">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.emailNotGiven' | sxyTranslate }}</span>
      </p>
    </ng-template>
  </button>
  <button ion-item [sxyDetailPush]="workerSelectOrEditComponent" [title]="workerSelectOrEditTitle">
    <sxy-avatar [avatar]="worker.avatar" item-start></sxy-avatar>
    <ng-container *ngIf="isEmployer && !isWorkerSet; else workerTemplate">
      <h4 class="color-muted">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.chooseWorker' | sxyTranslate }}</h4>
    </ng-container>
    <ng-template #workerTemplate>
      <h3>{{ (isWorker ? 'SALAXY.ION.COMPONENTS.ContractEditSummary.worker' : 'SALAXY.ION.COMPONENTS.ContractEditSummary.workerAsSelf') | sxyTranslate }}</h3>
      <p>{{ worker.avatar?.displayName || 'SALAXY.ION.COMPONENTS.ContractEditSummary.displayNameNotGiven' | sxyTranslate }},
        <a *ngIf="worker.contact?.email" href="mailto:{{ worker.contact.email }}">{{ worker.contact.email }}</a>
        <span *ngIf="!worker.contact?.email">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.emailNotGiven' | sxyTranslate }}</span>
      </p>
    </ng-template>
  </button>
  <button ion-item [sxyDetailPush]="contractEditWorkTasksComponent" title="{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.workTasksTitle' | sxyTranslate }}">
    <h3>{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.workTasksTitle' | sxyTranslate }}</h3>
    <p *ngIf="contract.mainWorkTasks">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.mainWorkTasks' | sxyTranslate }}:</span>
      {{ contract.mainWorkTasks }}
    </p>
    <p *ngIf="salary.collectiveContract">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.collectiveContract' | sxyTranslate }}:</span>
      {{ contract.salary.collectiveContract }}
    </p>
    <p *ngIf="salary.workType === employmentType.Job">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.workType' | sxyTranslate }}:</span>
      {{ 'SALAXY.ENUM.EmploymentType.job.label' | sxyTranslate }}
    </p>
    <p *ngIf="salary.workType === employmentType.PartTime">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.workType' | sxyTranslate }}:</span>
      {{ 'SALAXY.ENUM.EmploymentType.partTime.label' | sxyTranslate }}
    </p>
    <p *ngIf="salary.workType === employmentType.FullTime">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.workType' | sxyTranslate }}:</span>
      {{ 'SALAXY.ENUM.EmploymentType.fullTime.label' | sxyTranslate }}
    </p>
  </button>
  <button ion-item [sxyDetailPush]="contractEditSalaryComponent" title="{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.salaryTitle' | sxyTranslate }}">
    <h3>{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.salaryTitle' | sxyTranslate }}</h3>
    <p *ngIf="salary.workType === employmentType.FullTime && salary.startDate">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.startDate' | sxyTranslate }}:</span>
      {{ salaryTermDateText }}
    </p>
    <p *ngIf="salary.workType !== employmentType.FullTime && salary.startDate && salary.endDate">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.dateRange' | sxyTranslate }}:</span>
      {{ salaryTermDateText }}
    </p>
    <p *ngIf="salary.workHours && salary.worksHoursType && contract.salary.salaryType">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.workHours' | sxyTranslate }}:</span>
      {{ salaryWorkHoursText }}
    </p>
    <p *ngIf="salary.payDay">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.payDay' | sxyTranslate }}:</span>
      {{ contract.salary.payDay }}
    </p>
    <p *ngIf="salary.workType === employmentType.Job && salary.salaryCompension">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.salaryCompension' | sxyTranslate }}:</span>
      {{ contract.salary.salaryCompension }}
    </p>
    <p *ngIf="salary.workType !== employmentType.Job && salary.salaryAmount">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.salaryAmount' | sxyTranslate }} :</span>
      {{ salaryAmountPerText }}
    </p>
    <p *ngIf="salary.workType === employmentType.FullTime && contract.testPeriod">
      <span class="label">{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.testPeriod' | sxyTranslate }} :</span>
      {{ contract.testPeriod }}
    </p>
    <p *ngIf="salary.workType === employmentType.FullTime && contract.noticeExeption">
      <span class="label">{{ 'SALAXY.ENUM.EmploymentContract.noticeException.label' | sxyTranslate }} :</span>
      {{ contract.noticeExeption }}
    </p>
  </button>
  <button ion-item [sxyDetailPush]="contractEditOtherComponent" title="{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.otherDetailsTitle' | sxyTranslate }}">
    <h3>{{ 'SALAXY.ION.COMPONENTS.ContractEditSummary.otherDetailsTitle' | sxyTranslate }}</h3>
    <p *ngIf="contract.annualLeave">
      <span class="label">{{ 'SALAXY.ENUM.EmploymentContract.annualLeave.label' | sxyTranslate }}:</span>
      {{ contract.annualLeave }}
    </p>
    <p *ngIf="contract.benefitsException">
      <span class="label">{{ 'SALAXY.ENUM.EmploymentContract.benefitsException.label' | sxyTranslate }}:</span>
      {{ contract.benefitsException }}
    </p>
    <p *ngIf="contract.noticeExeption">
      <span class="label">{{ 'SALAXY.ENUM.EmploymentContract.noticeException.label' | sxyTranslate }}:</span>
      {{ contract.noticeExeption }}
    </p>
    <p *ngIf="contract.otherTerms">
      <span class="label">{{ 'SALAXY.ENUM.EmploymentContract.otherTerms.label' | sxyTranslate }}:</span>
      {{ contract.otherTerms }}
    </p>
  </button>
</ion-list>


