sxy-contract-edit-summary {
  ion-list {
    ion-label > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      > span.label {
        padding-right: 7px;
        color: lighten(color($colors, muted), 30%);
        @media (max-width: 575px) {
          display: none;
        }
      }
    }
  }
}
