<form #currentForm="ngForm">
  <ion-list>
    <sxy-input-text [(ngModel)]="contract.annualLeave" name="annualLeave" label="SALAXY.ENUM.EmploymentContract.annualLeave.label"></sxy-input-text>
    <sxy-input-text [(ngModel)]="contract.benefitsException" name="benefitsException" label="SALAXY.ENUM.EmploymentContract.benefitsException.label"></sxy-input-text>
    <sxy-input-text [(ngModel)]="contract.noticeExeption" name="noticeExeption" label="SALAXY.ENUM.EmploymentContract.noticeException.label"></sxy-input-text>
    <sxy-input-text [(ngModel)]="contract.otherTerms" name="otherTerms" label="SALAXY.ENUM.EmploymentContract.otherTerms.label"></sxy-input-text>
  </ion-list>
</form>
<div salaxy-form-buttons>
  <sxy-form-button icon="checkmark" type="button" label="SALAXY.UI_TERMS.close" [form]="currentForm" (click)="editDone()" color="secondary"></sxy-form-button>
</div>
