<sxy-spinner-secondary *ngIf="!hasLoaded"></sxy-spinner-secondary>

<div id="contract-scroll-container">
  <div #contractContainer class="sxy-contract-preview-container" [innerHTML]="previewHTML"></div>
</div>

<ion-fab class="desktop">
  <button ion-fab (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </button>
</ion-fab>
<ion-fab class="mobile">
  <button ion-fab mini (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </button>
  <button ion-fab mini (click)="zoom('in')" color="secondary" [disabled]="zoomFactor === zoomFactorLimitUpper">
    <ion-icon name="add"></ion-icon>
  </button>
  <button ion-fab mini (click)="zoom('out')" color="secondary" [disabled]="zoomFactor === 1">
    <ion-icon name="remove"></ion-icon>
  </button>
</ion-fab>
