<form #currentForm="ngForm">
  <ion-list>
    <sxy-input-text [(ngModel)]="contract.mainWorkTasks" name="mainWorkTasks" label="SALAXY.ION.COMPONENTS.ContractEditWorkTasks.mainWorkTasks"></sxy-input-text>
    <sxy-input-text [(ngModel)]="contract.salary.collectiveContract" name="collectiveContract" label="SALAXY.ION.COMPONENTS.ContractEditWorkTasks.collectiveContract"></sxy-input-text>
    <ion-item [ngClass]="{ 'selected' : contract.salary.workType === 'job' || contract.salary.workType === 'partTime' || contract.salary.workType === 'fullTime' }">
      <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.ContractEditWorkTasks.workType' | sxyTranslate }}</ion-label>
      <ion-select [(ngModel)]="contract.salary.workType" name="workType" interface="popover">
        <ion-option value="unknown">{{ 'SALAXY.ENUM.EmploymentType.unknown.label' | sxyTranslate }}</ion-option>
        <ion-option value="job">{{ 'SALAXY.ENUM.EmploymentType.job.label' | sxyTranslate }}</ion-option>
        <ion-option value="partTime">{{ 'SALAXY.ENUM.EmploymentType.partTime.label' | sxyTranslate }}</ion-option>
        <ion-option value="fullTime">{{ 'SALAXY.ENUM.EmploymentType.fullTime.label' | sxyTranslate }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</form>
<div salaxy-form-buttons>
  <sxy-form-button type="button" icon="checkmark" label="SALAXY.UI_TERMS.close" [form]="currentForm" (click)="editDone()" color="secondary"></sxy-form-button>
</div>
