<sxy-worker-list (itemSelect)="workerSelect($event)"></sxy-worker-list>
<div salaxy-form-buttons>
  <sxy-form-button type="button" icon="close" label="SALAXY.UI_TERMS.close" (click)="editDone()" color="secondary"></sxy-form-button>
</div>
