<ion-list padding-vertical>
  <button ion-button *ngIf="!hideCreateButton" block round outline margin-horizontal margin-bottom (click)="createNew()">
    {{ groupedList.length < 1 ? ('SALAXY.ION.COMPONENTS.ContractList.createFirst' | sxyTranslate) : ('SALAXY.ION.COMPONENTS.ContractList.createNew' | sxyTranslate) }}
  </button>
  <ion-item-group *ngFor="let group of groupedList">
    <ion-item-divider color="light">{{ group.key }}</ion-item-divider>
    <button ion-item *ngFor="let contract of group.value" no-lines (click)="select(contract)">
      <sxy-avatar [avatar]="getOtherParty(contract)" item-start></sxy-avatar>
      <ion-note item-end style="text-align: right">
        {{ constructPricePerText(contract.salary.salaryAmount | salaxyPrice, contract.salary.salaryType) }}
        <br>
        <small *ngIf="contract.salary.workHours">{{ contract.salary.workHours }}h/vko</small>
      </ion-note>
      <h2>{{ getOtherParty(contract).displayName }}</h2>
      <p>
        <span *ngIf="contract.mainWorkTasks">{{ contract.mainWorkTasks }},</span>
        <span>{{ contract.salary.startDate | salaxyDate:contract.salary.endDate }}</span>
      </p>
    </button>
  </ion-item-group>
</ion-list>
