<ion-list>
  <ion-item [ngClass]="{ 'color-muted': !worker.avatar?.displayName }">
    <sxy-avatar [avatar]="worker.avatar" item-start></sxy-avatar>
    <h2>{{ worker.avatar?.displayName || 'SALAXY.ION.COMPONENTS.ContractEditWorker.displayNameNotGiven' | sxyTranslate }}</h2>
  </ion-item>
  <ion-item>
    <a *ngIf="worker.contact?.email" href="mailto:{{ worker.contact.email }}">{{ worker.contact.email }}</a>
    <span *ngIf="!worker.contact?.email" class="color-muted">{{ 'SALAXY.ION.COMPONENTS.ContractEditWorker.emailNotGiven' | sxyTranslate }}</span>
  </ion-item>
  <ion-item [ngClass]="{ 'color-muted': !worker.contact?.telephone }">{{ worker.contact?.telephone || 'SALAXY.ION.COMPONENTS.ContractEditWorker.telNotGiven' | sxyTranslate }}</ion-item>
  <ion-item [ngClass]="{ 'color-muted': !worker.officialId }">{{ worker.officialId || 'SALAXY.ION.COMPONENTS.ContractEditWorker.ssNumberNotGiven' | sxyTranslate }}</ion-item>
  <ion-item>
    <span *ngIf="address" [innerHTML]="address"></span>
    <span *ngIf="!address" class="color-muted">{{ 'SALAXY.ION.COMPONENTS.ContractEditWorker.addressNotGiven' | sxyTranslate }}</span>
  </ion-item>
  <ion-item [ngClass]="{ 'color-muted': !worker.iban }">{{ worker.iban ? (worker.iban | salaxyIban) : ('SALAXY.ION.COMPONENTS.ContractEditWorker.ibanNumberNotGiven' | sxyTranslate) }}</ion-item>
</ion-list>
<div salaxy-form-buttons>
  <sxy-form-button
    *ngIf="!worker.isSelf"
    type="button"
    icon="people"
    label="SALAXY.ION.COMPONENTS.ContractEditWorker.backToWorkerList"
    color="secondary"
    (click)="goToWorkerList()"></sxy-form-button>
  <sxy-form-button
    type="button"
    icon="checkmark"
    label="SALAXY.UI_TERMS.close"
    color="secondary"
    (click)="editDone()"></sxy-form-button>
  <sxy-form-button-secondary
    *ngIf="shownUpdateChangedContactDetails()"
    type="button"
    icon="refresh"
    label="SALAXY.ION.COMPONENTS.ContractEditWorker.updateMyChangedDetailsToContract"
    (click)="updateContactDetailsToContract()"></sxy-form-button-secondary>
  <!-- <sxy-form-button-secondary
        *ngIf="worker.isSelf"
        type="button"
        icon="create"
        label="SALAXY.ION.COMPONENTS.ContractEditWorker.editMyDetails"
        (click)="editMyDetails()"></sxy-form-button-secondary> -->
</div>
