<div>
  <p padding>
    DEMO: Tämä valinta poistetaan ensimmäisestä versiosta.
  </p>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.dueDate' | sxyTranslate }}</ion-label>
        <ion-datetime [(ngModel)]="calc.workflow.paidAt" name="paidAt" displayFormat="DD.MM.YYYY" pickerFormat="DD.MM.YYYY" [min]="todayAsIso"
          placeholder="{{ 'SALAXY.ION.COMPONENTS.CalcPayment.payDay' | sxyTranslate }}"></ion-datetime>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.type' | sxyTranslate }}</ion-label>
        <ion-select interface="popover" name="kind" [(ngModel)]="calc.uiTemp_payment">
          <ion-option value="siirto">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.typeSiirto' | sxyTranslate }}</ion-option>
          <ion-option value="nordea">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.typeNordea' | sxyTranslate }}</ion-option>
          <ion-option value="paytrail">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.typePaytrail' | sxyTranslate }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.dueDate' | sxyTranslate }}:</ion-col>
            <ion-col>{{ days.payment }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.payDay' | sxyTranslate }}:</ion-col>
            <ion-col>{{ days.salary }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.repeating' | sxyTranslate }}:</ion-label>
        <ion-select interface="popover" name="kind" [(ngModel)]="calc.uiTemp_recurrence">
          <ion-option value="">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.once' | sxyTranslate }}</ion-option>
          <ion-option value="weekly">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.weekly' | sxyTranslate }}</ion-option>
          <ion-option value="biweekly">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.biweekly' | sxyTranslate }}</ion-option>
          <ion-option value="twiceamonth">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.twiceamonth' | sxyTranslate }}</ion-option>
          <ion-option value="monthly">{{ 'SALAXY.ION.COMPONENTS.CalcPayment.monthly' | sxyTranslate }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap no-lines *ngIf="calc.uiTemp_recurrence">
        <div>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.nextPayment' | sxyTranslate }}:</div>
        <ion-grid>
          <ion-row>
            <ion-col>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.dueDate' | sxyTranslate }}:</ion-col>
            <ion-col>{{ days.nextPayment }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.payDay' | sxyTranslate }}:</ion-col>
            <ion-col>{{ days.nextSalary }}</ion-col>
          </ion-row>
        </ion-grid>
        <p>{{ 'SALAXY.ION.COMPONENTS.CalcPayment.footnotes' | sxyTranslate }}</p>
      </ion-item>
    </ion-list>
    <sxy-form-button label="SALAXY.UI_TERMS.recalculate" (click)="setValue()"></sxy-form-button>
  </form>
</div>
