<sxy-master-detail-view title="Form Button Secondary Example">
  <content>
    <div class="container-fixed container-white">
      <p>The button is disabled until the form is valid: enter some text to the input.</p>
      <p>The button is given a translation
        <code>SALAXY.UI_TERMS.recalculate</code> which translates to
        <i>{{ 'SALAXY.UI_TERMS.recalculate' | sxyTranslate }}</i> in the current language.
      </p>
      <form (ngSubmit)="commit()" #currentForm="ngForm">
        <ion-list>
          <sxy-input-text label="Required text input" required [(ngModel)]="temp" name="temp"></sxy-input-text>
        </ion-list>
        <sxy-form-button-secondary label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button-secondary>
      </form>
    </div>
  </content>
</sxy-master-detail-view>
