<sxy-master-detail-view title="Form Button Example">
  <content>
    <div class="container-fixed container-white">
      <p>The button is disabled until the form is valid: enter some text to the input.</p>
      <p>The button is given a translation
        <code>SALAXY.UI_TERMS.recalculate</code> which translates to
        <i>{{ 'SALAXY.UI_TERMS.recalculate' | sxyTranslate }}</i> in the current language.
      </p>
      <form (ngSubmit)="commit()" #currentForm="ngForm">
        <ion-list>
          <sxy-input-text label="Non-required input with initial value" [(ngModel)]="testModel.initialvalue" name="temp2"></sxy-input-text>
          <sxy-input-text label="Required text input" required [(ngModel)]="testModel.emptyValue" name="temp"></sxy-input-text>
        </ion-list>
        <sxy-form-button label="SALAXY.UI_TERMS.ok" [form]="currentForm"></sxy-form-button>
        <sxy-form-button type="submit" label="Second submit" [form]="currentForm"></sxy-form-button>
        <sxy-form-button type="reset" label="SALAXY.UI_TERMS.cancel" [form]="currentForm"></sxy-form-button>
        <sxy-form-button type="button" label="Other" (click)="buttonClicked()"></sxy-form-button>
      </form>
    </div>
  </content>
  <aside>
      <pre>Debugger
        {{
          {
            dirty: currentForm.dirty,
            valid: currentForm.valid,
            touched: currentForm.touched,
            status: currentForm.status
          } | json
         }}</pre>
  </aside>
</sxy-master-detail-view>
