<sxy-master-detail-view title="Input E-mail example">
  <content>
    <div class="container-fixed container-white">
      <p>Explanation TODO</p>
      <form (ngSubmit)="commit()" #currentForm="ngForm">
        <ion-list>
          <p>Example TODO</p>
        </ion-list>
        <sxy-form-button label="SALAXY.UI_TERMS.ok" [form]="currentForm"></sxy-form-button>
      </form>
    </div>
  </content>
</sxy-master-detail-view>
