<sxy-master-detail-view title="Input Number example">
  <content>
    <div class="container-fixed container-white">
      <p>Explanation TODO</p>
      <form (ngSubmit)="commit()" #currentForm="ngForm">
        <ion-list>
          <sxy-input-number label="Basic example" name="price" [(ngModel)]="price"></sxy-input-number>
          <sxy-input-number label="Primary input layout" name="price" class="emphases" [(ngModel)]="price"></sxy-input-number>
          <sxy-input-number label="Min, max step (3,10,2)" name="price" min="3" max="10" step="2" [(ngModel)]="price"></sxy-input-number>
          <ion-item text-wrap>
            <p>
              Like with the ion-input, this does NOT currently affect validation.
              <strong>However, we are considering changing this.</strong>
              The other possibility is to add
              <code>minvalue</code> and
              <code>maxvalue</code> and
              <code>numberPattern</code> validators separately.
            </p>
          </ion-item>
        </ion-list>
        <sxy-form-button label="SALAXY.UI_TERMS.ok" [form]="currentForm"></sxy-form-button>
      </form>
    </div>
  </content>
</sxy-master-detail-view>
