<sxy-master-detail-view title="Calculation period input" asideTitle="Debugger">
  <content>
    <div class="container-fixed container-white">
      <form #currentForm="ngForm">
        <ion-list>
          <sxy-input-period label="Palkka ajalta (työpäivien määrä)" required [(ngModel)]="periodText" name="period"></sxy-input-period>
        </ion-list>
        <sxy-form-button label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button>
      </form>
      <p>Results:</p>
      <ul>
        <li>periodText: {{ periodText || "null" }}</li>
        <li>workStartDate: {{ calc.info.workStartDate || "null" }}</li>
        <li>workEndDate: {{ calc.info.workEndDate || "null" }}</li>
        <li>numberOfDays: {{ calc.framework.numberOfDays || "null" }}</li>
      </ul>
    </div>
  </content>
  <aside>
    <ul>
      <li>periodText: {{ periodText || "null" }}</li>
      <li>workStartDate: {{ calc.info.workStartDate || "null" }}</li>
      <li>workEndDate: {{ calc.info.workEndDate || "null" }}</li>
      <li>numberOfDays: {{ calc.framework.numberOfDays || "null" }}</li>
    </ul>
  </aside>
</sxy-master-detail-view>
