<sxy-master-detail-view title="Input text example">
  <content>
    <div class="container-fixed container-white">
      <form #currentForm="ngForm">
        <ion-list>
          <ion-item-group>
            <ion-item-divider color="primary">Basic functionality</ion-item-divider>
            <sxy-input-text label="Implements simple data binding" name="default" [(ngModel)]="fieldWithText"></sxy-input-text>
            <sxy-input-text label="Emphases style" class="emphases" name="default" [(ngModel)]="fieldWithText"></sxy-input-text>
            <ion-item text-wrap no-lines>
              <p>Affects value and placeholder, but currently not the label (see by removing the value).</p>
            </ion-item>
            <sxy-input-text label="Auto-required with asterix" required name="required" [(ngModel)]="nullField"></sxy-input-text>
            <sxy-input-text label="Validation with auto-messages" minlength="3" name="validation" [(ngModel)]="nullField"></sxy-input-text>
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider color="primary">Supported label types</ion-item-divider>
            <ion-item text-wrap no-lines>
              <h2>Default rendering of label is "floating":</h2>
            </ion-item>
            <sxy-input-text label="Default label with value" name="defaultLabelWithValue" [(ngModel)]="fieldWithText"></sxy-input-text>
            <sxy-input-text label="Default label, no value"></sxy-input-text>

            <ion-item text-wrap no-lines>
              <ion-label text-wrap>
                <h2>Add attribute "one-line" for fixed:</h2>
                <p>(This is subject to change)</p>
              </ion-label>
            </ion-item>
            <sxy-input-text label="Fixed label" one-line name="fixedLabel" [(ngModel)]="fieldWithText"></sxy-input-text>

            <ion-item text-wrap>
              <h2>An input without label, but with placeholder is rendered as "stacked":</h2>
            </ion-item>
            <sxy-input-text placeholder="Stacked" name="stackedLabel" [(ngModel)]="fieldWithText"></sxy-input-text>
            <sxy-input-text placeholder="Stacked" name="stackedLabelWithValue"></sxy-input-text>

            <ion-item text-wrap>
              <h2>An input without label AND without placeholder is rendered as label="hidden":</h2>
            </ion-item>
            <sxy-input-text name="hiddenWithoutValue"></sxy-input-text>
            <sxy-input-text name="hiddenWithValue" [(ngModel)]="fieldWithText"></sxy-input-text>

          </ion-item-group>
        </ion-list>
        <sxy-form-button label="SALAXY.UI_TERMS.ok" [form]="currentForm"></sxy-form-button>
      </form>
    </div>
  </content>
</sxy-master-detail-view>
