<sxy-master-detail-view title="Select example">
  <content>
    <div class="container-fixed container-white">
      <form #currentForm="ngForm">
        <ion-list>
          <sxy-select [(ngModel)]="pensionCompany" name="enumSample" enum="PensionCompany" label="Sample with enum"></sxy-select>
          <sxy-select [(ngModel)]="pensionCompany" name="hiddenSample" enum="PensionCompany" [hiddenOptions]="['veritas','ilmarinen']"
            label="Some options hidden"></sxy-select>
          <sxy-select [(ngModel)]="pensionCompany" name="hiddenLiteralSample" enum="PensionCompany" hiddenOptions="veritas,ilmarinen"
            label="Hidden, literal"></sxy-select>
          <sxy-select [(ngModel)]="pensionCompany" name="customOptionsSample" [options]="customOptions" label="Options as array"></sxy-select>
        </ion-list>
        <sxy-form-button label="SALAXY.UI_TERMS.ok" [form]="currentForm"></sxy-form-button>
      </form>
    </div>
  </content>
</sxy-master-detail-view>
