<sxy-master-detail-view title="Validation messages example">
  <content>
    <div class="container-fixed container-white">
      <form #currentForm="ngForm">
        <ion-list>
          <sxy-input-text [(ngModel)]="tester.email" name="sxyEmailTest" label="E-mail, required [sxyEmail] [required]" sxyEmail required></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.email2" name="sxyEmailTest2" label="E-mail, NOT required [sxyEmail]" sxyEmail></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.mobilePhone" name="sxyMobilePhoneTest" label="Phone number [sxyMobilePhone]" sxyMobilePhone></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.bankIban" name="sxyIbanTest" label="Bank account IBAN [sxyIban]" sxyIban></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.palkkausIban" name="sxyIbanTest2" label="Palkkaus IBAN [sxyIban]" sxyIban></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.personalIdFi" name="sxyPersonalIdFiTest" label="Personal ID (HETU) [sxyPersonalIdFi]" sxyPersonalIdFi></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.companyIdFi" name="sxyCompanyIdFiTest" label="Finnish Company ID (Y-tunnus) [sxyCompanyIdFi]" sxyCompanyIdFi></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.smsVerificationCode" name="sxySmsVerificationCodeTest" label="SMS verification code [sxySmsVerificationCode]" sxySmsVerificationCode></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.minMaxLength" name="minMaxLengthTest" label="SMS verification code [minlength]='2' / [minlength]='5'" minlength="2" maxlength=5></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.pattern" name="pattern" label="SMS verification code [pattern]='^[0-9]{1,2}([.]|[,])?[0-9]?$'" pattern="^[0-9]{1,2}([.]|[,])?[0-9]?$"></sxy-input-text>
          <sxy-input-text [(ngModel)]="tester.required" name="required" required label="Required [required] - no message, just color"></sxy-input-text>
        </ion-list>
        <sxy-form-button label="SALAXY.UI_TERMS.ok" [form]="currentForm"></sxy-form-button>
      </form>
    </div>
  </content>
  <aside>
    <pre>{{ getFormDebugger(currentForm) | json }}</pre>
  </aside>
</sxy-master-detail-view>
