ion-avatar {
  img {
    position: relative;
    top: 0;
    left: 0;
    max-height: 50px !important;
    max-width: 50px !important;
    min-height: 50px !important;
    min-width: 50px !important;
    object-fit: cover !important;
  }
  .text-img {
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: font-size(xxx-large);
  }
}
