<ion-card class="sxy-card">
  <div class="salaxyCardImage" [ngStyle]="{'background-image': getCombinedBackgroundImage()}">
    <h1 class="card-title">{{ title }}</h1>
    <div>{{ subTitle }}</div>
    <h1 class="price">{{ price }}</h1>
    <div *ngIf="avatar && !icon" style="position: absolute; top: 115px; left: 28px; transform: scale(1.5)">
      <sxy-avatar [avatar]="avatar" item-start></sxy-avatar>
    </div>
    <div *ngIf="icon" style="position: absolute; top: 100px; left: 16px">
      <sxy-icon-with-badge [icon]="icon" [badge]="badge" size="large"></sxy-icon-with-badge>
    </div>
  </div>

  <ion-card-content text-right>
    <div content *ngIf="showInfoText">
      <a class="link" (click)="infoTextState = 'visible'" *ngIf="infoTextState == 'hidden'">{{ 'SALAXY.ION.COMPONENTS.Avatar.showTips' | sxyTranslate }}</a>
      <a class="link" (click)="infoTextState = 'hidden'" *ngIf="infoTextState != 'hidden'">{{ 'SALAXY.ION.COMPONENTS.Avatar.hideTips' | sxyTranslate }}</a>
    </div>
    <ng-content select="content"></ng-content>
  </ion-card-content>

</ion-card>

<ion-card class="extension" *ngIf="showInfoText && infoTextState != 'hidden'">
  <sxy-info-text [hasLongText]="hasLongInfoText" [showLongText]="infoTextState == 'visible'">
    <div shortText>
      <ng-content select="[shortInfoText]"></ng-content>
    </div>
    <div longText>
      <ng-content select="[longInfoText]"></ng-content>
    </div>
  </sxy-info-text>
</ion-card>
