sxy-card {
    ion-card {
      &.card {
        margin: 0;
        width: 100%;
      }
      &.card {
        position: relative;
        z-index: 1;
        border-radius: 10px;
        >div {
            color: #000;
        }
        .card-title {
            color: white;
            font-size: 24px;
            font-weight: 700;
        }
        .price {
            font-size: 40px;
            font-weight: 300;
            color: white;
            font-size: 40px;
            position: absolute;
            bottom: 16px;
            right: 16px;
            text-align: right;
            width: 80%
        }
        ion-avatar img {
          border-radius: 50%;
          overflow: hidden;
          /*
          width: 40px;
          height: 40px;
          */
        }
        .salaxyCardImage {
          background-size: cover;
          height: 140px;
          width: 100%;
          padding: 24px 16px;
          position: relative;
        }
      }
      &.extension {
        z-index: 0;
        margin-top: -20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: none;
        background: #fafafa;
        p {
            margin: 1rem 0;
            color: #888;
        }
      }
    }
}
