sxy-debugger {

  .sxy-debugger-container {
    border-color: black;
    border-width: 4px;
    border-style: dashed;
    // TODO: This is a quick hack - you could use a better color handling here.
    @each $color-name, $color-value in $colors {
      &.sxy-debugger-container-#{$color-name}  {
        border-color: color($colors, $color-name, base);
        background-color: lighten(color($colors, $color-name, base), 35%);
      }
    }
  }
}
