<div class="icon-wrapper" [ngClass]="{ 'large': size === 'large' }">
  <div class="main-icon-wrapper">
    <img [src]="icon">
  </div>
  <div *ngIf="badge" class="badge-image-wrapper">
    <img [src]="badge">
  </div>
</div>
