sxy-icon-with-badge {
  .icon-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    .main-icon-wrapper {
      background-color: color($colors, "primary");
      border-radius: 999px;
      width: 100%;
      height: 100%;
      img {
        padding: 5px;
        height: 56px;
        width: 56px;
      }
    }
    .badge-image-wrapper {
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 100px;
      position: absolute;
      bottom: 0;
      right: -10px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    &.large {
      margin-right: 15px;
      width: 75px;
      height: 75px;
      .main-icon-wrapper {
        img {
          padding: 9px;
          height: 75px;
          width: 75px;
        }
      }
      .badge-image-wrapper {
        width: 38px;
        height: 38px;
        right: -15px;
        img {
          width: 38px;
          height: 38px;
        }
      }
    }
  }
}
