<div padding>
  <ng-content select="[shortText]"></ng-content>
  <a *ngIf="showMoreLabel && !showLongText && hasLongText" class="link" (click)="toggleLongText()">{{ showMoreLabel | sxyTranslate }}</a>
  <div *ngIf="hasLongText && showLongText">
    <ng-content select="[longText]"></ng-content>
    <a *ngIf="showLessLabel && showLongText" class="link" (click)="toggleLongText()">{{ showLessLabel | sxyTranslate }}</a>
  </div>
</div>
