sxy-language-selector {
  ion-item.item-md.sxy-language-selector {
    @include transition-property(color, background-color);
    @include transition-duration(0.3s);
    @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
    color: color($colors, muted);
    &:hover, &:active {
      color: color($colors, light);
    }
    padding-right: 16px !important; // important: body.palkkaus-web .palkkaus-menu ion-item-group .item
    padding-left: 0 !important;
    ion-icon[item-start] {
      font-size: 1.8rem;
      margin: 12px -1px 0 13px;
      & + .item-inner {
        margin-left: 0;
      }
    }
    ion-select {
      max-width: 100%;
      width: 100%;
    }
  }
}
