<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss(null)">
        <span ion-text color="primary" showWhen="ios">{{ 'SALAXY.UI_TERMS.close' | sxyTranslate }}</span>
        <ion-icon name="md-close" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="heading">{{ heading }}</h3>
  <p text-center *ngIf="text">{{ text }}</p>
  <ion-list *ngIf="contentType == 'period'">
    <sxy-calc-period (done)="periodComponentDone($event)"></sxy-calc-period>
  </ion-list>
  <ion-list *ngIf="contentType == 'calendar'">
    <ion-item>
      <ion-calendar [(ngModel)]="date" name="date"
        [options]="{ pickMode: 'single', weekStart: 1 }" type="js-date" [format]="'YYYY-MM-DD'"
        (onChange)="calendarChange($event)"> </ion-calendar>
    </ion-item>
  </ion-list>
  <div salaxy-form-buttons>
    <button *ngFor="let button of buttons"
      margin-vertical block round ion-button flat
      [clear]="button.type == 'clear'" [outline]="button.type == 'outline'" [color]="button.color || 'primary'"
      (click)="dismiss(button.value)">
      {{ button.text | sxyTranslate }}
    </button>
  </div>
</ion-content>
