ion-modal.popunder-modal {
  height: 100%;
  bottom: 0;
  top: auto;
  // ion-backdrop {
  //   display: none;
  // }
}
sxy-popunder {
  ion-header::after {
    background-image: none !important;
  }
  ion-toolbar {
    padding: 0 !important;
    min-height: 10px !important;
    .toolbar-background {
      background-color: transparent;
    }
  }
  ion-item.item {
    background-color: $sxy-popup-bg;
    color: $sxy-popup-color !important;
  }
  ion-calendar {
    background-color: $sxy-popup-bg;

    button,
    .switch-btn,
    .back,
    .forward,
    .week-title.transparent,
    button.days-btn p {
      color: $sxy-popup-color !important;
    }
  }
  ion-content.content {
    opacity: 1;
    background-color: $sxy-popup-bg !important;
    .fixed-content,
    .scroll-content {
      margin-top: 32px !important;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $sxy-popup-color;
    }
    button[flat],
    button[flat].activated {
      box-shadow: none;
    }
    button[transparent],
    button[transparent].activated {
      background: none !important;
      border: 1px solid color($colors, primary);
      color: color($colors, primary);
    }
  }
}
