.sxy-progress {
  margin: 16px;
  width: calc(100% - 32px);
  height: 16px;
  position: relative;
  .sxy-progress-btn-start {
    background-color: white;
    color: color($colors, primary);
    position: absolute;
    left: 0px;
  }
  .sxy-progress-btn-end {
    background-color: white;
    color: color($colors, primary);
    position: absolute;
    right: 0px;
  }
  .sxy-progress-bar-bg {
    height: 6px;
    width: 100%;
    border-radius: 6px;
    background-color: #b4b4b4;
    position: absolute;
    top: 5px;
    .sxy-progress-bar {
      background-color: color($colors, primary);
      height: 6px;
      border-radius: 6px;
      width: 16px;
    }
  }
}
