sxy-rounded-ion-item-icon {
  .icon-wrapper {
    position: absolute;
    top: 5px;
    right: 0;
    a {
      display: block;
      text-align: center;
      float: left;
      width: 35px;
      height: 35px;
      border: 1px solid color($colors, primary);
      border-radius: 100%;
      margin-right: 7px;
      opacity: 0.5;
    }
    a:hover {
      opacity: 1;
    }
    a i {
      font-size: 20px;
      line-height: 35px;
      color: color($colors, primary);
    }
  }
}
