.sxy-spinner {
  width: 100%;
  height: 100px;
  text-align: center;
  svg.sxy-spinner-spin {
    width: 100px;
    height: 100px;
    -webkit-animation: spinner-rotate 1s linear infinite;
    animation: spinner-rotate 1s linear infinite;
    animation-duration: 1.5s;
    circle {
      stroke: lighten(color($colors, primary), 30%);
      fill: transparent;
      stroke-width: 5px;
      stroke-dasharray: 128px;
      stroke-dashoffset: 82px;
    }
  }
  svg.sxy-spinner-bg {
    position: absolute;
    width: 100px;
    height: 100px;
    circle {
      stroke: color($colors, primary);
      fill: transparent;
      stroke-width: 4px;
    }
  }
}
