ion-list > sxy-spinner-secondary .sxy-spinner-secondary {
  margin-top: 22px;
}

.sxy-spinner-secondary ion-spinner {
  width: 100%;
  height: 62px;
  transform: scale(2);
  margin: 16px 0;
  * {
    stroke: lighten(color($colors, primary), 30%);
    fill: color($colors, primary);
  }
  > svg:nth-of-type(1) {
    left: 32px !important;
  }
  > svg:nth-of-type(3) {
    left: -32px !important;
  }
}
