<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reference: Salaxy Ionic library</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <iframe style="width: 100%; height: 100%; border: none; margin-bottom: -5px" src="/compodoc"></iframe>
</ion-content>
