<mat-list>
    <h3 md-subheader style="max-width: 350px">
        <button md-mini-fab style="float: right" (click)="createNew()"><mat-icon>add</mat-icon></button>
        Työsopimukset
    </h3>
    <mat-list-item *ngFor="let contract of list" (click)="select(contract)" class="click">
        <salaxy-avatar [avatar]="getOtherParty(contract)" style="font-size: 48px;" md-list-avatar></salaxy-avatar>
        <h4 md-line>{{ getOtherParty(contract).displayName }}</h4>
        <p md-line>{{ contract.id }}</p>
    </mat-list-item>
</mat-list>
