/* Functional SASS extensions to Ionic styles */

/* Main content containers */

// Fixed width container. Currently fixed to maximum 600px width. This could later be parametrized.
.container-fixed {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 15px 50px 15px 25px;
}

.container-page-example {
  hr {
    margin: 35px -50px 35px -25px;
  }
}

/**
 * White background with rounded corners. Designed to be added on a gray or otherwise coloer background.
 * Typically used together with container-fixed or padding.
 */
.container-white {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 16px;
  // @media (min-width: map-get($grid-breakpoints, md)) {
  //   padding: 10px;
  //   width: 95%;
  // }
}

/*
  Add padding that is conditional to the screen size break points.
  Same pattern as with text-sm-{modifier} and float-sm-{modifier} in https://ionicframework.com/docs/theming/css-utilities/
*/
@media (min-width: map-get($grid-breakpoints, sm)) {
  ion-app.md [padding-sm] { padding: $content-md-padding; }
  ion-app.ios [padding-sm] { padding: $content-ios-padding; }
  ion-app.wp [padding-sm] { padding: $content-wp-padding; }
  .hidden-sm { display: none !important; }
}
@media (min-width: map-get($grid-breakpoints, md)) {
  ion-app.md [padding-md] { padding: $content-md-padding; }
  ion-app.ios [padding-md] { padding: $content-ios-padding; }
  ion-app.wp [padding-md] { padding: $content-wp-padding; }
  .hidden-desktop { display: none !important; }
  .hidden-md { display: none !important; }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  ion-app.md [padding-lg] { padding: $content-md-padding; }
  ion-app.ios [padding-lg] { padding: $content-ios-padding; }
  ion-app.wp [padding-lg] { padding: $content-wp-padding; }
  .hidden-lg { display: none !important; }
}
@media (min-width: map-get($grid-breakpoints, xl)) {
  ion-app.md [padding-xl] { padding: $content-md-padding; }
  ion-app.ios [padding-xl] { padding: $content-ios-padding; }
  ion-app.wp [padding-xl] { padding: $content-wp-padding; }
  .hidden-xl { display: none !important; }
}

@media (max-width: 767px) {
  // TODO: Merge to the above and add sm, md etc.
  .hidden-mobile {
      display: none !important;
  }
}
