<sxy-master-detail-view title="DUMMY example">
  <content>
    <div class="container-fixed container-white">
      <h1>Adding and Example</h1>
      <ul>
        <li>Copy, rename and add references:
          <ul>
            <li>DUMMY.example.html</li>
            <li>DUMMY.example.ts</li>
            <li>
              <code>/examples/index.ts</code>
            </li>
            <li>
              <code>/examples/examples.module.ts</code> -
              <code>exampleComponents</code> array.</li>
          </ul>
        </li>
        <li>Implement your example</li>
        <li>In the component main description, add:<br>
          <code>&lt;example-url&gt;/#/examples/DUMMYExample&lt;/example-url&gt;</code>
          <!-- <example-url>/#/examples/DUMMYExample</example-url> -->
        </li>
        <li>Note that you should also add a (very simple) example for documentation purposes using <code>@example</code>
        </li>
        <li>Before push, find-in-files: "DUMMY".</li>
      </ul>
    </div>
  </content>
</sxy-master-detail-view>
