<span class="salaxy-component salaxy-login">
    <button *ngIf="!isAuthenticated" md-raised-button (click)="signIn()">Kirjaudu sisään</button>
    <button *ngIf="isAuthenticated" md-raised-button (click)="signOut()">Kirjaudu ulos</button>
</span>
