// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons, roboto, and noto sans fonts
$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: (
  primary: #60df96,
  secondary: #4890e7,
  danger: #ff6738,
  light: #F3F4F6,
  dark: #202123,
  muted: rgb(106, 110, 118),
  heading: #9295a2,
  subheading: rgb(85, 90, 98),
  body: #5e5f65,
);

$fab-content-margin: 30px;
$toolbar-background: color($colors, primary);
$toolbar-active-color: white;

// Menu and split pane
$menu-width: 240px;
$menu-small-width: 90%;
$split-pane-side-min-width: 240px;
$split-pane-side-max-width: 240px;
$split-pane-ios-border: none;
$split-pane-md-border: none;
$split-pane-wp-border: none;

/* Setting thumbnail and list item button icon the same as ios in all platforms */
$item-md-thumbnail-size: 56px;
$item-md-detail-push-show: true;
$item-wp-thumbnail-size: 56px;
$item-wp-detail-push-show: true;

// Ionic App Theme
@import "ionic.theme.default";
// Ionicons: http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
// Original
@import "roboto";
@import "noto-sans";
$font-family-md-base: "Work Sans",
sans-serif !default;
$font-family-wp-base: "Work Sans",
sans-serif !default;
$font-family-ios-base: "Work Sans",
sans-serif !default;
$h1-font-size: 2.1rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.2rem;
// Salaxy variables.
// --------------------------------------------------
$sxy-popup-bg: #525252;
$sxy-popup-color: white;
