<div padding class="container-fixed" *ngIf="!component">
  Click 'Examples' button on the left pane to see examples here.
</div>
<div padding *ngIf="component">
  <div *ngFor="let exampleUrl of component.exampleUrls">
    <a [href]="getSafeUrl(exampleUrl)" target="_blank">Open in a New Window...</a>
    <p>This is iPhone 360*640px. TODO: Add other platforms.</p>
    <iframe [src]="getSafeUrl(exampleUrl)" style="width: 360px; height: 640px; margin-top: 8px;"></iframe>
  </div>
</div>
