sxy-markdown {
  ul, ol {
    padding-left: 20px;
  }
  > ul,
  > ol {
    font-size: 14px;
    li {
      margin: 7px 0;
    }
  }
  > pre {
    padding: 25px 50px 15px 25px;
    margin-right: -50px;
    margin-left: -25px;
    font-size: .75em;
  }
}
