// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/variables.scss';
// JK @2 018-04-11: Tried to import normalize mixin here...
// (actually it might be needed to be added under src/@salaxy/ionic if used there under contract preview)
// https://github.com/JohnAlbin/normalize-scss
// As:
//   @include normalize();
// But it but ran into error:
//   'normalize-font-size() only supports px inputs. The typey library is better.'
//   @if unit($value) != 'px' {
//   @error "normalize-font-size() only supports px inputs. The typey library is better.";
// No clear guide on how to proceed:
// https://github.com/JohnAlbin/normalize-scss/issues/103
// https://github.com/JohnAlbin/normalize-scss/issues/111
.link,
.clickable {
  cursor: pointer;
}

.no-rounding img,
img.no-rounding {
  border-radius: 0% !important;
}

// Custom width for ion-select popover.
.select-popover div.popover-content {
  width: 300px;
}

// Application styles
button[ion-fab] {
  overflow: visible;
  position: relative;
  contain: initial;
  ion-label {
    position: absolute;
    color: black;
    background-color: white;
    font-weight: bold;
    top: 1px;
    right: 60px;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

[icon-right] ion-icon {
  margin-left: 5px;
  margin-top: -2px;
  margin-right: 0;
}
[icon-right][small] ion-icon {
  margin-top: -1px;
  margin-left: 3px;
}

// Seems to be a bug in Ionic, that a block button with horizontal margins goes overboard
.button-block[margin],
.button-block[margin-horizontal],
.searchbar[margin],
.searchbar[margin-horizontal] {
  width: calc(100% - #{$content-margin} - #{$content-margin});
}

.demo-screenshot {
  display: block;
  text-align: center;
  img {
    max-width: 500px;
    width: 100%;
  }
}

/*
What was this? Whatever it is, it was too generic.
.item-ios ul li {
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #8e9093;
    margin: 0 0 2px;
}
*/

[salaxy-read-more],
[salaxy-read-less] {
  margin-left: 0px;
  margin-top: -16px;
  margin-bottom: -10px;
}

[salaxy-form-buttons] {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

form+[salaxy-form-buttons] {
  margin-top: 40px;
}

sxy-form-button button,
sxy-form-button-secondary button {
  margin-top: 1.3rem !important;
}

.help-text,
body .help-text p {
  font-size: 10px;
}

.help-text ion-label {
  margin-top: 0px;
}

.salaxy-error-toast .toast-wrapper {
  background: color($colors, danger);
}

.salaxy-calc-input-table {
  margin-left: 16px;
  td {
    font-size: 1.7rem;
    padding-bottom: 2px;
  }
  input {
    font-size: 1.7rem;
  }
  td.right {
    text-align: right;
    padding-right: 10px;
  }
  .total td {
    border-top: solid 1px black;
    border-bottom: double 3px black;
  }
}

/* for .i.e. ion-item with placeholder text for an empty value like "Ei puhelinnumeroa" */

.color-muted,
.color-muted h1,
.color-muted h2,
.color-muted h3,
.color-muted h4,
.color-muted h5 {
  color: lighten(color($colors, muted), 30%) !important;
}

/* Emphasized ion-item */

ion-item.salaxy-em {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #000;
  background-color: #f4f4f4;
  .label,
  .item-input .label,
  .item-select .label,
  .item-datetime .label {
    color: color($colors, primary);
  }
}

ion-item.item-md {
  padding-right: $item-md-padding-right;
}

ion-content .scroll-content {
  // Setting this will make the screen flicker in edge cases: When the page is exactly the right height so that scrollbar kicking in
  // overflow-y: auto;
}

.sxy-master-detail-main-content-fake {
  width: calc(100% - 490px);
  background-color: #f5f5f5;
}

.palkkaus-mobile-header {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  // Wide screens (menu visible)
  .palkkaus-mobile-header {
    display: none !important;
  }
  .hidden-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  // Mobile phones in portrait mode, (menu hidden)
  .page-header {
    display: none !important;
  }
}

/* Bootstrap-type show/hide functionality for different sizes */

.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

/* Lists */

ion-list {
  ion-item-group.spacing {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  /*
    Fixing an issue with last .item-input in Material UI ion-list.
    This occurs when there is a Salaxy component between the ion-list and ion-item.
    */
  .list-md>*>.item-input:last-child,
  .list-md>*>.item-input:last-child {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: none !important;
  }
  .list-md>*>.item-input.ng-valid .item-inner,
  ion-item.selected .item-inner {
    border-bottom-color: #32db64 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64 !important;
    box-shadow: inset 0 -1px 0 0 #32db64 !important;
  }
}

.md site-navbar+ion-content {
  margin-top: $navbar-md-height;
  height: calc(100% - 56px);
}

.ios site-navbar+ion-content {
  margin-top: $navbar-ios-height;
  height: calc(100% - 44px);
}

.siirto-todo {
  margin-top: 50px;
  border-top: double 3px gray;
  &::before {
    content: "TODO:";
    font-weight: bold;
    padding-left: 10px;
  }
}

table.table {
  width: 100%;
  &.striped {
    thead tr {
      background-color: color($colors, light);
    }
    tr:nth-child(even) {
      background-color: color($colors, light);
    }
  }
  caption,
  td,
  th {
    text-align: left;
    vertical-align: top;
    padding: 4px;
    p {
      margin-top: inherit;
      margin-bottom: inherit;
    }
  }
  caption {
    font-weight: bold;
  }
}

.wizard ion-content {
  background-color: #f5f5f5;
}

.sxy-md-last-item-fix {
  display: none;
}

example-url {
  display: none;
}

code {
  color: #07a;
}

body.palkkaus-web {
  // TODO: We may want to remove this in examples / restrict it only to non-example pages
  // becaue this is may be an issue for mobile devices / their testing.
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

ion-modal.preview-A4 .modal-wrapper {
  position: relative;
  background-color: white;
  width: 794px;
  left: calc(50% - 397px);
  top: 0;
  height: 100%;
  min-height: 300px;
  max-height: 1123px;
  @media (max-width: 794px) {
    width: 100%;
    left: 0;
  }
  @media (min-width: 795px) and (max-width: 1023px) {
    top: 24px;
    height: calc(100% - 48px);
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    top: 48px;
    height: calc(100% - 96px);
  }
  @media (min-width: 1280px) {
    top: 60px;
    height: calc(100% - 120px);
  }
  // Most of device screen widths (on mobile/tablet considering most device's portrait/landscape, on desktop only landscape)
  // Exclamation marks denote popularity by a quick review of usage stats at http://gs.statcounter.com/screen-resolution-stats
  // 320!!, 360!!, 375!!, 412, 414!, 480, 534, 568!!, 570!, 600, 640!!, 667!!, 720!, 732, 736!, 768!!, 800, 900, 960, 1024!!, 1136, 1280!!
  // Thus the main breakpoint options by width:
  // 320, 360, 375, (414), 568, 640, 667, 768, 1024, 1280
  // @media (max-width: 319px) {
  //     top: 4px;
  //     max-height: calc(100% - 8px);
  // }
  // @media (min-width: 320px) and (max-width: 359px) {
  // }
  // @media (min-width: 360px) and (max-width: 374px) {
  // }
  // @media (min-width: 375px) and (max-width: 413px) {
  //     top: 7px;
  //     max-height: calc(100% - 14px);
  // }
  // @media (min-width: 414px) and (max-width: 567px) {
  //     top: 7px;
  //     max-height: calc(100% - 14px);
  // }
  // @media (min-width: 568px) and (max-width: 639px) {
  //     top: 9px;
  //     max-height: calc(100% - 18px);
  // }
  // @media (min-width: 640px) and (max-width: 666px) {
  //     top: 10px;
  //     max-height: calc(100% - 20px);
  // }
  // @media (min-width: 667px) and (max-width: 767px) {
  //     top: 13px;
  //     max-height: calc(100% - 26px);
  // }
}

.notextselect {
  // https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import './styles/content.scss';
@import './styles/navigation.scss';
@import './styles/typography.scss';
