<div *sxyIfRole="'unknown'">
  <div class="sxy-spinner" style="position: fixed; top: 40%; left: 50%;transform: translate(-50%, -50%);">
    <div text-center style="font-family: 'Work Sans', sans-serif; font-size: 14px;">
      <sxy-spinner></sxy-spinner>
      <h2>SXY UI Component Library</h2>
      <p>Initializing session with Server...</p>
    </div>
  </div>
</div>
<div *sxyIfRole="['auth','anon']">
  <layout-menu *ngIf="layout === 'default'"></layout-menu>
  <layout-dialog *ngIf="layout === 'dialog'"></layout-dialog>
</div>
