<div [ngSwitch]="lang">

  <div *ngSwitchCase='"fi"' class="salaxy-credit-transfer">
    <div class="sct-row sct-row1">
      <div class="sct-col sct-col1">
        <div class="sct-row sct-row1">
          Saajan<br>tilinumero<br>Mottagarens<br>kontonummer
        </div>
        <div class="sct-row sct-row2">
          Saaja<br>Mottagare
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-label-payer">Maksajan<br>nimi ja<br>osoite<br>Betalarens<br>namn och<br>adress</div>
          <div class="sct-label-credit-transfer">TILISIIRTO. GIRERING</div>
          <div class="sct-label-signature">Allekirjoitus<br>Underskrift</div>
        </div>
        <div class="sct-row sct-row4">
          Tililtä nro<br>Från konto nr
        </div>
      </div>
      <div class="sct-col sct-col2">
        <div class="sct-row sct-row1">
          <div class="sct-label-iban">IBAN</div>
          <div class="sct-filled-content">
            <!-- Recipient account numbers (IBAN), max 4 lines -->
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Recipient, max 3 lines -->
            Kieliversiot Payroll finland Ltd. / Löneräkning Finland Ab<br>
            Kirkkokatu 1<br>
            00170 Helsinki
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Payer’s name and address -->
            MAIJA MAKSAJA<br>
            VIIVATIE 15<br>
            09999 KOODILA
          </div>
          <div class="sct-filled-content sct-signature">
            <!-- Signature -->
          </div>
          <div class="sct-guideline-signature"></div>
        </div>
        <div class="sct-row sct-row4">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- From account no. -->
            FI90 3636 3001 0100 24
          </div>
        </div>
      </div>
      <div class="sct-col sct-col3">
        <div class="sct-row sct-row1">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Information section, max 70 char -->
            Max upto 70 char content here max upto 70 char content here Max upto..
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-col sct-col1">
            Viitenumero<br>Ref. nr
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Ref. nr -->
              RF06 5595 8224 3294 671
            </div>
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-col sct-col1">
            Eräpäivä<br>Förfallodag
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Due date -->
              12.06.2018
            </div>
          </div>
          <div class="sct-col sct-col3">
            <div class="sct-label-euro">Euro</div>
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Euro amount -->
              3100,99
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sct-row sct-row2">
      <div id="barcode" *ngIf="bcShown">
        <!-- Barcode can be shown only with FI IBAN -->
        <ngx-barcode
          [bc-element-type]="'svg'"
          [bc-value]="bcValue"
          [bc-width]="1.75"
          [bc-height]="70"
          [bc-margin-top]="15"
          [bc-display-value]="'false'"></ngx-barcode>
      </div>
      <div id="terms-of-clearance">
        Maksu välitetään saajalle maksujenvälityksen ehtojen<br>
        mukaisesti ja vain maksajan ilmoittaman tilinumeron<br>
        perusteella.<br>
        Betalningen förmedlas till mottagaren engligt villkoren<br>
        för betalningsförmedling och endast till det<br>
        kontonummer som betalaren angivit.
      </div>
    </div>
  </div>

  <div *ngSwitchCase='"en"' class="salaxy-credit-transfer">
    <div class="sct-row sct-row1">
      <div class="sct-col sct-col1">
        <div class="sct-row sct-row1">
          Recipient’s<br>account<br>number
        </div>
        <div class="sct-row sct-row2">
            Recipient
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-label-payer">Payer’s<br>name and<br>address</div>
          <div class="sct-label-credit-transfer">CREDIT TRANSFER</div>
          <div class="sct-label-signature">Signature</div>
        </div>
        <div class="sct-row sct-row4">
            From account<br>no.
        </div>
      </div>
      <div class="sct-col sct-col2">
        <div class="sct-row sct-row1">
          <div class="sct-label-iban">IBAN</div>
          <div class="sct-filled-content">
            <!-- Recipient account numbers (IBAN), max 4 lines -->
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Recipient, max 3 lines -->
            Kieliversiot Payroll finland Ltd. / Löneräkning Finland Ab<br>
            Kirkkokatu 1<br>
            00170 Helsinki
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Payer’s name and address -->
            MAIJA MAKSAJA<br>
            VIIVATIE 15<br>
            09999 KOODILA
          </div>
          <div class="sct-filled-content sct-signature">
            <!-- Signature -->
          </div>
          <div class="sct-guideline-signature"></div>
        </div>
        <div class="sct-row sct-row4">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- From account no. -->
            FI90 3636 3001 0100 24
          </div>
        </div>
      </div>
      <div class="sct-col sct-col3">
        <div class="sct-row sct-row1">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Information section, max 70 char -->
            Max upto 70 char content here max upto 70 char content here Max upto..
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-col sct-col1">
            Ref. No.
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Ref. nr -->
              RF06 5595 8224 3294 671
            </div>
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-col sct-col1">
            Due date
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Due date -->
              12.06.2018
            </div>
          </div>
          <div class="sct-col sct-col3">
            <div class="sct-label-euro">Euro</div>
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Euro amount -->
              3100,99
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sct-row sct-row2">
      <div id="barcode" *ngIf="bcShown">
        <!-- Barcode can be shown only with FI IBAN -->
        <ngx-barcode
          [bc-element-type]="'svg'"
          [bc-value]="bcValue"
          [bc-width]="1.75"
          [bc-height]="70"
          [bc-margin-top]="15"
          [bc-display-value]="'false'"></ngx-barcode>
      </div>
      <div id="terms-of-clearance">
        The payment will be cleared for the recipient in<br>
        accordance with the General terms for payment<br>
        transmission and only on the basis of the account<br>
        number given by the payer.
      </div>
    </div>
  </div>

  <div *ngSwitchCase='"sv"' class="salaxy-credit-transfer">
    <div class="sct-row sct-row1">
      <div class="sct-col sct-col1">
        <div class="sct-row sct-row1">
          Mottagarens<br>kontonummer
        </div>
        <div class="sct-row sct-row2">
          Mottagare
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-label-payer">Betalarens<br>namn och<br>adress</div>
          <div class="sct-label-credit-transfer">GIRERING</div>
          <div class="sct-label-signature">Underskrift</div>
        </div>
        <div class="sct-row sct-row4">
          Från konto nr
        </div>
      </div>
      <div class="sct-col sct-col2">
        <div class="sct-row sct-row1">
          <div class="sct-label-iban">IBAN</div>
          <div class="sct-filled-content">
            <!-- Recipient account numbers (IBAN), max 4 lines -->
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23<br>
            S-BANK FI22 1234 4567 8901 23
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Recipient, max 3 lines -->
            Kieliversiot Payroll finland Ltd. / Löneräkning Finland Ab<br>
            Kirkkokatu 1<br>
            00170 Helsinki
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Payer’s name and address -->
            MAIJA MAKSAJA<br>
            VIIVATIE 15<br>
            09999 KOODILA
          </div>
          <div class="sct-filled-content sct-signature">
            <!-- Signature -->
          </div>
          <div class="sct-guideline-signature"></div>
        </div>
        <div class="sct-row sct-row4">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- From account no. -->
            FI90 3636 3001 0100 24
          </div>
        </div>
      </div>
      <div class="sct-col sct-col3">
        <div class="sct-row sct-row1">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Information section, max 70 char -->
            Max upto 70 char content here max upto 70 char content here Max upto..
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-col sct-col1">
            Ref. nr
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Ref. nr -->
              RF06 5595 8224 3294 671
            </div>
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-col sct-col1">
            Förfallodag
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Due date -->
              12.06.2018
            </div>
          </div>
          <div class="sct-col sct-col3">
            <div class="sct-label-euro">Euro</div>
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Euro amount -->
              3100,99
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sct-row sct-row2">
      <div id="barcode" *ngIf="bcShown">
        <!-- Barcode can be shown only with FI IBAN -->
        <ngx-barcode
          [bc-element-type]="'svg'"
          [bc-value]="bcValue"
          [bc-width]="1.75"
          [bc-height]="70"
          [bc-margin-top]="15"
          [bc-display-value]="'false'"></ngx-barcode>
      </div>
      <div id="terms-of-clearance">
        Betalningen förmedlas till mottagaren engligt villkoren<br>
        för betalningsförmedling och endast till det<br>
        kontonummer som betalaren angivit.
      </div>
    </div>
  </div>
