sxy-credit-transfer-form .salaxy-credit-transfer {
  * {
    box-sizing: border-box;
  }
  font-size: 11px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  min-width: 900px;
  width: 100%;
  height: 483.81px; // calc(101.6 / 210 * 1000px);
  margin-top: 10px;

  .sct-filled-content {
    font-size: 13px;
  }

  .sct-filled-content-main {
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .sct-col, .sct-row {
    float: left;
    position: relative;
  }
  > .sct-row,
  .sct-col > .sct-row {
    clear: both;
    width: 100%;
  }

  > .sct-row1 {
    height: calc(33 / 46 * 483.81px);
    border-top: 1px dashed black;
    > .sct-col {
      text-align: right;
    }
    > .sct-col1 {
      width: calc(8 / 80 * 100%);
      > .sct-row1 {
        padding: 12px 5px 0 0;
      }
      > .sct-row2 {
        padding: 10px 5px 0 0;
      }
      > .sct-row3 {
        padding: 2px 5px 0 0;
        .sct-label-signature {
          position: absolute;
          bottom: 5px;
          right: 5px;
        }
        .sct-label-credit-transfer {
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          transform: rotate(-90deg);
          position: absolute;
          width: calc(14 / 46 * 483.81px);
          top: calc(14 / 46 * 483.81px);
          left: 0;
          text-align: center;
          font-weight: 700;
          font-size: 12px;
        }
      }
      > .sct-row4 {
        padding: 7px 5px 0 0;
      }
    }
    > .sct-col2,
    > .sct-col3 {
      width: calc(36 / 80 * 100%);
    }
    > .sct-col1,
    > .sct-col2 {
      .sct-row1 {
        height: calc(8 / 46 * 483.81px);
        border-bottom: 2px solid black;
      }
      .sct-row2 {
        height: calc(7 / 46 * 483.81px);
        border-bottom: 2px solid black;
      }
      .sct-row3 {
        height: calc(14 / 46 * 483.81px);
        border-bottom: 2px solid black;
      }
      .sct-row4 {
        height: calc(4 / 46 * 483.81px);
      }
    }
    > .sct-col2 {
      > .sct-row {
        padding: 5px 10px;
        text-align: left;
      }
      > .sct-row1,
      > .sct-row2 {
        border-left: 2px solid black;
      }
      > .sct-row3 {
        .sct-guideline-signature {
          position: absolute;
          bottom: 15px;
          left: 10px;
          width: calc(100% - 10px);
          border-bottom: 1px solid black;
        }
      }
      > .sct-row4 {
        padding-top: 12px;
        border-left: 1px solid black;
      }
    }
    > .sct-col3 {
      border-left: 2px solid black;
      .sct-row1 {
        height: calc(25 / 46 * 483.81px);
        border-bottom: 2px solid black;
        .sct-filled-content-main {
          position: absolute;
          top: 45%;
          left: 10px;
          text-align: left;
        }
      }
      .sct-row2 {
        height: calc(4 / 46 * 483.81px);
        border-bottom: 2px solid black;
        > .sct-col2 {
          padding: 13px 10px 10px 10px;
        }
      }
      .sct-row3 {
        height: calc(4 / 46 * 483.81px);
        > .sct-col2 {
          padding: 13px 10px 10px 10px;
          text-align: left;
        }
        > .sct-col3 {
          width: 50%;
          padding: 13px 15px 10px 10px;
          text-align: right;
          .sct-label-euro {
            position: absolute;
            top: 2px;
            left: 5px;
          }
          .sct-filled-content-main {
            width: 100%;
          }
        }
      }
      .sct-row2 .sct-col,
      .sct-row3 .sct-col {
        height: calc(4 / 46 * 483.81px);
      }
      .sct-row2 .sct-col1,
      .sct-row3 .sct-col1,
      .sct-row3 .sct-col2 {
        border-right: 2px solid black;
      }
      .sct-row2 .sct-col1,
      .sct-row3 .sct-col1 {
        width: 17%;
        text-align: left;
        padding: 3px;
      }
      .sct-row3 .sct-col2 {
        width: 33%;
      }
    }
  }
  > .sct-row2 {
    height: calc(13 / 46 * 483.81px);
    border-top: 2px solid black;
    #terms-of-clearance {
      position: absolute;
      right: calc(4 / 80 * 100%);
      top: 12px;
    }
  }
}
