<ion-list>
  <ion-item-sliding *ngFor="let calc of list">
    <button ion-item (click)="select(calc)">
      <sxy-avatar [avatar]="getOtherParty(calc)" item-start></sxy-avatar>
      <ion-note item-end style="text-align: right">
        {{ calc.result.totals.totalGrossSalary | salaxyPrice }}
        <br>
        <small>{{ 'SALAXY.ENUM.CalculationStatus.' + calc.workflow.status + '.label' | sxyTranslate }}</small>
      </ion-note>
      <h2>{{ getOtherParty(calc).displayName }}</h2>
      <p>{{ calc.workflow.paidAt || calc.updatedAt || calc.createdAt | date :'mediumDate' }}</p>
    </button>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="delete(calc.id)" *ngIf="!calc.isReadOnly">
        <ion-icon name="trash"></ion-icon>
        {{ 'SALAXY.UI_TERMS.delete' | sxyTranslate }}
      </button>
      <button ion-button color="secondary">
        <ion-icon name="copy"></ion-icon>
        {{ 'SALAXY.UI_TERMS.copyAsRequest' | sxyTranslate }}
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
