<sxy-card padding
  img="https://cdn.salaxy.com/ng/img/cards/boy-with-bubbles.jpg"
  *ngFor="let calc of list"
  [title]="calc.salary.message || translate.get('SALAXY.ION.COMPONENTS.CalcCards.salaryPayment')"
  [subTitle]="getSubTitle(calc)"
  [price]="calc.result.totals.totalGrossSalary | salaxyPrice"
  [avatar]="getOtherParty(calc)"
  (click)="select(calc)">
  <content>{{ getOtherParty(calc).displayName || "-" }}</content>
</sxy-card>
