<ion-list>
  <ion-item *ngFor="let calc of list">
    <sxy-avatar [avatar]="getOtherParty(calc)" item-start></sxy-avatar>
    <ion-note item-end style="text-align: right">
      <span [ngStyle]="{ 'color': getPayment(calc) < 0 ? 'red' : 'green' }">{{ getPayment(calc) | number:'1.2-2' }}</span>
      <br>
      <small>{{ calc.workflow.paidAt || calc.updatedAt || calc.createdAt | date : 'd.M.yyyy' }}</small>
    </ion-note>
    <h3>{{ getOtherParty(calc).displayName || 'SALAXY.ION.COMPONENTS.CalcPaymentList.noPersonChosen' | sxyTranslate }}</h3>
    <p>{{ getDescription(calc) }}</p>
  </ion-item>
</ion-list>
