<sxy-master-detail-view title="Component Development with SALAXY-LIB-NG">
  <content>
    <div class="container-fixed container-white">
      <sxy-markdown path="/assets/docs/components-creating.md"></sxy-markdown>
    </div>
  </content>
</sxy-master-detail-view>
