<sxy-master-detail-view title="Common Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/common.md"></sxy-markdown>
      <hr>
      <docs-component name="AvatarEditorComponent"></docs-component>
      <docs-component name="AvatarComponent"></docs-component>
      <docs-component name="CardComponent"></docs-component>
      <docs-component name="DebuggerComponent"></docs-component>
      <docs-component name="IconWithBadgeComponent"></docs-component>
      <docs-component name="InfoTextComponent"></docs-component>
      <docs-component name="PopunderComponent"></docs-component>
      <docs-component name="ProgressComponent"></docs-component>
      <docs-component name="RoundedIonItemIconComponent"></docs-component>
      <docs-component name="SpinnerComponent"></docs-component>
      <docs-component name="SpinnerSecondaryComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
