<sxy-master-detail-view title="Employment Contract Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/contract.md"></sxy-markdown>
      <hr>
      <h2>Listing And Selecting Contracts</h2>
      <docs-component name="ContractListComponent"></docs-component>
      <hr>
      <h2>Preview component (to embed in modal)</h2>
      <docs-component name="ContractPreviewComponent"></docs-component>
      <hr>
      <h2>Contract Editing - Summary Section</h2>
      <docs-component name="ContractEditSummaryComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
W
