<sxy-master-detail-view title="Contact Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/contact.md"></sxy-markdown>
      <hr>
      <h2>Contact List</h2>
      <docs-component name="ContactListComponent"></docs-component>
      <hr>
      <h2>Contact Details</h2>
      <docs-component name="ContactDetailsComponent"></docs-component>
      </div>
  </content>
</sxy-master-detail-view>
