<sxy-master-detail-view title="Credit Transfer Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/credit-transfer.md"></sxy-markdown>
      <hr>
      <h2>Credit Transfer Forms</h2>
      <docs-component name="CreditTransferFormComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
