<sxy-master-detail-view title="Form Control Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/form-controls.md"></sxy-markdown>
      <hr>
      <docs-component name="InputTextComponent"></docs-component>
      <docs-component name="SelectComponent"></docs-component>
      <docs-component name="FormButtonComponent"></docs-component>
      <docs-component name="FormButtonSecondaryComponent"></docs-component>
      <docs-component name="InputNumberComponent"></docs-component>
      <docs-component name="InputPeriodComponent"></docs-component>
      <docs-component name="ValidationMessagesComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
