<sxy-master-detail-view title="Master-Detail View Component" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/master-detail.md"></sxy-markdown>
      <hr>
      <h3>Components</h3>
      <docs-component name="MasterDetailComponent"></docs-component>
      <hr>
      <h3>Directives</h3>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="DetailPushDirectiveExample" [navParams]="{ componentName: 'SxyDetailPush' }" title="Examples for SxyDetailPush">
        sxyDetailPush Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="DetailPopDirectiveExample" [navParams]="{ componentName: 'SxyDetailPop' }" title="Examples for SxyDetailPop">
        sxyDetailPop Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="MasterPushDirectiveExample" [navParams]="{ componentName: 'SxMasterPush' }" title="Examples for SxMasterPush">
        sxyMasterPush Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="RootPushDirectiveExample" [navParams]="{ componentName: 'SxyRootPush' }" title="Examples for SxyRootPush">
        sxyRootPush Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
    </div>
  </content>
</sxy-master-detail-view>
