<sxy-master-detail-view title="Onboarding Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/onboarding.md"></sxy-markdown>
      <hr>
      <h2>Login and Password / UID Recovery</h2>
      <docs-component name="RecoverUidPwdComponent"></docs-component>
      <hr>
      <h2>Onboarding Wizard</h2>
      <docs-component name="OnboardingIdentifierComponent"></docs-component>
      <docs-component name="OnboardingPersonComponent"></docs-component>
      <docs-component name="OnboardingPhoneVerifyComponent"></docs-component>
      <docs-component name="OnboardingPersonComponent"></docs-component>
      <docs-component name="OnboardingPhoneComponent"></docs-component>
      <docs-component name="OnboardingTupasComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
