<sxy-master-detail-view title="Pipes & Directives" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/pipes-directives.md"></sxy-markdown>

      <hr>
      <h3>Pipes</h3>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="DatePipeExample" [navParams]="{ componentName: 'DatePipe' }" title="Examples for Date Pipe">
        Date Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="GroupByPipeExample" [navParams]="{ componentName: 'GroupByPipe' }" title="Examples for GroupBy Pipe">
        GroupBy Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="IbanPipeExample" [navParams]="{ componentName: 'IbanPipe' }" title="Examples for Iban Pipe">
        Iban Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="PricePipeExample" [navParams]="{ componentName: 'PricePipe' }" title="Examples for Price Pipe">
        Price Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="SafeHtmlPipeExample" [navParams]="{ componentName: 'SafeHtmlPipe' }" title="Examples for SafeHtml Pipe">
        SafeHtml Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="TranslatePipeExample" [navParams]="{ componentName: 'SxyTranslatePipe' }" title="Examples for SxyTranslate Pipe">
        sxyTranslate Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

      <hr>
      <h3>Directives</h3>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="IfLoadingDirectiveExample" [navParams]="{ componentName: 'SxyIfLoading' }" title="Examples for SxyIfLoading Directive">
        IfLoading Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="IfRoleDirectiveExample" [navParams]="{ componentName: 'SxyIfRole' }" title="Examples for SxyIfRole Directive">
        IfRole Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

      <hr>
      <h3>Directives for Navigation</h3>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="DetailPushDirectiveExample" [navParams]="{ componentName: 'SxyDetailPush' }" title="Examples for SxyDetailPush Directive">
        DetailPush Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="DetailPopDirectiveExample" [navParams]="{ componentName: 'SxyDetailPop' }" title="Examples for SxyDetailPop Directive">
        DetailPop Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="MasterPushDirectiveExample" [navParams]="{ componentName: 'SxMasterPush' }" title="Examples for SxMasterPush Directive">
        MasterPush Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <br>
      <button ion-button color="secondary" icon-right
        sxyDetailPush="RootPushDirectiveExample" [navParams]="{ componentName: 'SxyRootPush' }" title="Examples for SxyRootPush Directive">
        RootPush Example
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </content>
</sxy-master-detail-view>
