<sxy-master-detail-view title="Settings Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/settings.md"></sxy-markdown>
      <hr>
      <h2>Overview Components</h2>
      <docs-component name="SettingsEditButtonsComponent"></docs-component>
      <docs-component name="SettingsGeneralComponent"></docs-component>
      <hr>
      <h2>Editor Components</h2>
      <docs-component name="SettingsHouseholdSubsidyComponent"></docs-component>
      <docs-component name="SettingsInsuranceComponent"></docs-component>
      <docs-component name="SettingsOverviewComponent"></docs-component>
      <docs-component name="SettingsPensionComponent"></docs-component>
      <docs-component name="SettingsTaxComponent"></docs-component>
      <docs-component name="SettingsTaxCardEmailComponent"></docs-component>
      <docs-component name="SettingsUnemploymentComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
