<sxy-master-detail-view title="Income Tax Card Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/tax-card.md"></sxy-markdown>
      <hr>
      <docs-component name="TaxCardListComponent"></docs-component>
      <docs-component name="TaxCardComponent"></docs-component>
      <docs-component name="HelloComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
