<sxy-master-detail-view title="Worker Components" asideTitle="Examples & References">
  <content>
    <div class="container-fixed container-white container-page-example">
      <sxy-markdown path="/assets/docs/worker.md"></sxy-markdown>
      <hr>
      <docs-component name="WorkerListComponent"></docs-component>
      <docs-component name="WorkerDetailsComponent"></docs-component>
      <docs-component name="WorkerCalculationListComponent"></docs-component>
    </div>
  </content>
</sxy-master-detail-view>
