<sxy-master-detail-view title="Calculation Worker example">
  <content>
    <div class="container-fixed container-white">
      <sxy-calc-worker (done)="done($event)"></sxy-calc-worker>
    </div>
  </content>
  <aside>
    <sxy-debugger [dump]="current" text="Calculation"></sxy-debugger>
  </aside>
</sxy-master-detail-view>
