<ion-grid *ngIf="!hideCreateButton">
  <ion-row>
    <ion-col>
      <button ion-button block round outline (click)="createNew('company')">
        {{ 'SALAXY.ION.COMPONENTS.ContactList.addNewCompany' | sxyTranslate }}
      </button>
    </ion-col>
    <ion-col>
      <button ion-button block round outline (click)="createNew('person')">
        {{ 'SALAXY.ION.COMPONENTS.ContactList.addNewPerson' | sxyTranslate }}
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-list padding-vertical>
  <ion-searchbar *ngIf="list.length > 5" placeholder="{{ 'SALAXY.UI_TERMS.searchByName' | sxyTranslate }}" animated="true"
    [(ngModel)]="filterByText" margin-horizontal margin-bottom></ion-searchbar>
  <ion-item *ngIf="filterByText && filterByText.length > 0 && filteredList.length < 1" text-center text-uppercase padding-vertical>
    <h3>{{ 'SALAXY.ION.COMPONENTS.ContactList.noSearchResults' | sxyTranslate }}</h3>
  </ion-item>
  <ion-item *ngIf="isExample" class="color-muted">
    <h3>{{ 'SALAXY.ION.COMPONENTS.ContactList.tryWithExamples' | sxyTranslate }}</h3>
  </ion-item>
  <button ion-item text-wrap *ngFor="let contact of filteredList" (click)="select(contact)">
    <sxy-avatar [avatar]="contact.avatar" item-start></sxy-avatar>
    <h3>{{ contact.avatar.displayName }}</h3>
    <p>{{ contact.avatar.description || contact.contact.email || contact.contact.city }}</p>
  </button>
</ion-list>
