<div *ngIf="!entityType">
  <h3>{{ 'SALAXY.ION.COMPONENTS.ContactDetails.businessOrPerson' | sxyTranslate }}</h3>
  <sxy-form-button type="button" label="SALAXY.ENUM.LegalEntityType.company.label" (click)="current.avatar.entityType = 'company'"></sxy-form-button>
  <sxy-form-button type="button" label="SALAXY.ENUM.LegalEntityType.person.label" (click)="current.avatar.entityType = 'person'"></sxy-form-button>
</div>
<div *ngIf="entityType">
  <form #currentForm="ngForm" (ngSubmit)="save()" novalidate>
    <ion-list>
      <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.avatar.firstName" name="firstName" required
        [label]="entityType == 'company' ? 'SALAXY.ION.COMPONENTS.ContactDetails.businessName' : 'SALAXY.ION.COMPONENTS.ContactDetails.firstName'"></sxy-input-text>
      <sxy-input-text *ngIf="entityType == 'person'" [readonly]="!editMode" [(ngModel)]="current.avatar.lastName" name="lastName" required label="SALAXY.ION.COMPONENTS.ContactDetails.lastName"></sxy-input-text>
      <sxy-input-text *ngIf="entityType == 'person'" [readonly]="!editMode" [(ngModel)]="current.officialId" name="officialId" sxyPersonalIdFi label="SALAXY.ION.COMPONENTS.ContactDetails.ssNumber"></sxy-input-text>
      <sxy-input-text *ngIf="entityType == 'company'" [readonly]="!editMode" [(ngModel)]="current.officialId" name="officialId"  sxyCompanyIdFi label="SALAXY.ION.COMPONENTS.ContactDetails.vatId"></sxy-input-text>
      <ion-item no-lines></ion-item>
      <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.email" sxyEmail name="email" label="SALAXY.ION.COMPONENTS.ContactDetails.email" margin-top></sxy-input-text>
      <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.telephone" sxyMobilePhone name="telephone" label="SALAXY.ION.COMPONENTS.ContactDetails.tel"></sxy-input-text>
      <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.street" name="street" label="SALAXY.ION.COMPONENTS.ContactDetails.address"></sxy-input-text>
      <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.postalCode" sxyPostalCodeFi name="postalCode" label="SALAXY.ION.COMPONENTS.ContactDetails.postalCode"></sxy-input-text>
      <sxy-input-text [readonly]="!editMode" [(ngModel)]="current.contact.city" name="city" label="SALAXY.ION.COMPONENTS.ContactDetails.postalArea"></sxy-input-text>
      <ion-item *ngIf="editMode && isExample" no-lines>
        <ion-note item-end>{{ 'SALAXY.ION.COMPONENTS.ContactDetails.noteCannotDeleteExamples' | sxyTranslate }}</ion-note>
      </ion-item>
    </ion-list>
  </form>
  <div salaxy-form-buttons>
    <sxy-form-button *ngIf="editMode" type="submit" [form]="currentForm" label="SALAXY.UI_TERMS.save"></sxy-form-button>
    <sxy-form-button *ngIf="!editMode" type="button" label="SALAXY.UI_TERMS.edit" color="secondary" (click)="toggleEditMode()"></sxy-form-button>
    <sxy-form-button-secondary *ngIf="showDelete" type="button" label="SALAXY.ION.COMPONENTS.ContactDetails.removeContact" (click)="delete()"></sxy-form-button-secondary>
  </div>
</div>
