<button ion-button round block type="{{ form ? 'button' : type }}" [disabled]="getDisabled()" (click)="click()" color="{{ color || 'primary'}}">
  <ion-icon *ngIf="icon" name="{{ icon }}"></ion-icon>
  {{ label | sxyTranslate }}
</button>
