<button ion-button round small clear type="{{ type }}" [disabled]="getDisabled()" color="{{ color || 'primary'}}">
  <ion-icon *ngIf="icon" name="{{ icon }}"></ion-icon>
  {{ label | sxyTranslate }}
</button>
