ion-item.input-group-header .item-inner ion-label {
  margin-top: 20px;
  margin-bottom: 0;
  h2 {
    color: #32db64;
  }
}

sxy-input-period + ion-item.input-group-header .item-inner ion-label,
sxy-input-text + ion-item.input-group-header .item-inner ion-label,
sxy-input-number + ion-item.input-group-header .item-inner ion-label {
  margin-top: 50px;
}

sxy-input-period,
sxy-input-text,
sxy-input-number {
  ion-input {
    font-weight: bold;
  }
  &.emphases {
    input.text-input {
      margin-top: 0px;
    }
    ion-input {
      font-size: 2em;
    }
  }
}

ion-item.selected ion-select .select-text,
.ionCalendarInput {
  font-weight: bold;
}

ion-select.emphases {
  font-size: 2em;
}

sxy-input-number {
  .control-button .button-inner > ion-icon {
    margin: auto;
  }
  ion-item.item {
    .container-control-buttons {
      padding-top: 26px;
      .control-button {
        border-radius: 999px;
        padding-left: 0px;
        padding-right: 0px;
        height: 30px;
        width: 30px;
        line-height: 33px;
        font-size: 17px;
        text-align: center;
        background-color: white;
      }
    }
  }
}

sxy-input-period {
  .input-wrapper {
    input:disabled {
      color: black;
      opacity: 1;
    }
  }
  ion-item.item {
    .container-control-buttons {
      padding-top: 26px;
      font-size: 1.5em;
    }
  }
}

sxy-select ion-select {
  max-width: 100%;
}

.item-input-disabled {
  opacity: 0.3 !important;
}

sxy-input-text[ng-reflect-readonly="true"] {
  .item-inner {
    border-bottom-color: #dedede !important;
    box-shadow: inset 0 -1px 0 0 #dedede !important;
  }
  .item-input-has-focus {
    .label-md[stacked],
    .label-md[floating] {
      color: #999;
    }
  }
  .label-md[floating] {
    -ms-transform: translate3d(0, 0, 0) scale(0.8) !important;
    -moz-transform: translate3d(0, 0, 0) scale(0.8) !important;
    -o-transform: translate3d(0, 0, 0) scale(0.8) !important;
    -webkit-transform: translate3d(0, 0, 0) scale(0.8) !important;
    transform: translate3d(0, 0, 0) scale(0.8) !important;
  }
  ion-input {
    font-weight: normal;
  }
  input:hover {
    cursor: default;
  }
}
