<ion-item [ngClass]="getInputStateClasses()">
	<ion-label *ngIf="labelType == 'floating'" floating [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
	<ion-label *ngIf="labelType == 'stacked'" stacked [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
	<ion-label *ngIf="labelType == 'fixed'" fixed [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
	<ion-input
		type="text"
		readonly="{{ readonly }}"
		[placeholder]="placeholderText"
		[id]="id + '_inner'"
		[disabled]="getIsDisabled()"
		[(ngModel)]="value"
		(ionBlur)="touch()"></ion-input>
</ion-item>
<span class="sxy-md-last-item-fix"></span>
<sxy-validation *ngIf="model.control.touched && invalid | async" [messages]="getMessages() | async"></sxy-validation>
