<ion-item [ngClass]="getInputStateClasses()">
  <ion-label *ngIf="labelType == 'floating'" floating [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-label *ngIf="labelType == 'stacked'" stacked [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-label *ngIf="labelType == 'fixed'" fixed [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-input
    type="number"
    readonly="{{ readonly }}"
    [(ngModel)]="value"
    [placeholder]="placeholderText"
    [id]="id + '_inner'"
    (ionBlur)="touch()"
    [min]="min" [max]="max" [step]="step"
    [disabled]="getIsDisabled()"
    ></ion-input>
  <div item-right class="container-control-buttons" *ngIf="!getIsDisabled()">
    <button ion-button type="button" outline class="control-button increment" (click)="increment()" title="Lisää yksi">
      <ion-icon name="md-arrow-dropup"></ion-icon>
    </button>
    <button ion-button type="button" outline class="control-button decrement" (click)="decrement()" title="Vähennä yksi">
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </button>
  </div>
</ion-item>
<span class="sxy-md-last-item-fix"></span>
<sxy-validation *ngIf="model.control.touched && invalid | async" [messages]="getMessages() | async">
</sxy-validation>
