<ion-item [ngClass]="getInputStateClasses()">
  <ion-label *ngIf="labelType == 'floating'" floating [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-label *ngIf="labelType == 'stacked'" stacked [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-label *ngIf="labelType == 'fixed'" fixed [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-input type="text" readonly="{{ readonly }}" [id]="id + '_inner'" [(ngModel)]="value" disabled (click)="showPeriodEdit()"></ion-input>
  <div item-right class="container-control-buttons" *ngIf="!getIsDisabled()">
    <ion-icon name="calendar" color="primary" (click)="showPeriodEdit()"></ion-icon>
  </div>
</ion-item>
<span class="sxy-md-last-item-fix"></span>
<sxy-validation *ngIf="model?.control.touched && invalid | async" [messages]="getMessages() | async"></sxy-validation>
