<ion-item [ngClass]="getInputStateClasses()">
  <ion-label *ngIf="labelType == 'floating'" floating [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-label *ngIf="labelType == 'stacked'" stacked [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-label *ngIf="labelType == 'fixed'" fixed [attr.for]="id + '_inner'">{{ labelText }}</ion-label>
  <ion-select interface="popover" [(ngModel)]="value" [placeholder]="placeholderText" [id]="id + '_inner'" (ionBlur)="touch()">
    <ion-option *ngFor="let option of getOptions()" [value]="option.value">{{ option.text }}</ion-option>
  </ion-select>
</ion-item>
<span class="sxy-md-last-item-fix"></span>
<sxy-validation *ngIf="model.control.touched && invalid | async" [messages]="getMessages() | async"></sxy-validation>
