<sxy-master-detail-view title="Contract List Example">
  <content>
    <div class="container-fixed container-white">
      <sxy-contract-list [navParams]="{}" limitTo="10" (itemSelect)="select($event)"></sxy-contract-list>
      <sxy-debugger [dump]="selectedContract" text="Selected contract:" color="primary"></sxy-debugger>
    </div>
  </content>
</sxy-master-detail-view>
