<sxy-master-detail-view title="Työsopimukset">
  <content>
    <div class="container-fixed container-white" [ngSwitch]="view">
      <ng-container *ngSwitchCase="'list'">
        <sxy-contract-list filterBySelfRole="{{ role }}" (itemSelect)="onContractSelect()" (createNewClicked)="onCreateNewClicked()"></sxy-contract-list>
      </ng-container>
      <ng-container *ngSwitchCase="'edit'">
        <button ion-button (click)="goToList()" small round clear icon-start margin-top margin-left>
          <ion-icon name="arrow-back"></ion-icon>
          Palaa sopimuslistalle
        </button>
        <ion-item>
          <h2 *ngIf="editMode === 'draft'">Sopimusluonnos</h2>
          <h2 *ngIf="editMode === 'saved'">Sopimuksen muokkaus</h2>
        </ion-item>
        <sxy-contract-edit-summary></sxy-contract-edit-summary>
        <div salaxy-form-buttons>
          <sxy-form-button type="submit" icon="document" color="secondary" label="Esikatsele sopimusta" (click)="presentPreviewModal()"></sxy-form-button>
          <sxy-form-button type="submit" icon="checkmark" [label]="submitText()" (click)="saveContract()"></sxy-form-button>
          <br>
          <sxy-form-button-secondary *ngIf="editMode === 'saved'" type="button" icon="ios-trash-outline" label="Poista sopimus" (click)="removeContractWithConfirmation()"
            margin-bottom></sxy-form-button-secondary>
        </div>
      </ng-container>
    </div>

  </content>
  <aside></aside>
</sxy-master-detail-view>
