<sxy-master-detail-view title="Contract Edit Summary Example">
  <content>
    <div class="container-fixed container-white">
      <h1>Contract Edit Summary example</h1>
      <sxy-contract-edit-summary></sxy-contract-edit-summary>
    </div>
  </content>
</sxy-master-detail-view>
