<mat-list>
    <h3 md-subheader>Työntekijät</h3>
    <mat-list-item *ngFor="let worker of items" (click)="setCurrentId(worker.id)" class="click">
        <salaxy-avatar style="font-size: 48px;" [avatar]="worker.avatar" md-list-avatar>></salaxy-avatar>
        <h4 md-line>{{ worker.avatar.displayName }}</h4>
        <p md-line>{{ worker.id }}</p>
    </mat-list-item>
</mat-list>
