<sxy-card img="https://cdn.salaxy.com/ng/img/cards/boy-with-bubbles.jpg" [title]="model.worker.avatar.displayName" [avatar]="model.worker.avatar"
  [subTitle]="model.worker.accountId" price='Verokortti'>
  <content>
    TODO: Maksutapa tähän
  </content>
</sxy-card>
<div *ngIf="!isEditable">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.tel' | sxyTranslate }}</ion-label>
      <ion-label>{{model.worker.paymentData.telephone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.ssNumber' | sxyTranslate }}</ion-label>
      <ion-label>{{ model.worker.paymentData.socialSecurityNumber }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.ibanNumber' | sxyTranslate }}</ion-label>
      <ion-label>{{ model.worker.paymentData.ibanNumber }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.email' | sxyTranslate }}</ion-label>
      <ion-label>{{ model.worker.paymentData.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.taxCard' | sxyTranslate }}<</ion-label>
      <ion-label>TODO: Verokortti</ion-label>
    </ion-item>
  </ion-list>
</div>
<div *ngIf="isEditable">
  <form (ngSubmit)="submit()" #currentForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.tel' | sxyTranslate }}</ion-label>
        <ion-label>{{model.worker.paymentData.telephone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.weAreAsking' | sxyTranslate }}</ion-label>
        <ion-toggle name="askForTaxCard" color="positive" [(ngModel)]="askForTaxCard"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="askForTaxCard; else showAllData" text-wrap>
        <p>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.askForTaxCard' | sxyTranslate }}</p>
        <!--
          <ion-label>Ikäryhmä laskelmaan</ion-label>
          <ion-select interface="popover" name="ageGroup" color="primary" [(ngModel)]="ageGroup" text-wrap required>
              <ion-option *ngFor="let ageRange of getAgeRanges()" value="{{ageRange.name}}">{{ ageRange.label }}</ion-option>
          </ion-select>
        -->
      </ion-item>
      <ng-template #showAllData>
        <sxy-select name="taxCardType"[(ngModel)]="taxCardType" required hiddenOptions="example" enum="TaxCardType" label="SALAXY.ION.COMPONENTS.CalcWorker.taxCardType"></sxy-select>
        <sxy-input-number name="taxPercent" required min="0" max="100" class="emphases" [(ngModel)]="model.worker.paymentData.taxPercent" label="SALAXY.ION.COMPONENTS.CalcWorker.taxPercent"></sxy-input-number>
        <sxy-input-text name="socialSecurityNumber" label="SALAXY.ION.COMPONENTS.CalcWorker.ssNumber" required sxyPersonalIdFi [(ngModel)]="model.worker.paymentData.socialSecurityNumber"></sxy-input-text>
        <sxy-input-email name="email" required sxyEmail [(ngModel)]="model.worker.paymentData.email" label="SALAXY.ION.COMPONENTS.CalcWorker.email"></sxy-input-email>
        <sxy-input-text name="ibanNumber" sxyIban [(ngModel)]="model.worker.paymentData.ibanNumber" label="SALAXY.ION.COMPONENTS.CalcWorker.ibanNumber"></sxy-input-text>
        <ion-item text-wrap>
          <ion-label>{{ 'SALAXY.ION.COMPONENTS.CalcWorker.withoutIbanPaidViaSiirto' | sxyTranslate }}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
    <sxy-form-button label="SALAXY.UI_TERMS.recalculate" [form]="currentForm"></sxy-form-button>
  </form>
</div>
