layout-dialog > div {
  width: 100%;
  height: 100%;
  background-color: color($colors, muted);
  > div {
    position: relative;
    max-width: 500px;
    max-height: 800px;
    height: 100%;
    margin: auto;
  }
}
