<ion-split-pane [ngClass]="'salaxy-role-' + role" when="md">
  <ion-menu [content]="mainContent" class="palkkaus-menu">
    <ion-content no-padding>
      <ion-list>
        <ion-item-group>
          <sxy-language-selector></sxy-language-selector>
          <div class="palkkaus-logo">
            <img src="https://cdn.salaxy.com/ng/img/salaxy-logo.svg">
          </div>
          <h1 class="site-title">SXY UI Component Library on Ionic Angular</h1>
        </ion-item-group>
        <ion-item-group class="palkkaus-profile main-nav-group" margin-top>
          <button ion-item *sxyIfRole="'anon'" (click)="menuGoTo('SwitchProfilePage')" [ngClass]="{ 'current' : currentPageName === 'SwitchProfilePage' }">
            <sxy-avatar avatar="anon" class="no-rounding" item-left></sxy-avatar>
            <h3>{{ 'SALAXY.NG.ROLES.anonUser' | sxyTranslate }}</h3>
            <h4>{{ 'SALAXY.NG.ROLES.as' + capitalizeFirstLetter(role) | sxyTranslate }}</h4>
          </button>
          <button ion-item *sxyIfRole="'auth'" (click)="menuGoTo('SwitchProfilePage')" [ngClass]="{ 'current' : currentPageName === 'SwitchProfilePage' }">
            <sxy-avatar [avatar]="getSalaxyUser()" item-left></sxy-avatar>
            <h3>{{ getSalaxyUser().displayName }}</h3>
            <h4>{{ 'SALAXY.NG.ROLES.as' + capitalizeFirstLetter(role) | sxyTranslate }}</h4>
          </button>
          <button ion-item class="btn-signs btn-signout" *ngIf="getSalaxyUser()" (click)="signOut()">
            {{ 'SALAXY.UI_TERMS.logout' | sxyTranslate }}
          </button>
          <button ion-item class="btn-signs btn-signin" *ngIf="!getSalaxyUser()" (click)="signIn()">
            {{ 'SALAXY.UI_TERMS.login' | sxyTranslate }}
          </button>
        </ion-item-group>
        <ion-item-group class="main-nav-group">
          <button ion-item detail-none (click)="menuGoTo('HomePage')" [ngClass]="{ 'current' : currentPageName === 'HomePage' }" margin-top>
            Guidelines
          </button>
          <hr>
          <button ion-item detail-none (click)="menuGoTo('CommonComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'CommonComponentsPage' }">
            Common
          </button>
          <button ion-item detail-none (click)="menuGoTo('MasterDetailComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'MasterDetailComponentsPage' }">
            Master-Detail view
          </button>
          <button ion-item detail-none (click)="menuGoTo('FormControlsComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'FormControlsComponentsPage' }">
            Form Controls
          </button>
          <button ion-item detail-none (click)="menuGoTo('CreditTransferComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'CreditTransferComponentsPage' }">
            Credit Transfers
          </button>
          <button ion-item detail-none (click)="menuGoTo('PipesDirectivesExamplesPage')" [ngClass]="{ 'current' : currentPageName === 'PipesDirectivesExamplesPage' }">
            Pipes &amp; Directives
          </button>
          <hr>
          <button ion-item detail-none (click)="menuGoTo('ContractComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'ContractComponentsPage' }">
            Employment Contracts
          </button>
          <button ion-item detail-none (click)="menuGoTo('ContactComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'ContactComponentsPage' }">
            Contacts
          </button>
          <button ion-item detail-none (click)="menuGoTo('WorkerComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'WorkerComponentsPage' }">
            Workers
          </button>
          <button ion-item detail-none (click)="menuGoTo('TaxCardComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'TaxCardComponentsPage' }">
            Income Tax Cards
          </button>
          <button ion-item detail-none (click)="menuGoTo('CalcComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'CalcComponentsPage' }">
            Salary Calculations
          </button>
          <hr>
          <button ion-item detail-none (click)="menuGoTo('OnboardingComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'OnboardingComponentsPage' }">
            Onboarding
          </button>
          <button ion-item detail-none (click)="menuGoTo('SettingsComponentsPage')" [ngClass]="{ 'current' : currentPageName === 'SettingsComponentsPage' }">
            Household Settings
          </button>
          <hr>
          <button ion-item detail-none (click)="menuGoTo('ReferenceIndexPage')" [ngClass]="{ 'current' : currentPageName === 'ReferenceIndexPage' }">
            Reference Index
          </button>
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav name="mainContent" #mainContent [root]="rootPage" main></ion-nav>
</ion-split-pane>
