<div>
  <ion-list>
    <ion-item>
      <p>{{ 'SALAXY.ION.COMPONENTS.CalcPeriod.dateRange' | sxyTranslate }}:</p>
      <ion-calendar
        name="dateRange"
        type="js-date"
        [(ngModel)]="dateRange"
        [options]="calendarOptions"
        [format]="'YYYY-MM-DD'"
        (onSelectStart)="calendarSelectStart($event)"
        (onChange)="calendarChange($event)">
      </ion-calendar>
    </ion-item>
    <sxy-input-number [(ngModel)]="result.workDayCount" name="workDayCount" label="SALAXY.ION.COMPONENTS.CalcPeriod.workDayCount" type="fixed"></sxy-input-number>
  </ion-list>
  <sxy-form-button label="SALAXY.UI_TERMS.recalculate" (click)="commit()"></sxy-form-button>
</div>
