<h1>Calculation list - simple</h1>
<p>
This calculation list component fetches the data directly using the API methods.
The data is fetched every time the component loads: Obeserve "Fetching calcs" in the debug console.
</p>
<div class="salaxy-row">
    <div class="scol-4">
        <mat-list>
            <h3 md-subheader>Salary calculations (click to show on the right)</h3>
            <mat-list-item *ngFor="let calc of calculations" (click)="setCurrentId(calc.id)" class="click">
                <mat-icon md-list-avatar>euro_symbol</mat-icon>
                <h4 md-line>{{calc.result.totals.totalGrossSalary | currency : 'EUR' : true }} at {{calc.paidAt | date}}</h4>
                <p md-line>{{calc.employer.avatar.displayName || "?" }} => {{calc.worker.avatar.displayName || "?"}}</p>
                <p md-line>{{calc.id}}</p>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="scol-8">
        <pre>{{ current | json }}</pre>
    </div>
</div>
