<p>Pipe transformation for formatting a single date, or a date range when a second date given as param. Parameter value can be a string, JS Date object, Moment etc.</p>

<p><b>Usage like:</b></p>
<code ngNonBindable>
&lt;p&gt;{{ date | salaxyDate }}&lt;/p&gt;<br>
&lt;p&gt;{{ startDate | salaxyDate:endDate }}&lt;/p&gt;
</code>

<p><b>Output samples:</b></p>
<ul>
  <li>Single datetime string:<br>
    <code>"2018-06-01 12:12:12"</code>
    <br>=> <code>{{ "2018-06-01 12:12:12" | salaxyDate }}</code>
  </li>
  <li>Double date strings as a period:<br>
    <code>"2018-06-01", "2018-07-01"</code>
    <br>=> <code>{{ "2018-06-01" | salaxyDate:"2018-07-01" }}</code>
  </li>
</ul>
