<p>Pipe transformation for grouping an object or an array according to the value of a given key.</p>

<p><b>Usage example:</b></p>
<code ngNonBindable>
{{ obj | groupBy:'color' }}
</code>
<p><b>Or with the example object defined straight in template:</b></p>
<code ngNonBindable>
{{ [{ name: "Julia", color: "yellow" },
  { name: "Joe", color: "green" },
  { name: "Anthony", color: "yellow" },
  { name: "Stephen", color: "blue" }] | groupBy:'color' }}
</code>

<p><b>Output sample:</b></p>
<pre>
{{
  [{ name: "Julia", color: "yellow" },
  { name: "Joe", color: "green" },
  { name: "Anthony", color: "yellow" },
  { name: "Stephen", color: "blue" }] | groupBy:'color' | json
}}
</pre>
