<p>Pipe transformation for formatting Iban number in 4 digits segments and leaving only alphanum characters.</p>

<p><b>Usage within a template:</b></p>
<code ngNonBindable>
{{ "FI4250001510000023" | salaxyIban }}
</code>

<p><b>Output samples:</b></p>
<ul>
  <li>Finnish bank account number:<br>
    <code>FI4250001510000023</code>
    <br>=> <code>{{ "FI4250001510000023" | salaxyIban }}</code>
  </li>
  <li>...preformatted:<br>
    <code>FI425 0001 5100 0002 3</code><br>
    => <code>{{ "FI425 0001 5100 0002 3" | salaxyIban }}</code>
  </li>
  <li>...with special chars:<br>
    <code>FI4-25+00=015*100&nbsp;00     023</code>
    <br>=> <code>{{ "FI4-25+00=015*100&nbsp;00     023" | salaxyIban }}</code>
  </li>
  <li>Palkkaus.fi IBAN:<br>
    <code>FI14POYT0002345678</code><br>
    => <code>{{ "FI14POYT0002345678" | salaxyIban }}</code>
  </li>
</ul>
