<p>Pipe transformation for formatting a price into a correctly formatted (euro) price.</p>

<p><b>Usage within a template:</b></p>
<code ngNonBindable>
{{ totals.totalGrossSalary | salaxyPrice }}
</code>

<p><b>Output samples:</b></p>
<ul>
  <li><code>"2200.99"</code> => <code>{{ "2200.99" | salaxyPrice }}</code></li>
  <li><code>"2200.9999"</code> => <code>{{ "2200.9999" | salaxyPrice }}</code></li>
  <li><code>"200200"</code> => <code>{{ "200200" | salaxyPrice }}</code></li>
  <li><code>"200  20#0"</code> => <code>{{ "200  20#0" | salaxyPrice }}</code></li>
</ul>
