<p>Pipe transformation for rending safe string contents as HTML using Angular's DomSanitizer.</p>
<p><b>Please note to pay special attention to whether the actual HTML source content can be regarded safe!</b></p>

<p><b>Usage within a template:</b></p>
<code ngNonBindable>
&lt;ion-card-content [innerHTML]="reportHtml.employer | safeHtml"&gt;&lt;/ion-card-content&gt;
</code>
