<p>Pipe transformation for getting the translation for a given key with an optional interpolation parameter object.<p>
<p>Converts content with translation key ending with '.html' to safe html.</p>
<p>Converts content with translation key ending with '.md' first to html and then to safe html.</p>
<p>If the text contains a variable placeholder like 'Hello {{name}}!' it will be replaced by given parameter.</p>

<p><b>Usage within a template:</b></p>
<code ngNonBindable>
&lt;p&gt;{{ 'SALAXY.NG.TEST.test1' | sxyTranslate }}&lt;/p&gt;
&lt;p&gt;{{ 'SALAXY.NG.TEST.hello' | sxyTranslate: { name: 'John' } }}&lt;/p&gt;
</code>

<p><b>Output samples:</b></p>
<ul>
  <li><code ngNonBindable>{{ 'SALAXY.NG.TEST.test1' | sxyTranslate }}</code><br>
    => <code>{{ 'SALAXY.NG.TEST.test1' | sxyTranslate }}</code></li>
  <li><code ngNonBindable>{{ 'SALAXY.NG.TEST.hello' | sxyTranslate: { name: 'John' } }}</code><br>
    => <code>{{ 'SALAXY.NG.TEST.hello' | sxyTranslate: { name: 'John' } }}</code></li>
</ul>
