<div style="display: block" *ngIf="chartType == 'bar'" [ngClass]="'salaxy-component salaxy-calc-chart chart-container'">
    <canvas baseChart [ngClass]="'chart chart-bar'" width="50" height="50" [datasets]="barChartData" [labels]="chartLabelTable" [options]="barChartOptions" [colors]="chartColors" [chartType]="'bar'">
    </canvas>
</div>

<div style="display: block" *ngIf="chartType == 'pie'" [ngClass]="'salaxy-component salaxy-calc-chart chart-container'">
    <canvas baseChart width="50" height="50" [ngClass]="'chart chart-pie'" [data]="pieData" [labels]="pieChartLabels" [colors]="pieChartColors" [options]="pieChartOptions" [chartType]="'pie'">
    </canvas>
</div>
