/* You can add global styles to this file, and also import other style files */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Contains general CSS functionality that should be OK on all sites.
 * Most significant is the box-sizing Reset. This may affect the underlying sites.
 */
/** 
 * Set the box-sizing to border-box
 * Read more e.g. here: https://css-tricks.com/international-box-sizing-awareness-day/ 
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 
    Functional additions to affect small things around the site 
    Avoid strong styling here
*/
.salaxy-component .click,
.salaxy-component a[ng-click],
.salaxy-component .clickable {
  cursor: pointer; }
.salaxy-component .uppercase {
  text-transform: uppercase; }
.salaxy-component .text-disabled {
  text-decoration: line-through;
  color: #777777; }
.salaxy-component .text-small, .salaxy-component .text-small td, .salaxy-component .text-small th {
  font-size: 0.9em; }
.salaxy-component .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.salaxy-component table {
  width: 100%; }
.salaxy-component td, .salaxy-component th {
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px; }
.salaxy-component td.right, .salaxy-component th.right {
  text-align: right; }
.salaxy-component tr.total td, .salaxy-component tr.total th {
  border-top: 1px solid black;
  border-bottom: 3px double black; }
.salaxy-component .valign-middle {
  vertical-align: middle !important; }
.salaxy-component .hidden {
  display: none; }

/**
 * Salaxy avatar styling logic.
 * Avatar functionality is dependent on Font-Awesome: fa-user and fa-file.
 */
salaxy-avatar {
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  vertical-align: top; }

.salaxy-avatar {
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  text-align: center;
  /* 
       * Icon specific text positioning (text inside an icon).
       * Only supported for some icons 
       */ }
  .salaxy-avatar i {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    text-align: center; }
  .salaxy-avatar img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1.0em;
    height: 1.0em;
    padding: 0.0em;
    border-radius: 0.2em; }
  .salaxy-avatar img.noradius {
    border-radius: 0; }
  .salaxy-avatar strong {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 0.5em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .salaxy-avatar.fa-user strong, .salaxy-avatar .fa-user strong {
    font-size: 0.35em;
    margin-top: 0.7em; }
  .salaxy-avatar.fa-file strong, .salaxy-avatar .fa-file strong {
    font-size: 0.35em;
    margin-top: 0.45em; }

/* 
 * Avatar within a Bootstrap button.
 * Double the size and pull top right to take the entire height of the button without increasing the button height.
 */
.btn salaxy-avatar {
  position: relative;
  margin-left: -0.3em;
  margin-top: -0.6em;
  margin-bottom: -0.5em;
  top: 0.3em;
  left: 0em;
  font-size: 2em; }

/* 
Bootstrap style of rows / columns for simple layouting in demo pages,
*/
.salaxy-container {
  width: 100%;
  padding: 15px; }

.salaxy-row {
  width: 100%;
  clear: both; }
  .salaxy-row .scol-1, .salaxy-row .scol-2, .salaxy-row .scol-3, .salaxy-row .scol-4, .salaxy-row .scol-5, .salaxy-row .scol-6, .salaxy-row .scol-7, .salaxy-row .scol-8, .salaxy-row .scol-9, .salaxy-row .scol-10, .salaxy-row .scol-11, .salaxy-row .scol-12 {
    float: left; }
  .salaxy-row .scol-1 {
    width: 8.33%; }
  .salaxy-row .scol-2 {
    width: 16.66%; }
  .salaxy-row .scol-3 {
    width: 25%; }
  .salaxy-row .scol-4 {
    width: 33.33%; }
  .salaxy-row .scol-5 {
    width: 41.67%; }
  .salaxy-row .scol-6 {
    width: 50%; }
  .salaxy-row .scol-7 {
    width: 58.33%; }
  .salaxy-row .scol-8 {
    width: 66.67%; }
  .salaxy-row .scol-9 {
    width: 75%; }
  .salaxy-row .scol-10 {
    width: 83.33%; }
  .salaxy-row .scol-11 {
    width: 91.67%; }
  .salaxy-row .scol-12 {
    width: 100%; }

/* General formatting for Salaxy components */
.salaxy-component .flex-spacer {
  flex: 1 1 auto; }
.salaxy-component .mat-toolbar-row .mat-button-wrapper {
  color: black; }

/*# sourceMappingURL=salaxy-ng-components.css.map */
