<span *ngIf="isImage" class="salaxy-avatar">
    <img [src]="getModel().url" />
</span>
<span *ngIf="!isImage" class="salaxy-avatar" [ngStyle]="{'background-color': color, 'color': 'white', 'border-radius': '4px' }">
    <strong>{{ initials }}</strong>
</span>
