<div *ngIf="!model">
    <p>
    Valitse laskelma tai luo uusi: <button md-raised-button (click)="createNew()">Luo uusi</button>
    </p>
</div>
<div *ngIf="model">
    <salaxy-calculator [model]="model"></salaxy-calculator>
    <p>
    Valitse työntekijä:
    <mat-select placeholder="List of workers" [(ngModel)]="model.worker.accountId" name="workerList">
        <mat-option *ngFor="let worker of workers" [value]="worker.id">
            {{ worker.avatar.displayName }}
        </mat-option>
    </mat-select>
    &nbsp;&nbsp;&nbsp;
    <button (click)="save()" name="save" color="primary" type="button" md-raised-button>Tallenna</button>
    <button (click)="delete()" name="delete" color="warn" type="button" md-raised-button>Poista</button>
    </p>
</div>
