<button ion-item *ngIf="!isAuthenticated" (click)="signIn()">
  {{ 'SALAXY.ION.COMPONENTS.Login.pleaseLogin' | sxyTranslate }}
  <ion-icon name="log-in" item-left></ion-icon>
</button>
<button ion-item *ngIf="isAuthenticated" (click)="signOut()">
  {{ avatar.displayName }}
  <ion-icon name="log-out" item-left></ion-icon>
</button>
