<p>Similar to ionic NavPop directive excepts doesn't go back but closes master-detail side view. Can be used in details page in master-detail navigation.</p>

<p><b>Usage like:</b></p>
<code>
&lt;button ion-button sxyDetailPop clear large icon-only float-right class="hidden-mobile"&gt;&lt;ion-icon name="close"&gt;&lt;/ion-icon&gt;&lt;/button&gt;
</code>
