<p>Similar to ionic navPush directive. Can be used in master page in master-detail navigation implemented using MasterDetailService. Opens detail page in side view.</p>

<p><b>Usage like:</b></p>
<code>
&lt;button ion-button sxyDetailPush="DetailPushDirectiveExample" [navParams]="navParams" title="Examples for SxyDetailPush"&gt;&lt;/button&gt;
</code>
