<p>Structural directive for conditionally rendering the applied element while there is a HTTP request in progress.</p>

<p><b>Usage like:</b></p>
<code>
&lt;ion-spinner *sxyIfLoading name="bubbles"&gt;&lt;/ion-spinner&gt;
</code>
