<p>Structural directive for conditionally rendering the applied element while the current session's role is equal to the given value.</p>

<p><b>Usage like:</b></p>
<code>
&lt;home-household *sxyIfRole="'household'"&gt;&lt;/home-household&gt;
</code>
