<p>Similar to ionic navPush directive. The target of the push is the master view container in master-detail. Implemented using MasterDetailService.</p>

<p><b>Usage like:</b></p>
<code>
&lt;button ion-button sxyMasterPush="ContactListPage" [navParams]="navParams" title="Contacts List"&gt;&lt;/button&gt;
</code>
