<p>Pushes a page to root navController. Like navPush, but instead of pushing to current navController, finds the the root navController and pushes to it.</p>

<p><b>Usage like:</b></p>
<code>
&lt;button ion-button sxyRootPush="ContactListPage" [navParams]="navParams" title="Contacts List"&gt;&lt;/button&gt;
</code>
