<ion-list>
  <ion-item-group *ngFor="let group of groupedList">
    <ion-item-divider color="light">{{ group.key }}</ion-item-divider>
    <ion-item-sliding *ngFor="let taxCard of group.value">
      <button ion-item>
        <h2>{{ 'SALAXY.ENUM.TaxCardType.' + taxCard.card.type + '.label' | sxyTranslate }}, {{ taxCard.card.taxPercent }}%</h2>
        <p *ngIf="taxCard.card.type == 'sideIncome' || taxCard.card.type == 'noTaxCard' || taxCard.card.type == 'freelancer'">
          {{ 'SALAXY.ION.COMPONENTS.TaxCard.noIncomeLimit' | sxyTranslate }}
        </p>
        <p *ngIf="(taxCard.card.type == 'taxCardA' || taxCard.card.type == 'taxCardB' || taxCard.card.type == 'example') && taxCard.card.incomeLimit != null">
          {{ 'SALAXY.ION.COMPONENTS.TaxCard.incomeLimit' | sxyTranslate }}: {{ taxCard.card.incomeLimit | salaxyPrice }}
        </p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(taxCard.id)">
          <ion-icon name="trash"></ion-icon>
          {{ 'SALAXY.UI_TERMS.delete' | sxyTranslate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-group>
</ion-list>
