<ion-list radio-group [(ngModel)]="model.card.type" (ngModelChange)="updateTaxCardFieldVisibility()"
*ngIf="!model.card.type || model.card.type == 'example' || model.card.type == 'noTaxCard'">
  <ion-item no-lines class="input-group-header">
    <h2>{{ 'SALAXY.ION.COMPONENTS.TaxCard.chooseType' | sxyTranslate }}</h2>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SALAXY.ENUM.TaxCardType.sideIncome.label' | sxyTranslate }}</ion-label>
    <ion-radio value="sideIncome"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SALAXY.ENUM.TaxCardType.taxCardA.label' | sxyTranslate }}</ion-label>
    <ion-radio value="taxCardA"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SALAXY.ENUM.TaxCardType.taxCardB.label' | sxyTranslate }}</ion-label>
    <ion-radio value="taxCardB"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SALAXY.ENUM.TaxCardType.freelancer.label' | sxyTranslate }}</ion-label>
    <ion-radio value="freelancer"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SALAXY.ENUM.TaxCardType.steps.label' | sxyTranslate }}</ion-label>
    <ion-radio value="steps"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SALAXY.ENUM.TaxCardType.noTaxCard.label' | sxyTranslate }}</ion-label>
    <ion-radio value="noTaxCard"></ion-radio>
  </ion-item>
</ion-list>
<ion-list *ngIf="model.card.type && model.card.type != 'example' && model.card.type != 'noTaxCard'">
  <ion-item no-lines>
    <ion-label>{{ 'SALAXY.ION.COMPONENTS.TaxCard.type' | sxyTranslate }}</ion-label>
    <ion-select name="cardType" interface="popover" [(ngModel)]="model.card.type" (ngModelChange)="updateTaxCardFieldVisibility()">
      <ion-option *ngIf="model.card.type == 'example'" value="example">{{ 'SALAXY.ENUM.TaxCardType.example.label' | sxyTranslate }}</ion-option>
      <ion-option value="sideIncome">{{ 'SALAXY.ENUM.TaxCardType.sideIncome.label' | sxyTranslate }}</ion-option>
      <ion-option value="taxCardA">{{ 'SALAXY.ENUM.TaxCardType.taxCardA.label' | sxyTranslate }}</ion-option>
      <ion-option value="taxCardB">{{ 'SALAXY.ENUM.TaxCardType.taxCardB.label' | sxyTranslate }}</ion-option>
      <ion-option value="freelancer">{{ 'SALAXY.ENUM.TaxCardType.freelancer.label' | sxyTranslate }}</ion-option>
      <ion-option value="steps">{{ 'SALAXY.ENUM.TaxCardType.steps.label' | sxyTranslate }}</ion-option>
      <ion-option value="noTaxCard">{{ 'SALAXY.ENUM.TaxCardType.noTaxCard.label' | sxyTranslate }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="salaxy-em" *ngIf="taxCardUISettings.showMainTaxPercent">
    <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.TaxCard.taxPercent' | sxyTranslate }}</ion-label>
    <ion-input name="taxPercent" type="number" [(ngModel)]="model.card.taxPercent"></ion-input>
  </ion-item>
  <ion-item class="salaxy-em" *ngIf="taxCardUISettings.showIncomeLimit">
    <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.TaxCard.incomeLimit' | sxyTranslate }}</ion-label>
    <ion-input name="incomeLimit" type="number" [(ngModel)]="model.card.incomeLimit"></ion-input>
  </ion-item>
  <ion-item *ngIf="taxCardUISettings.showAdditionalTaxPercent">
    <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.TaxCard.taxPercent2' | sxyTranslate }}</ion-label>
    <ion-input name="taxPercent2" type="number" [(ngModel)]="model.card.taxPercent2"></ion-input>
  </ion-item>
  <ion-item *ngIf="taxCardUISettings.showTaxCardStartDate">
    <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.TaxCard.date' | sxyTranslate }}</ion-label>
    <ion-datetime name="date" displayFormat="DD.MM.YYYY" min="{{ today }}" [(ngModel)]="model.card.date"></ion-datetime>
  </ion-item>
  <ion-item class="salaxy-em" *ngIf="taxCardUISettings.showTaxYear">
    <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.TaxCard.forYear' | sxyTranslate }}</ion-label>
    <ion-input name="forYear" type="number" [(ngModel)]="model.card.forYear"></ion-input>
  </ion-item>
  <ion-item *ngIf="taxCardUISettings.showPreviousSalariesPaid">
    <ion-label floating>{{ 'SALAXY.ION.COMPONENTS.TaxCard.previousSalariesPaid' | sxyTranslate }}</ion-label>
    <ion-input name="previousSalariesPaid" type="number"></ion-input>
  </ion-item>
</ion-list>
<div *ngIf="taxCardUISettings.showOtherTaxCardInfo">
  <ion-grid>
    <ion-row>
      <ion-col ion-item no-lines>
        <h2>{{ 'SALAXY.ION.COMPONENTS.TaxCard.stepsIncomeLimits' | sxyTranslate }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col ion-item no-lines>
        {{ 'SALAXY.ION.COMPONENTS.TaxCard.stepIncomePerYear' | sxyTranslate }}
      </ion-col>
      <ion-col ion-item no-lines text-right>
        {{ 'SALAXY.ION.COMPONENTS.TaxCard.stepTaxPercent' | sxyTranslate }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col ion-item no-lines>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.TaxCard.step1Limit' | sxyTranslate }}</ion-label>
      </ion-col>
      <ion-col ion-item no-lines text-right>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.TaxCard.step1Percent' | sxyTranslate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col ion-item no-lines>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.TaxCard.step2Limit' | sxyTranslate }}</ion-label>
      </ion-col>
      <ion-col ion-item>
        <ion-input type="number" text-right maxlength="4" pattern="^[0-9]{1,2}([.]|[,])?[0-9]?$" [(ngModel)]="model.card.taxPercent2"></ion-input>
        <!-- [required]="taxCardUISettings.requireAdditionalTaxPercent" -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col ion-item no-lines>
        <ion-label>{{ 'SALAXY.ION.COMPONENTS.TaxCard.step3Limit' | sxyTranslate }}</ion-label>
      </ion-col>
      <ion-col ion-item>
        <ion-input type="number" text-right maxlength="4" [(ngModel)]="model.card.stepsCardTaxPercent3" pattern="^[0-9]{1,2}([.]|[,])?[0-9]?$"></ion-input>
        <!-- [required]="taxCardUISettings.requireStepsTaxPercent3" -->
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div salaxy-form-buttons>
  <sxy-form-button label="SALAXY.UI_TERMS.save" (click)="save()"></sxy-form-button>
</div>
